<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oley Revive</title>
     <link href="css/jquery-ui-1.8.13.custom.css"
        rel="stylesheet" type="text/css" />  
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/style.css" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
</head>

<body>
	 <div id="wrapper">
        <div class="overlay"></div>
		
		<header>
			<div class="header_top">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="logo">
								<a href="index.html"><img src="img/logo.png"></a>
							</div>
							<div class="close_btn_menu">
								<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
									<span class="hamb-top"></span>
									<span class="hamb-middle"></span>
									<span class="hamb-bottom"></span>
								</button>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="header_contact">
								<div class="phone contact_left">
									<img src="img/top-img1.png">
									<span>TEL: (888) 894-8568</span>
								</div>
								<div class="email contact_left">
									<img src="img/top-img2.png">
									<span>email: <a class="" href="mailto:info@oleyrevive.com">info@oleyrevive.com</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Sidebar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
				<div class="container">
					<ul class="nav sidebar-nav">
						<li class="close_btn">
							<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
								<span class="hamb-top"></span>
								<span class="hamb-middle"></span>
								<span class="hamb-bottom"></span>
							</button>
						</li>
						<li><a class="" href="index.html">Home</a></li>

						<li><a class="" href="about.html">About</a></li>

						<li><a class="" href="products.html">Products</a></li>

						<li><a class="" href="quality.html">Quality</a></li>

						<li><a class="active" href="checkout.html">Cart</a></li>

						<li><a class="" href="contact.html">Contact</a></li>
					</ul>
				</div>	
			</nav>
			<!-- /#sidebar-wrapper -->
		</header>	

        <!-- Page Content -->
      
			<section>
				<div class="about_banner">
					<div class="container">
						<div class="about_banner_inr">
							<div class="abnr-content">
								<h1><img src="img/txt1-brdr.jpg">Cart<img src="img/txt1-brdr.jpg"></h1>
								<h5>Congratulations! You're one step closer to better-looking skin. Use our secure checkout to complete your order.  </h5>
								<img src="img/bnrin-img.png" class="about_banner_img">
							 </div>
						</div>
					</div>
				</div>
			</section>
			
			<section>
				<div class="quality">
					<div class="container">
						<div class="cart">
							<div class="cart_detail">
								<a href="#" class="cart_cs_btn">Continue Shopping</a>
								<div class="cart_title">Your Shopping Cart</div>
								<div class="free-shipping"> <img src="img/free-shipping.jpg" class="confi-img"></div>

								<div class="cart_product_detail">
									<table class="cart_product_table">
										<tbody>
											<tr class="cart_product_table_row">
												<td style="width:200px">Item</td>
												<td>Qty</td>
												<td>Amount</td>
												<td>&nbsp;</td>
											</tr>
                                            {% load humanize %}
											{% for product in cart.products %}
                                                <tr class="cart_product_item">
												<td style="width:200px">
													&nbsp;&nbsp;
													<p class="cart_product_item_title">{{ product.name }}</p>
												</td>
												<td>
													<div style="white-space:nowrap">
														<a class="cart_product_qminbtn" href="{% url 'cart-action' 'sub' %}?p={{ product.key }}">-</a></span>
														<span class="cart_product_qty" id="g349">{{ product.qty }}</span>
														<a class="cart_product_qplusbtn" href="{% url 'cart-action' 'add' %}?p={{ product.key }}">+</a>
													</div>
												</td>
												<td>
													$<span class="cart_product_total">{{ product.total_price|floatformat:2|intcomma  }}</span>
												</td>
												<td style="text-align:center">
													<a href="{% url 'cart-action' 'rm' %}?p={{ product.key }}"><input value="X" class="cart_product_remove" type="button"></a>
												</td>
											</tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
								<div class="cart_form">
									<div class="confidence">
										<p class="txtconfi">Shop With Confidence</p>
										<img src="img/confidence.jpg" class="confi-img">
									</div>
									<form action="" method="post" id="FormToValidate" name="FormToValidate" class="cart_form_form">
										<div class="cart_formlft">
											<div class="form-container">
												<div class="form-top">
													<div class="form-toplft">
														<center><img src="img/hdng-icon1.png" class="hdng-icon"></center>
													</div>
													<div class="form-toprgt">
														<p class="txt2-chk">Shipping Information</p>
													</div>
												</div>
												<div class="form-content1">
													<div class="frmelements">
														<label>First Name<span>*</span></label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon1.png">
																</center>
															</div>
															<input name="firstName" placeholder="First Name" class="required ft-input" type="text" id="firstName">
														</div>
													</div>
													<div class="frmelements">
														<label>Last Name<span>*</span>
														</label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon1.png"></center>
															</div>
															<input name="lastName" placeholder="Last Name" class="required ft-input" type="text">

														</div>
													</div>
													<div class="frmelements">
														<label>Email <span>*</span> </label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon3.png">
																</center>
															</div>

															<input name="email" placeholder="Email Address" class="required ft-input" type="email">
														</div>
													</div>
													<div class="frmelements">
														<label>Address - Line 1<span>*</span>
														</label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon5.png">
																</center>
															</div>

															<input name="shippingAddress1" placeholder="Your Address" class="required ft-input" type="text">
														</div>
													</div>
													<div class="frmelements">
														<label>Address - Line 2</label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon5.png">
																</center>
															</div>
															<input name="shippingAddress2" placeholder="Your Address" class="ft-input" type="text">
														</div>
													</div>

													<div class="frmelements short1">
														<label>Country<span>*</span>
														</label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon7.png">
																</center>
															</div>


															<select name="shippingCountry" class="required ft-input">
																<option value="US" data-cid="">United States</option>
															</select>
														</div>
													</div>

													<div class="frmelements short1">
														<label>State<span>*</span>
														</label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon7.png">
																</center>
															</div>


															<select id="administrative_area_level_1" name="shippingState" class="required">
																<option value="AL" data-cid="">Alabama</option>
																<option value="AK" data-cid="">Alaska</option>
																<option value="AS" data-cid="">American Samoa</option>
																<option value="AZ" data-cid="">Arizona</option>
																<option value="AR" data-cid="">Arkansas</option>
																<option value="CA" data-cid="">California</option>
																<option value="CO" data-cid="">Colorado</option>
																<option value="CT" data-cid="">Connecticut</option>
																<option value="DE" data-cid="">Delaware</option>
																<option value="DC" data-cid="">District of Columbia</option>
																<option value="FM" data-cid="">Federated States of Micronesia</option>
																<option value="FL" data-cid="">Florida</option>
																<option value="GA" data-cid="">Georgia</option>
																<option value="GU" data-cid="">Guam</option>
																<option value="HI" data-cid="">Hawaii</option>
																<option value="ID" data-cid="">Idaho</option>
																<option value="IL" data-cid="">Illinois</option>
																<option value="IN" data-cid="">Indiana</option>
																<option value="IA" data-cid="">Iowa</option>
																<option value="KS" data-cid="">Kansas</option>
																<option value="KY" data-cid="">Kentucky</option>
																<option value="LA" data-cid="">Louisiana</option>
																<option value="ME" data-cid="">Maine</option>
																<option value="MD" data-cid="">Maryland</option>
																<option value="MA" data-cid="">Massachusetts</option>
																<option value="MI" data-cid="">Michigan</option>
																<option value="MN" data-cid="">Minnesota</option>
																<option value="MS" data-cid="">Mississippi</option>
																<option value="MO" data-cid="">Missouri</option>
																<option value="MT" data-cid="">Montana</option>
																<option value="NE" data-cid="">Nebraska</option>
																<option value="NV" data-cid="">Nevada</option>
																<option value="NH" data-cid="">New Hampshire</option>
																<option value="NJ" data-cid="">New Jersey</option>
																<option value="NM" data-cid="">New Mexico</option>
																<option value="NY" data-cid="">New York</option>
																<option value="NC" data-cid="">North Carolina</option>
																<option value="ND" data-cid="">North Dakota</option>
																<option value="MP" data-cid="">Northern Mariana Islands</option>
																<option value="OH" data-cid="">Ohio</option>
																<option value="OK" data-cid="">Oklahoma</option>
																<option value="OR" data-cid="">Oregon</option>
																<option value="PA" data-cid="">Pennsylvania</option>
																<option value="PR" data-cid="">Puerto Rico</option>
																<option value="MH" data-cid="">Republic of Marshall Islands</option>
																<option value="RI" data-cid="">Rhode Island</option>
																<option value="SC" data-cid="">South Carolina</option>
																<option value="SD" data-cid="">South Dakota</option>
																<option value="TN" data-cid="">Tennessee</option>
																<option value="TX" data-cid="">Texas</option>
																<option value="UT" data-cid="">Utah</option>
																<option value="VT" data-cid="">Vermont</option>
																<option value="VI" data-cid="">Virgin Islands of the U.S.</option>
																<option value="VA" data-cid="">Virginia</option>
																<option value="WA" data-cid="">Washington</option>
																<option value="WV" data-cid="">West Virginia</option>
																<option value="WI" data-cid="">Wisconsin</option>
																<option value="WY" data-cid="">Wyoming</option>
															</select>
														</div>
													</div>
													<div class="frmelements short1">
														<label>City<span>*</span>
														</label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon6.png">
																</center>
															</div>


															<input name="shippingCity" placeholder="Your City" class="required ft-input" type="text">
														</div>
													</div>

													<div class="frmelements short1 ">
														<label>Zip Code <span>*</span>
														</label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon8.png">
																</center>
															</div>


															<input placeholder="Zip Code" maxlength="8" onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');" name="shippingZip" class="required ft-input" type="tel">
														</div>
													</div>
													<div class="frmelements">
														<label>Phone Number <span>*</span>
														</label>
														<div class="field">
															<div class="icon-box">
																<center><img src="img/frmicon4.png">
																</center>
															</div>

															<input placeholder="Phone" maxlength="10" minlength="9" onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');" name="phone" class="required ft-input" type="tel">
														</div>
													</div>
												</div>

											</div>
										</div>

										<div class="cart_formrgt">
											<div class="form-container">
												<div class="form-top">
													<div class="form-toplft">
														<center><img src="img/hdng-icon2.png" class="hdng-icon">
														</center>
													</div>
													<div class="form-toprgt">
														<p class="txt2-chk">Payment Information</p>
													</div>
												</div>
												<div class="form-content2">
													<div class="frmelements" style="display: none;">
														<input name="agree_terms" class="chkbx-chk" id="click" checked="" type="checkbox">
														<p class="txt3-chk">Billing Address is the same as Shipping Address</p>
													</div>

													<div class="lwrform">
														<div style="display:block;" id="cardDiv">
															<img src="img/cards.png" class="cards">
															<div class="frmelements">
																<label>Card Type</label>
																<div class="field">


																	<select name="creditCardType" id="cardbox" class="required ft-input noicon" >
																		<option value="">Card Type</option>
																		<option value="visa">Visa</option>
																		<option value="master">Master Card</option>
																		<option value="discover">Discover</option>
																	</select>
																</div>
															</div>
															<div class="frmelements">
																<label>Card Number</label>
																<div class="field">
																	<input name="creditCardNumber" placeholder="**** **** **** ****" id="creditCardNumber" class="required ft-input noicon" maxlength="19" minlength="19" type="text">
																</div>
															</div>

															<div class="frmelements short1">
																<label>Expiration Date</label>
																<div class="field">
																	<select name="expmonth" style="width:30%" class="required ft-input noicon">
																		<option value="">Month</option>
																		<option value="01">(01) January</option>
																		<option value="02">(02) February</option>
																		<option value="03">(03) March</option>
																		<option value="04">(04) April</option>
																		<option value="05">(05) May</option>
																		<option value="06">(06) June</option>
																		<option value="07">(07) July</option>
																		<option value="08">(08) August</option>
																		<option value="09">(09) September</option>
																		<option value="10">(10) October</option>
																		<option value="11">(11) November</option>
																		<option value="12">(12) December</option>
																	</select>
																</div>
															</div>
															<div class="frmelements">
																<label style="visibility: hidden;">Year</label>
																<div class="field">
																	<select name="expyear" style="width:30%" class="required ft-input noicon">
																		<option value="">Year</option>
																		<option value="17">2017</option>
																		<option value="18">2018</option>
																		<option value="19">2019</option>
																		<option value="20">2020</option>
																		<option value="21">2021</option>
																		<option value="22">2022</option>
																		<option value="23">2023</option>
																		<option value="24">2024</option>
																		<option value="25">2025</option>
																		<option value="26">2026</option>
																		<option value="27">2027</option>
																		<option value="28">2028</option>
																		<option value="29">2029</option>
																		<option value="30">2030</option>
																		<option value="31">2031</option>
																		<option value="32">2032</option>
																		<option value="33">2033</option>
																		<option value="34">2034</option>
																		<option value="35">2035</option>
																		<option value="36">2036</option>
																	</select>
																</div>
															</div>

															<div class="frmelements short1">
																<label>CVV</label>
																<div class="field">
																	<input name="CVV" class="required ft-input noicon"  type="tel"  data-validate="cvv" maxlength="3" onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');" data-error-message="Please enter a valid CVV code!">
																</div>
															</div>
															<div class="frmelements short2">
																<a href="#" class="fancybox fancybox.iframe">
																	<p class="txt4-chk"  data-toggle="modal" data-target="#myModal4">What is this?</p>
																</a>
															</div>

														</div>

													</div>
													<div class="clearall"></div>
													<div class="frmelements btn-element full-wth">

														<input value="Rush My Order!" class="cart_form_form_submitBtn" id="cart_form_formSubmit" type="submit">
													</div>

													<center><img src="img/postal-crt.png" class="postal-crt"></center>
												</div>
											</div>
											<center><img src="img/order-freeshipping.jpg" class="postal-crt1">
											</center>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
		
        <!-- /#page-content-wrapper -->
		
		<footer>
			<div class="footer">
				<div class="container">
					<ul>
						<li><a href="" data-toggle="modal" data-target="#myModal">Privacy Policy</a> |</li>
						<li><a href=""  data-toggle="modal" data-target="#myModal2">Terms &amp; Conditions</a> |</li>
						<li><a href=""  data-toggle="modal" data-target="#myModal3">Contact Us</a></li>
					</ul>
					<p class="copyright">2016 © Oley Revive Skin</p>
				</div>
			</div>
		</footer>
		
		
	  <!-- Modal -->
	  
		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog full-screen">
				 
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <iframe src="privacy.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>

		  <div class="modal fade" id="myModal2" role="dialog">
			<div class="modal-dialog full-screen">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<iframe src="terms.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>

		  <div class="modal fade" id="myModal3" role="dialog">
			<div class="modal-dialog full-screen">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <iframe src="add.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>

		  <div class="modal fade" id="myModal4" role="dialog">
			<div class="modal-dialog full-screen">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <iframe src="cvv.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>
    </div>
    <!-- /#wrapper -->
	
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui-1.8.13.custom.min.js" type="text/javascript"></script> 
	<script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.validate.wrapper.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> -->

    <!-- <script src="js/custom.js"></script> -->

	<script>
		$(document).ready(function () {
		  var trigger = $('.hamburger'),
			  overlay = $('.overlay'),
			 isClosed = false;

			trigger.click(function () {
			  hamburger_cross();      
			});

			function hamburger_cross() {

			  if (isClosed == true) {          
				overlay.hide();
				trigger.removeClass('is-open');
				trigger.addClass('is-closed');
				isClosed = false;
			  } else {   
				overlay.show();
				trigger.removeClass('is-closed');
				trigger.addClass('is-open');
				isClosed = true;
			  }
		  }
		  
		  $('[data-toggle="offcanvas"]').click(function () {
				$('#wrapper').toggleClass('toggled');
		  });  
		   


		  	$('#creditCardNumber').keyup(function()
                            {
                                $(this).val(function(i, v)
                                {
                                    var v = v.replace(/[^\d]/g, '').match(/.{1,4}/g);
                                    return v ? v.join(' ') : '';
                                });
                            });

			var rules = {
					firstName: {
                        required: true
                    },
                    lastName: {
                        required: true
                    },
                    email:{
                    	required:true,
                    	email:true
                    },
                    shippingAddress1:true,
                    shippingCountry:true,
                    shippingState:true,
                    shippingCity:true,
                    zipcode:true,
                    phone:{
                    	required: true,
                    	minlength:10,
                        maxlength:10
                    },
                    cardbox: {
                        required: true
                    },
                    creditCardNumber: {
                        required: true,
                        minlength:19,                       
                        maxlength:19
                    },
                   expmonth: {
                        required: true                     
                    },
                   expyear: {
                        required: true
                    },
                    cvv: {
                        required: true,
                        number: true
                    }

            };
            var messages = {
            		firstName: {
                        required:"Please enter first name"
                    },
                    lastName: {
                        required:"Please enter last name"
                    },
                    email : {
                    	required:"Please enter email address",
                    	email: "Enter valid email address ( Ex : abc@xyz.com ) "
                    },
                    shippingAddress1 :{
                    	required:"Please enter Address Line 1"
                    },
                    shippingCountry:{
                    	required:"Please select country"
                    },
                    shippingState:{
                    	required:'Please select state'
                    },	
                    shippingCity:{
                    	required:"Please enter city name"
                    },
                    zipcode:{
                    	required:"Please enter zipcode"
                    },
                    phone:{
                    	required:"Please enter phone no",
                    	 minlength:"Phone number must contain aleast 10 digits",
                        maxlength:"Phone number Can't Greater Then 10"
                    },
                    cardbox: {
                        required:"Please Select card Type"
                    },
                    creditCardNumber: {
                        required: "Credit Card Number is required",
                        minlength:"Credit Card NUmber must contain aleast 16 digits",
                        maxlength:"Credit Card NUmber Can't Greater Then 16"
                    },
                   expmonth: {
                        required: "Please select Exp.Date Month"                     
                    },
                   expyear: {
                        required:  "Please select Exp.Date Year"
                    },
                    cvv: {
                        required: "CVV is required"
                    }

            };

            var validator = new jQueryValidatorWrapper("FormToValidate",rules, messages);
            console.log(validator, rules , messages);

                $("#cart_form_formSubmit").click(function () {
                    if (!validator.validate())
                        return;
                });


		});
	</script>
</body>

</html>
