<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oley Revive</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/style.css" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
</head>

<body>
	 <div id="wrapper">
        <div class="overlay"></div>
		
		<header>
			<div class="header_top">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="logo">
								<a href="index.html"><img src="img/logo.png"></a>
							</div>
							<div class="close_btn_menu">
								<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
									<span class="hamb-top"></span>
									<span class="hamb-middle"></span>
									<span class="hamb-bottom"></span>
								</button>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="header_contact">
								<div class="phone contact_left">
									<img src="img/top-img1.png">
									<span>TEL: (888) 894-8568</span>
								</div>
								<div class="email contact_left">
									<img src="img/top-img2.png">
									<span>email: <a class="" href="mailto:info@oleyrevive.com">info@oleyrevive.com</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Sidebar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
				<div class="container">
					<ul class="nav sidebar-nav">
						<li class="close_btn">
							<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
								<span class="hamb-top"></span>
								<span class="hamb-middle"></span>
								<span class="hamb-bottom"></span>
							</button>
						</li>
						<li><a class="active" href="index.html">Home</a></li>

						<li><a class="" href="about.html">About</a></li>

						<li><a class="" href="products.html">Products</a></li>

						<li><a class="" href="quality.html">Quality</a></li>

						<li><a class="" href="checkout.html">Cart</a></li>

						<li><a class="" href="contact.html">Contact</a></li>
					</ul>
				</div>	
			</nav>
			<!-- /#sidebar-wrapper -->
		</header>	

        <!-- Page Content -->
        <section>
			<div class="banner">
				<div class="container">
					<div class="row">
						<div class="bnr-lft">
							<h2><img src="img/txt1-brdr.jpg" class="txt1-brdr hid414">FLAWLESS<img src="img/txt1-brdr.jpg" class="txt1-brdr hid414"></h2>

							<h1>LOOKING Skin</h1>

							<p>REVERSE, INHIBIT AND DIMINISH THE SIGNS OF AGING. THESE POTENT PRODUCTS ARE PROVEN TO SMOOTH, FIRM, AND BOOST LUMINOSITY </p>

							<a href="{% url 'cart-action' 'add' %}?p=moist" class="bnr-btn">Order Now</a>
						 </div>
					</div>
				</div>
			</div>
		</section>
		
		<section>
			<div class="quick_info">
				<div class="container">
					<div class="quick_info-inner">
						<div class="quick_infoin-lft">
							<img src="img/strip-icon1.png" class="leaf">
						</div>
						<div class="quick_infoin-rgt">
							<p class="txt5">All Natural 
								<br><span>Safe &amp; effective </span>
							</p>
						</div>
					</div>

					<div class="quick_info-inner">
						<div class="quick_infoin-lft">
							<img src="img/strip-icon2.png" class="flag">
						</div>

						<div class="quick_infoin-rgt">
							<p class="txt5">Made in USA 
								<br><span>Premium quality solutions </span>
							</p>
						</div>
					</div>

					<div class="quick_info-inner">
						<div class="quick_infoin-lft">
							<img src="img/strip-icon3.png">
						</div>
						<div class="quick_infoin-rgt">
							<p class="txt5">Quick Shipping 
								<br><span>Orders ship within 24 hours </span>
							</p>
						</div>
					</div>

					<div class="quick_info-inner">
						<div class="quick_infoin-lft">
							<img src="img/strip-icon4.png">
						</div>
						<div class="quick_infoin-rgt">
							<p class="txt5">Need Help  
								<br><span>Call or email us today </span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section>
			<div class="hnf">
				<div class="container">
					<div class="hnf-sec">
						<img src="img/hdng-brdr.png" class="brdr-hnf for-desk">
						<h5>Welcome to Oley Revive</h5>  
						<img src="img/hdng-brdr.png" class="brdr-hnf for-desk">
						<div class="clearall"></div>
						<h6>Advanced Skin Care</h6>   
					</div>

					<h6>Beautiful and healthy skin does more than just making you 
					look good - it empowers us to put our best face forward with renewed confidence.
					Oley Revive anti-aging skincare is scientifically formulated to create healthier, more radiant younger looking skin. Our targeted treatments are powerful, yet safe preparations to correct and treat the signs of aging. </h6>

					<div class="hnfpoints">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="hnf-point1">
								<center><img src="img/sec1-icon1.png" class="hnf-icon"></center>
								<h5>Hydrates </h5>
								<h6>Collagen boosting agents in our products help hydrate 
								your skin, leaving it soft, supple and smooth. </h6>
							</div>
						</div>	
						<div class="col-md-4 col-sm-4 col-xs-12">						
							<div class="hnf-point2">
								<center><img src="img/sec1-icon2.png" class="hnf-icon"></center>
								<h5>Nourishes</h5>
								<h6>Rapid nutrient delivery technology helps nourish the 
								dermal matrix age a cellular level, supporting overall skin health and 
								appearance.  </h6>
							</div>
						</div>	
						<div class="col-md-4 col-sm-4 col-xs-12">	
							<div class="hnf-point3">
								<center><img src="img/sec1-icon3.png" class="hnf-icon"></center>
								<h5>Fortifies </h5>
								<h6>Boosts skin immunity and strengthens the skin's epidermal 
								barrier to fortify it and protect it from future damage. </h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section>
			<div class="power">
				<div class="container">
					<div class="power-lft">
						<div class="gray1-power"><h2>The Power of</h2></div>
						<div class="clearall"></div>
						<h1>Science ANd Nature</h1>
						<div class="gray1-power"><h3>At Your FingerTips!</h3></div>
					</div>
					<div class="power-rgt">
						<p>Oley Revive products are crafted using a blend of hand-selected natural ingredients that are backed by science. It combines the power of active skin firming peptides, herbal extracts, and soothing botanicals to help you achieve skin that's truly youthful.</p>
					</div>
				</div>
			</div>
		</section>
		
		<section>
			<div class="our_product">
				<div class="container">
					<div class="hdng-sec">
						<img src="img/hdng-brdr.png" class="brdr-hdng for-desk">
						<h5>Our Product Range</h5>  
						<img src="img/hdng-brdr.png" class="brdr-hdng for-desk">
						<div class="clearall"></div>
						<h6>Skincare &amp; Beauty Essentials </h6> 
						<center><p>  <img src="img/free-shipping.jpg"></p></center>     
					</div>
					<div class="opr-products">
                        {% with product=products.moist %}
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="oprpro-l">
								<div class="oprpro-btl">
									<center><img src="img/pro1.png" class="pro-opr prod1"></center>
								</div>
								<div class="oprpro-txt">
									<h4>Anti Aging Face Therapy</h4>
									<h6>Promotes collagen production to keep the skin healthy and hydrated. </h6>
								{% if product.on_stock %}
									    <a href="{% url 'cart-action' 'add' %}?p={{ product.key }}" class="btn-opr">Order Now</a>
                                    {% else %}
    									<a href="#" class="btn-opr2">temporarily out of stock</a>
                                    {% endif %}
                                </div>
							</div>
						</div>
                        {% endwith %}
                        {% with product=products.eye %}
						<div class="col-md-6 col-sm-6 col-xs-12">	
							<div class="oprpro-r">
								<div class="oprpro-btl">
									<center><img src="img/pro2.png" class="pro-opr" style="width: 75px; margin: -25px 0px 0px -25px;"></center>
								</div>
								<div class="oprpro-txt">
									<h4>Anti Wrinkle Eye Therapy</h4>
									<h6>Supports under-eye skin health to reduce dark 
									circles, wrinkles and fine lines. </h6>
                                    {% if product.on_stock %}
									    <a href="{% url 'cart-action' 'add' %}?p={{ product.key }}" class="btn-opr">Order Now</a>
                                    {% else %}
    									<a href="#" class="btn-opr2">temporarily out of stock</a>
                                    {% endif %}
								</div>
							</div>
						</div>
                        {% endwith %}
                        {% with product=products.instant %}
						<div class="col-md-6 col-sm-6 col-xs-12">							
							<div class="oprpro-l">
								<div class="oprpro-btl">
									<center><img src="img/pro3prod.png" class="pro-opr" style="width: 60px; margin: -29px 0px 0px;"></center>
								</div>
								<div class="oprpro-txt">
									<h4> Instant Wrinkle Eraser</h4>
									<h6>Tightens skin around the eye area to reduce appearance of the lines, wrinkles, and crow's feet </h6>
									{% if product.on_stock %}
									    <a href="{% url 'cart-action' 'add' %}?p={{ product.key }}" class="btn-opr">Order Now</a>
                                    {% else %}
    									<a href="#" class="btn-opr2">temporarily out of stock</a>
                                    {% endif %}
								</div>
							</div>
						</div>
                        {% endwith %}
                        {% with product=products.lip %}
						<div class="col-md-6 col-sm-6 col-xs-12">	
							 <div class="oprpro-r">
								<div class="oprpro-btl">
									<center><img src="img/pro2prod_2.png" class="pro-opr" style="width: 74px; margin: -27px 0px 0px;"></center>
								</div>
								<div class="oprpro-txt">
									<h4>Lip Plumper</h4>
									<h6>Supports under-Lip health to reduce dark 
									circles, wrinkles and fine lines. </h6>
									{% if product.on_stock %}
									    <a href="{% url 'cart-action' 'add' %}?p={{ product.key }}" class="btn-opr">Order Now</a>
                                    {% else %}
    									<a href="#" class="btn-opr2">temporarily out of stock</a>
                                    {% endif %}
								</div>
							</div>
						</div>
                        {% endwith %}
					</div> 
				 </div>
			</div>
		</section>
	
        <!-- /#page-content-wrapper -->
		
		<footer>
			<div class="footer">
				<div class="container">
					<ul>
						<li><a href="" data-toggle="modal" data-target="#myModal">Privacy Policy</a> |</li>
						<li><a href=""  data-toggle="modal" data-target="#myModal2">Terms &amp; Conditions</a> |</li>
						<li><a href=""  data-toggle="modal" data-target="#myModal3">Contact Us</a></li>
					</ul>
					<p class="copyright">2016 © Oley Revive Skin</p>
				</div>
			</div>
		</footer>
		
	  <!-- Modal -->
	  
		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog full-screen">
				 
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <iframe src="privacy.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>

		  <div class="modal fade" id="myModal2" role="dialog">
			<div class="modal-dialog full-screen">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<iframe src="terms.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>

		  <div class="modal fade" id="myModal3" role="dialog">
			<div class="modal-dialog full-screen">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <iframe src="add.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>
    </div>
    <!-- /#wrapper -->
	
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
{#    <script src="js/custom.js"></script>#}
	<script>
		$(document).ready(function () {
		  var trigger = $('.hamburger'),
			  overlay = $('.overlay'),
			 isClosed = false;

			trigger.click(function () {
			  hamburger_cross();      
			});

			function hamburger_cross() {

			  if (isClosed == true) {          
				overlay.hide();
				trigger.removeClass('is-open');
				trigger.addClass('is-closed');
				isClosed = false;
			  } else {   
				overlay.show();
				trigger.removeClass('is-closed');
				trigger.addClass('is-open');
				isClosed = true;
			  }
		  }
		  
		  $('[data-toggle="offcanvas"]').click(function () {
				$('#wrapper').toggleClass('toggled');
		  });  
		});
	</script>
</body>

</html>
