<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oley Revive</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/style.css" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
</head>

<body>
	 <div id="wrapper">
        <div class="overlay"></div>
		
		<header>
			<div class="header_top">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="logo">
								<a href="index.html"><img src="img/logo.png"></a>
							</div>
							<div class="close_btn_menu">
								<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
									<span class="hamb-top"></span>
									<span class="hamb-middle"></span>
									<span class="hamb-bottom"></span>
								</button>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="header_contact">
								<div class="phone contact_left">
									<img src="img/top-img1.png">
									<span>TEL: (888) 894-8568</span>
								</div>
								<div class="email contact_left">
									<img src="img/top-img2.png">
									<span>email: <a class="" href="mailto:info@oleyrevive.com">info@oleyrevive.com</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Sidebar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
				<div class="container">
					<ul class="nav sidebar-nav">
						<li class="close_btn">
							<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
								<span class="hamb-top"></span>
								<span class="hamb-middle"></span>
								<span class="hamb-bottom"></span>
							</button>
						</li>
						<li><a class="" href="index.html">Home</a></li>

						<li><a class="" href="about.html">About</a></li>

						<li><a class="active" href="products.html">Products</a></li>

						<li><a class="" href="quality.html">Quality</a></li>

						<li><a class="" href="checkout.html">Cart</a></li>

						<li><a class="" href="contact.html">Contact</a></li>
					</ul>
				</div>	
			</nav>
			<!-- /#sidebar-wrapper -->
		</header>	

        <!-- Page Content -->
      
			<section>
				<div class="about_banner">
					<div class="container">
						<div class="about_banner_inr">
							<div class="abnr-content">
								<h1><img src="img/txt1-brdr.jpg">Products<img src="img/txt1-brdr.jpg"></h1>
								<h5>Oley Revive skin care system includes a range of solutions that target and treat the damage caused by both intrinsic and extrinsic factors. </h5>
								<img src="img/bnrin-img.png" class="about_banner_img">
							 </div>
						</div>
					</div>
				</div>
			</section>
			
			<section>
				<div class="product_main">
					<div class="container">
                       {% with product=products.moist %}
						<div class="product_inner">
							<div class="prod_item-lft for for-desk">
								<center><img src="img/pro1prod-mbl.png" class="pro-products">
								</center>
							</div>
							<div class="prod_item-rgt">
								<div class="prod_item-rgt-top">
									<div class="prod_item-rgt-top1">
										<h1>Anti Aging Face Therapy</h1>
										<h4>with Argireline &amp; Vitamin C</h4>
									</div>
									<center><img src="img/pro1prod-mbl.png" class="pro-products for-mob"  style="width: 90px;">
									</center>
									<div class="prod_item-rgt-top2 for for-desk">
									</div>
								</div>
								<p class="product_price">$89.72 </p>
								
								<p class="prod_detail">The perfect compliment to your skin care regimen, Oley Revive Anti Aging contains Argireline &amp; Vitamin C, designed to stimulate collagen production to keep the skin hydrated and healthy. It also helps correct tone and texture leaving the skin looking soft, supple and youthful. </p>
								<ul class="txtlist">
									<li>Stimulates collagen production to boost hydration levels </li>
									<li>Restores the skin's natural ability to absorb and retain moisture</li>
									<li>Diminishes fine lines and wrinkles </li>
								</ul>
								<p></p>

                                {% if product.on_stock %}
								<a href="{% url 'cart-action' 'add' %}?p={{ product.key }}">
									<div class="btn-prod">

										<p class="txt7-prod">Add to Cart</p>

									</div>
								</a>
                                {% else %}
                                    <div class="btn-prod disabler">
										<p class="txt7-prod">Out of Stock</p>
									</div>
                                {% endif %}
								<!-- <p class="txt7-prod">Add to Cart</p> -->

								<div class="shpping-cart1"> <img src="img/free-shipping.jpg" class="confi-img1" >
								</div>
							</div>
						</div>
                        {% endwith %}

                        {% with product=products.eye %}
						<div class="product_inner">
							<div class="prod_item-lft for for-desk">
								<center><img src="img/pro2prod.png" class="pro-products" style="width: 90px;">
								</center>
                                {% if not product.on_stock %}<p class="prod_out_lable" style="color:#d51c5c; font-size:15px;">temporarily out of stock</p>{% endif %}

							</div>
							<div class="prod_item-rgt">
								<div class="prod_item-rgt-top">
									<div class="prod_item-rgt-top1">
										<h1>Anti Wrinkle Eye Therapy</h1>
										<h4>with Aloe Vera &amp; Fruit Extracts</h4>
									</div>
									<center><img src="img/pro2prod.png" class="pro-products for-mob"  style="width: 90px;"> 
									</center>
									<div class="prod_item-rgt-top2 for for-desk">

									</div>
								</div>
								<p class="product_price">$86.97 </p>
								
								<p class="prod_detail">The region around the eyes is surrounded by a thin protective layer, which leaves it vulnerable to damage in form of dark circles, wrinkles, lines and under-eye puffiness. The Anti Wrinkle Eye Therapy has been formulated with Aloe Vera &amp; Fruit Extracts to strengthen and soothe the skin in the under-eye region. </p>
								<ul class="txtlist">
									<li>Strengthens the skin's barrier in the under-eye region </li>
									<li>Reduces dark circles, fine lines, wrinkles and puffiness </li>
									<li>Corrects tone and texture to reveal vibrant looking eyes </li>
								</ul>
								<p></p>



                                {% if product.on_stock %}
								<a href="{% url 'cart-action' 'add' %}?p={{ product.key }}">
									<div class="btn-prod">

										<p class="txt7-prod">Add to Cart</p>

									</div>
								</a>
                                {% else %}
                                    <div class="btn-prod disabler">
										<p class="txt7-prod">Out of Stock</p>
									</div>
                                {% endif %}

								<!-- <p class="txt7-prod">Add to Cart</p> -->

								<div class="shpping-cart1"> <img src="img/free-shipping.jpg" class="confi-img1">
								</div>
							</div>
						</div>
                        {% endwith %}

                        {% with product=products.instant %}
						<div class="product_inner">
							<div class="prod_item-lft for for-desk">
								<center><img src="img/pro3prod.png" class="pro-products" style="width: 90px;">
								</center>
                                {% if not product.on_stock %}<p class="prod_out_lable" style="color:#d51c5c; font-size:15px;">temporarily out of stock</p>{% endif %}

							</div>
							<div class="prod_item-rgt">
								<div class="prod_item-rgt-top">
									<div class="prod_item-rgt-top1">
										<h1> Instant Wrinkle Eraser</h1>
										<h4>with Aloe Vera &amp; Fruit Extracts</h4>
									</div>
									<center><img src="img/pro3prod.png" class="pro-products for-mob"  style="width: 90px;">
									</center>
									<div class="prod_item-rgt-top2 for for-desk">

									</div>
								</div>
								<p class="product_price">$34.99</p>
								
								<p class="prod_detail">The region around the eyes is surrounded by a thin protective layer, which leaves it vulnerable to damage in form of dark circles, wrinkles, lines and under-eye puffiness. The Anti Wrinkle Eye Therapy has been formulated with Aloe Vera &amp; Fruit Extracts to strengthen and soothe the skin in the under-eye region. </p>
								<ul class="txtlist">
									<li>Strengthens the skin's barrier in the under-eye region </li>
									<li>Reduces dark circles, fine lines, wrinkles and puffiness </li>
									<li>Corrects tone and texture to reveal vibrant looking eyes </li>
								</ul>
								<p></p>
								<div>
                                {% if product.on_stock %}
								<a href="{% url 'cart-action' 'add' %}?p={{ product.key }}">
									<div class="btn-prod">

										<p class="txt7-prod">Add to Cart</p>

									</div>
								</a>
                                {% else %}
                                    <div class="btn-prod disabler">
										<p class="txt7-prod">Out of Stock</p>
									</div>
                                {% endif %}

								</div>
								<!--Temp disabled
								<a href="checkout.php?pid=354&pname=Instant Wrinkle Eraser&pprice=34.99">
									<div class="btn-prod">
										<p class="txt7-prod">Add to Cart</p>
									</div>       
								</a>-->


								<div class="shpping-cart1"> <img src="img/free-shipping.jpg" class="confi-img1">
								</div>
							</div>
						</div>
                        {% endwith %}

                        {% with product=products.lip %}
						<div class="product_inner">
							<div class="prod_item-lft for for-desk">
								<center><img src="img/pro2prod_2.png" class="pro-products" style="width: 90px;">
								</center>
								{% if not product.on_stock %}<p class="prod_out_lable" style="color:#d51c5c; font-size:15px;">temporarily out of stock</p>{% endif %}
							</div>
							<div class="prod_item-rgt">
								<div class="prod_item-rgt-top">
									<div class="prod_item-rgt-top1">
										<h1> Lip Plumper </h1>
										<h4>with Aloe Vera &amp; Fruit Extracts</h4>
									</div>
									<center><img src="img/pro2prod_2.png" class="pro-products for-mob" style="width: 90px;">
									</center>
									<div class="prod_item-rgt-top2 for for-desk">

									</div>
								</div>
								<p class="product_price">$24.99</p>
								
								<p class="prod_detail">The region around the eyes is surrounded by a thin protective layer, which leaves it vulnerable to damage in form of dark circles, wrinkles, lines and under-eye puffiness. The Anti Wrinkle Eye Therapy has been formulated with Aloe Vera &amp; Fruit Extracts to strengthen and soothe the skin in the under-eye region. </p>
								<ul class="txtlist">
									<li>Strengthens the skin's barrier in the under-eye region </li>
									<li>Reduces dark circles, fine lines, wrinkles and puffiness </li>
									<li>Corrects tone and texture to reveal vibrant looking eyes </li>
								</ul>
								<p></p>
								<div>
                                {% if product.on_stock %}
								<a href="{% url 'cart-action' 'add' %}?p={{ product.key }}">
									<div class="btn-prod">

										<p class="txt7-prod">Add to Cart</p>

									</div>
								</a>
                                {% else %}
                                    <div class="btn-prod disabler">
										<p class="txt7-prod">Out of Stock</p>
									</div>
                                {% endif %}

								</div>
								<!-- Temp disabled
								<a href="checkout.php?pid=355&pname=Lip Plumper&pprice=24.99">
									<div class="btn-prod">
										<p class="txt7-prod">Add to Cart</p>
									</div>       
								</a>
								-->

								<div class="shpping-cart1"> <img src="img/free-shipping.jpg" class="confi-img1">
								</div>
							</div>
						</div>
                        {% endwith %}
					</div>
				</div>
			</section>
		
        <!-- /#page-content-wrapper -->
		
		<footer>
			<div class="footer">
				<div class="container">
					<ul>
						<li><a href="" data-toggle="modal" data-target="#myModal">Privacy Policy</a> |</li>
						<li><a href=""  data-toggle="modal" data-target="#myModal2">Terms &amp; Conditions</a> |</li>
						<li><a href=""  data-toggle="modal" data-target="#myModal3">Contact Us</a></li>
					</ul>
					<p class="copyright">2016 © Oley Revive Skin</p>
				</div>
			</div>
		</footer>
		
		
	  <!-- Modal -->
	  
		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog full-screen">
				 
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <iframe src="privacy.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>

		  <div class="modal fade" id="myModal2" role="dialog">
			<div class="modal-dialog full-screen">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<iframe src="terms.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>

		  <div class="modal fade" id="myModal3" role="dialog">
			<div class="modal-dialog full-screen">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <iframe src="add.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		  </div>
    </div>
    <!-- /#wrapper -->
	
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
    <script src="js/custom.js"></script>
	<script>
		$(document).ready(function () {
		  var trigger = $('.hamburger'),
			  overlay = $('.overlay'),
			 isClosed = false;

			trigger.click(function () {
			  hamburger_cross();      
			});

			function hamburger_cross() {

			  if (isClosed == true) {          
				overlay.hide();
				trigger.removeClass('is-open');
				trigger.addClass('is-closed');
				isClosed = false;
			  } else {   
				overlay.show();
				trigger.removeClass('is-closed');
				trigger.addClass('is-open');
				isClosed = true;
			  }
		  }
		  
		  $('[data-toggle="offcanvas"]').click(function () {
				$('#wrapper').toggleClass('toggled');
		  });  
		});
	</script>
</body>

</html>
