<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oley Revive</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/style.css" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
</head>

<body>
	 <div id="wrapper">
        <div class="overlay"></div>
		
		<div class="bodycolour">
    <div class="logopart">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 logo_wrapper">
                    <center>
                        <div><img src="img/logo.png" class="img-responsive"></div>
                    </center>
                </div>
            </div>
        </div>
        <div class="container whitepart">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="textone">
                        <div>Congratulations!!! <br>Your order will be shipped out within a few hours</div>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="greenbackground">Items In Your Order</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody><tr>
                            <td class="tableborder_one">
                                <div class="tabletext_one">Product Name</div>
                            </td>
                            <td class="tableborder_one one">
                                <div class="tabletext_one textcenter">Unit Price</div>
                            </td>
                            <td class="tableborder_one two">
                                <div class="tabletext_one textcenter">Qty.</div>
                            </td>
                            <td class="tableborder_two three">
                                <div class="tabletext_one textcenter">Price</div>
                            </td>
                        </tr>
                            
                        
                        
                        
                        
                        {% load humanize %}

                        {% for product in cart.products %}
                        {% if product.image %}
                        <tr>
                            <td class="tableborder_one">
                                <div class="tableimg"><img src="{{ product.image }}" style="max-height:150px; margin:auto;" class="img-responsive"/></div>
                                <div class="tabletext">
                                    <div class="tabletext_two">{{ product.name }}</div>
                                    <div class="tabletext_three">{{ product.descr }}</div>
                                </div>
                            </td>
                            <td class="tableborder_one">
                                <div class="tabletext_four">${{ product.price|floatformat:2|intcomma }}</div>
                            </td>
                            <td class="tableborder_one">
                                <div class="tabletext_four">{{ product.qty }}</div>
                            </td>
                            <td class="tableborder_two">
                                <div class="tabletext_four">${{ product.total_price|floatformat:2|intcomma }}</div>
                            </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                            
                        
                        
                        <tr>
                            <td colspan="3" class="tableborder_one">
                                <div class="tabletext_one fontsize14">Subtotal:</div>
                                <div class="tabletext_one fontsize14">Shipping:</div>
                                <div class="tabletext_one fontsize14">Payment Method:</div>
                            </td>
                            <td class="tableborder_two">
                                <div class="tabletext_four fontsize15">${{ cart.calc_total_price|floatformat:2|intcomma }}</div>
                                <div class="tabletext_four fontsize15">${{ cart.calc_total_shipping|floatformat:2|intcomma }}</div>
                                <div class="tabletext_four fontsize15">Card</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="tableborder_one">
                                <div class="tabletext_one fontsize14">Total :</div>
                            </td>
                            <td class="tableborder_two">
                                <div class="tabletext_four fontsize15"><b>${{ cart.calc_total|floatformat:2|intcomma }}</b></div>
                            </td>
                        </tr>
                    </tbody></table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="greenbackground margin_two">Contact The Support Team</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="support_section">
                        <div class="phonegirlimg">
                            <img src="img/girl.png" class="girlimg">
                        </div>
                        <div class="support_info">
                            <div class="support_info_text"><img src="img/ticket.png" class="img-responsive ticket">Raise
                                a support ticket
                            </div>
                            <div class="support_info_text"><img src="img/mobile.png" class="img-responsive mobile"><span>1-888-894-8568</span>
                            </div>
                            <div class="support_info_text"><img src="img/envelope.png" class="img-responsive message"><a href="https://oleyrevive.com/v2/success/#">info@oleyrevive.com</a>
                            </div>
                            <div class="support_info_text"><img src="img/followbutton.png" class="tweet"></div>
                            <div class="support_info_text"><img src="img/gplus.png" class="img-responsive"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container margin_three">
            <div class="row">
                <div class="col-xs-12">
                    <div class="couponimg">
                        <div class="coupontext">
                            <div class="discount">Get a <span>10% Discount</span> on</div>
                            <div class="purchasetext">your next purchase with this Coupon</div>
                            <div class="couponbutton">Coupon Code: gsdi028gGBK</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
	
        <!-- /#page-content-wrapper -->
		
		<footer>
			<div class="footer-txt">
				<div class="container">
					<div class="foot-cont">
						<p>This product has not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or
							prevent any disease. Results in description are illustrative and may not be typical results and
							individual results may vary. The depictions on this page are fictitious and indicative of potential
							results. Representations regarding the efficacy and safety of
							Oley Revive Anti-Aging Face Therapy have not been scientifically substantiated or evaluated by the Food
							and Drug Administration.
						</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		        <!-- /#page-content-wrapper -->


			<div class="footer">
				<div class="container">
					<ul>
						<li><a href="" data-toggle="modal" data-target="#myModal">Privacy Policy</a> |</li>
						<li><a href=""  data-toggle="modal" data-target="#myModal2">Terms &amp; Conditions</a> |</li>
						<li><a href=""  data-toggle="modal" data-target="#myModal3">Contact Us</a></li>
					</ul>
					<p class="copyright">2016 © Oley Revive Skin</p>
				</div>
			</div>
		</footer>

	  <!-- Modal -->

		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog full-screen">

			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <iframe src="privacy.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>

			</div>
		  </div>

		  <div class="modal fade" id="myModal2" role="dialog">
			<div class="modal-dialog full-screen">

			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<iframe src="terms.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>

			</div>
		  </div>

		  <div class="modal fade" id="myModal3" role="dialog">
			<div class="modal-dialog full-screen">

			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <iframe src="add.html"> </iframe>
				</div>
				<div class="modal-footer">
				</div>
			  </div>

			</div>
		  </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/custom.js"></script>
	<script>
		$(document).ready(function () {
		  var trigger = $('.hamburger'),
			  overlay = $('.overlay'),
			 isClosed = false;

			trigger.click(function () {
			  hamburger_cross();
			});

			function hamburger_cross() {

			  if (isClosed == true) {
				overlay.hide();
				trigger.removeClass('is-open');
				trigger.addClass('is-closed');
				isClosed = false;
			  } else {
				overlay.show();
				trigger.removeClass('is-closed');
				trigger.addClass('is-open');
				isClosed = true;
			  }
		  }

		  $('[data-toggle="offcanvas"]').click(function () {
				$('#wrapper').toggleClass('toggled');
		  });
		});
	</script>
</body>

</html>