@charset "utf-8";
/* CSS Document */

body {
    padding: 0;
    margin: 0;
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
}
div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
    margin: 0;
    padding: 0;
}
table,
tr,
td {
    border: 0;
}
a {
    outline: none;
    color: #333;
    text-decoration: none;
}
a:hover {
    outline: none;
    color: #000;
    text-decoration: none;
}
img {
    border: none;
}
li {
    list-style: none;
}
.container {
    width: 640px;
    margin: 0 auto;
    padding: 0;
}
.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
    background-color: transparent;
}
.full_img {
    max-width: 100%;
    display: block;
}
* {
    box-sizing: border-box;
}
/* -------------
start checkout
-------------- */

#checkout_banner {
    width: 100%;
    float: left;
    padding: 5px 0 0 0;
}
.form_heading {
    float: left;
    width: 100%;
    background: #f7f7f7;
    padding: 0 12px 10px;
}
.off_icon {
    float: left;
    margin: 40px 0 0 0px;
}
.front_text {
    float: left;
    color: #3e3e3e;
    font-size: 43px;
    line-height: 39px;
    margin-top: 35px;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: -1px;
}
.off_text {
    float: left;
    color: #e20000;
    font-size: 80px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 25px;
    margin-left: 3px;
}
.off_text sup {
    font-size: 40px;
}
.green_text {
    float: left;
    color: #74a80f;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 43px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: -1px;
    text-align: left;
}
.green_text span {
    float: left;
    font-size: 35px;
    margin-left: 1px;
}
.shipping_box {
    float: left;
    width: 100%;
    margin: 35px 0;
    padding: 0 12px;
}
.shipping_box img {
    float: left;
}
.shipping_box p {
    float: right;
    color: #000000;
    font-size: 24px;
    margin-left: 5px;
    width: 60%;
    text-align: left;
    line-height: 24px;
}
.shipping_box p span {
    color: #74a80f;
    font-weight: 700;
}
.step_heading {
    float: left;
    width: 100%;
    color: #545454;
    line-height: 55px;
    font-size: 40px;
    padding: 0 12px;
    text-align: left;
    font-weight: 300;
    font-family: 'OpenSansRegular', sans-serif;
}
.step_heading img {
    float: left;
    margin: 0 12px 0 0;
}
.step_heading span {
    color: #000;
    font-weight: 700;
}
/* ------------ chkbox ------------- */

.best_offer {
    float: left;
    width: 100%;
    background: #fef036;
    border: 1px solid #070707;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px 0;
}
.radio_button,
.radio_button_common {
    float: left;
    zoom: 140%;
    margin-left: 10px;
    margin-top: 5px;
}
.pack_type {
    float: left;
    margin-left: 12px;
    color: #242424;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
}
.best_offer label,
.pack_details label {
    cursor: pointer;
}
.pack_type strong {
    font-weight: 700;
}
.pack_type span {
    color: #242424;
    font-size: 26px;
}
.price_box {
    float: right;
    color: #000;
    font-size: 24px;
    margin-right: 30px;
    line-height: 26px;
}
.price_box_two {
    float: left;
    width: 61%;
    margin: 35px 0 0 0;
}
.pack_details {
    float: left;
    width: 100%;
    padding: 17px 0;
    border-bottom: 1px solid #e2e2e2;
}
/* ------------ checkout 2 ------------- */

#shipping_banner {
    width: 100%;
    float: left;
    padding: 5px 0 0;
}
.no_bottom_space {
    padding-bottom: 0;
}
#shipping_banner .step_heading {
    padding: 30px 9px;
}
.form_box {
    width: 100%;
    float: left;
    padding: 0 9px;
}
.full_input_box,
.half_input_box {

    float: left;
    width: 100%;
    border: 1px solid #c5c2bd;
    margin: 11px auto;
    background: #fff;
    height: 57px;
}
.icon_box {
    float: left;
    width: 60px;
    background: #b9e177;
    height: 100%;
    text-align: center;
}
.icon_box img {
    margin-top: 10px;
}
.full_input_box input,
.half_input_box input {
    float: right;
    color: #000000 !important;
    font-size: 30px;
    font-weight: 300;
    border: none;
    outline: none;
    height: 100%;
    width: 88%;
    font-family: 'Open Sans', sans-serif;
}
.full_input_box select,
.half_input_box select {
    float: right;
    color: #000000 !important;
    font-size: 30px;
    font-weight: 300;
    border: none;
    outline: none;
    height: 100%;
    width: 90%;
    background: url(../images/select.png) no-repeat 95% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Open Sans', sans-serif;
}
.half_input_box {
    width: 48%;
}
.half_input_box select,
.half_input_box input {
    width: 75%;
}
/* ------------ 
checkout 3
------------- */

#billing_banner .form_heading {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    background-color: #fff;
}
.total_info_wrap {
    float: left;
    margin: 80px 20px 20px 0px;
}
.item_details {
    float: left;
    color: #464646;
    font-size: 30px;
    line-height: 28px;
    margin-top: 25px;
    text-align: left;
    font-weight: 700;
}
.item_details span {
    color: #90c23e;
}
.item_buy {
    float: left;
    color: #464646;
    font-size: 19px;
    line-height: 28px;
    margin-top: 5px;
    text-align: left;
    font-weight: 600;
}
.price_box_two li {
    float: left;
    width: 60%;
    color: #464646;
    font-size: 23px;
    line-height: 28px;
    font-weight: 400;
    text-align: left;
}
.price_box li,
.total_price li {
    float: left;
    width: 60%;
    color: #464646;
    font-size: 23px;
    line-height: 28px;
    font-weight: 400;
    text-align: left;
}
.price_box li:nth-child(2),
.price_box li:nth-child(5) {
    width: 40%;
    text-align: right;
}
.price_box_two li:nth-child(2),
.price_box_two li:nth-child(5) {
    width: 40%;
    text-align: right;
}
hr {
    height: 1px;
    border: none;
    background-color: #bfbfbf;
    float: left;
    width: 100%;
}
.price_box li span {
    color: #90c23e;
    width: 100%;
}
.price_box_two li span {
    color: #90c23e;
    width: 100%;
}
.total_price {
    float: left;
    width: 62%;
    margin: 12px 0 0 0;
    background-color: #90c23e;
    padding: 12px 8px;
}
.total_price li {
    width: 50%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.total_price li:nth-child(2) {
    text-align: right;
}
#billing_banner .step_heading {
    background-color: #f7f7f7;
    border-top: 1px solid #efefef;
    padding-top: 8px;
    padding-bottom: 8px;
}
.bill_from {
    float: left;
    width: 100%;
    padding: 20px 9px;
}
.togglediv {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 28px;
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 30px;
    text-align: left;
}
.togglediv input {
    float: left;
    zoom: 180%;
    margin: 2px 2px 10px 0;
}
.cardsdiv {
    float: left;
    color: #3e3e3e;
    font-size: 30px;
    margin: 5px 0 15px 0;
    text-align: left;
}
.cardsdiv img {
    vertical-align: middle;
}
.cvv {
    float: left;
    color: #000000;
    font-size: 20px;
    margin: 22px 0 0 25px;
    text-decoration: underline !important;
    text-align: right;
}
/*---------------------
CSS FOR UPSELL PAGE
----------------------*/

.upsell_heading {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #0c0a0a;
    line-height: 32px;
    margin: 25px 0 0 0;
}
.upsell_heading span {
    color: #ff0000;
}
.upsell_subheading {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #0c0a0a;
    line-height: 32px;
    margin: 20px 0 0 0;
}
.product_heading {
    float: left;
    width: 100%;
    background: #f3f3f3;
    border-top: 2px solid #ebebeb;
    color: #0c0b0b;
    font-size: 17px;
    text-align: center;
    line-height: 22px;
    padding: 15px 0;
    margin: 25px 0 0 0;
    font-weight: bold;
}
.upsell_product {
    margin: 25px 0;
}
a.upsell_button {
    float: left;
    width: 95%;
    margin: 2.5%;
    border: 2px solid #2b5b04;
    background: #397f00;
    box-sizing: border-box;
    text-align: center;
    padding: 25px 10px;
    -webkit-box-shadow: inset 0px 0px 4px 1px #a1da56;
    box-shadow: inset 0px 0px 4px 1px #a1da56;
    color: #fff;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: bold;
}
a.upsell_button span {
    text-transform: lowercase;
}
a.upsell_button img {
    vertical-align: text-bottom;
    margin-top: -2px;
}
.secure_text {
    float: left;
    width: 100%;
    color: #151515;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}
.decline_text {
    float: left;
    width: 100%;
    color: #366ccc;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 30px 0 10px 0;
}
.upsell_paragraph {
    float: left;
    width: 100%;
    color: #1a1a1a;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 15px 0;
}
.upsell_paragraph span {
    font-weight: 700;
}
.warranty_box {
    float: left;
    width: 96%;
    box-sizing: border-box;
    border: 5px solid #5b5b5b;
    margin: 4% 0 0 2%;
}
.warranty_heading {
    float: left;
    width: 100%;
    text-align: center;
    color: #397f00;
    font-size: 48px;
    font-weight: 700;
    padding: 15px 0;
}
.warranty_bar {
    float: left;
    width: 100%;
    background: #56dbf0;
    color: #fff;
    font-size: 30px;
    padding: 7px 0 10px 0;
    text-align: center;
}
a.warranty_button {
    float: left;
    width: 92%;
    margin: 5% 4%;
    border: 2px solid #2b5b04;
    background: #397f00;
    box-sizing: border-box;
    text-align: center;
    padding: 35px 10px;
    -webkit-box-shadow: inset 0px 0px 4px 1px #a1da56;
    box-shadow: inset 0px 0px 4px 1px #a1da56;
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
/* ------------ footer ------------- */

.footer {
    width: 100%;
    height: 100px;
    background: #fff;
}
.fixed_button {
    display: block;
    padding: 0 0;
    max-width: 100%;
}
.footer_text {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #2c2c2c;
    text-align: center;
    margin: 0 auto;
    padding: 4% 0;
}
.proceed_button {
    cursor:pointer;
    display: inline;
    margin: 4% auto 0;
}
.button_submit {
    background: none;
    outline: none;
    border: none;
}
.border_one {
    border-top: 2px solid #eaeaea;
    margin: 4% auto 0;
    width: 100%;
}
.footer_popup_text p {
    font-family: "Cambria", sans-serif;
}