@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Cambria';
    src: url('../fonts/Cambria.ttf') format('ttf');
}
@font-face {
    font-family: 'geomanistmedium';
    src: url('../fonts/geomanist-medium-webfont.woff2') format('woff2'), url('../fonts/geomanist-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geomanistbold';
    src: url('../fonts/geomanist-bold-webfont.woff2') format('woff2'), url('../fonts/geomanist-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geomanist_regularregular';
    src: url('../fonts/geomanist-regular-webfont.woff2') format('woff2'), url('../fonts/geomanist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geomanistbook';
    src: url('../fonts/geomanist-book-webfont.woff2') format('woff2'), url('../fonts/geomanist-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}