@charset "utf-8";
/* CSS Document */

body {
    padding: 0;
    margin: 0;
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'OpenSansRegular';
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'), url('../fonts/OpenSansRegular.woff2') format('woff2'), url('../fonts/OpenSansRegular.woff') format('woff'), url('../fonts/OpenSansRegular.ttf') format('truetype'), url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
    margin: 0;
    padding: 0;
}
table,
tr,
td {
    border: 0;
}
a {
    outline: none;
    color: #333;
    text-decoration: none;
}
a:hover {
    outline: none;
    color: #000;
    text-decoration: none;
}
img {
    border: none;
}
li {
    list-style: none;
}
.container {
    width: 640px;
    margin: 0 auto;
    padding: 0;
}
.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
    background-color: transparent;
}
/* -------------
start section1
-------------- */

#banner_area {
    width: 100%;
    background: url(../images/banner_background.jpg) center top no-repeat;
    position: relative;
    height: 900px;
    float: left;
}
.logo {
    float: right;
    margin-top: 30px;
    padding: 0px 44px 0 0;
}
.heading_wrap {
    float: right;
    width: 50%;
    padding: 18px 0 8px 0;
    box-sizing: border-box;
    text-align: left;
    text-transform: uppercase;
    font-family: 'geomanistmedium';
}
.heading_wrap .text_one {
    font-size: 50px;
    color: #92c126;
    line-height: 46px;
}
.heading_wrap .text_two {
    font-size: 40px;
    color: #fff;
    line-height: 42px;
}
.text_three {
    font-family: 'geomanist_regularregular';
    font-size: 31px;
    color: #abab43;
    line-height: 26px;
    text-align: right;
    width: 100%;
    float: left;
    padding: 4px 40px 0 0;
    box-sizing: border-box;
}
.product,
.hurry {
    float: left;
    max-width: 100%;
    display: block;
    margin: 3px 0 0 0;
}
.hurry {
    float: right;
    margin: 40px 28px 0 0;
}
ul.bullet_point {
    float: left;
    width: 100%;
    padding: 0px 12px 0;
    box-sizing: border-box;
}
ul.bullet_point li {
    color: #bcbb4a;
    font-size: 29px;
    line-height: 33px;
    padding: 0 0 0 46px;
    text-align: left;
    background: url(../images/tik.png) no-repeat left top;
    font-weight: 400;
    float: left;
    margin: 0px 0 10px 0;
    width: 100%;
    box-sizing: border-box;
}
ul.bullet_point li span {
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    float: left;
    padding: 0 0 5px 0;
    width: 100%;
}
ul.bullet_point li:nth-child(2),
ul.bullet_point li:nth-child(3) {
    margin: 22px 0 10px 0;
}
/* -------------
start section2
-------------- */

#how_does_section {
    width: 100%;
    background: #fff url(../images/how_does_section_background.jpg) center top repeat-x;
    position: relative;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}
.how_does_heading,
.specification_heading {
    font-family: 'geomanistbold';
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding: 35px 0 0 0;
}
.how_does_heading span,
.specification_heading span {
    color: #91c125;
    text-transform: uppercase;
}
.how_does_text_one,
.sec3-txt1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #000;
    text-align: center;
    letter-spacing: -0.7px;
    margin: 0 auto;
    padding: 10px 0 35px 0;
    width: 100%;
}
.how_does_section_ul {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
}
.how_does_section_img {
    float: left;
    width: 50%;
}
.how_does_section_img img {
    float: left;
    max-width: 100%;
    display: block;
}
.how_does_text {
    float: left;
    list-style: none;
    color: #171717;
    font-family: 'geomanistbold';
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: left;
    padding: 80px 0 0 0;
    width: 50%;
    box-sizing: border-box;
}
.how_does_section_ul:nth-of-type(2) .how_does_text {
    text-align: right;
    padding: 80px 10px 0 0;
}
.how_does_section_ul:nth-of-type(3) .how_does_text {
    padding: 120px 10px 0 0;
}
.how_does_box {
    float: left;
    width: 100%;
    background-color: #171717;
    padding: 15px 0;
    margin-top: 13px;
}
.how_does_button_text {
    font-family: 'geomanistbold';
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
}
.how_does_button_text span {
    color: #91c125;
}
/* -------------
start section3
-------------- */

#product_specification {
    width: 100%;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}
.sec3-txt1 {
    width: 100%;
    float: left;
    padding: 10px 0 5px 0;
}
.specification_bg_one,
.specification_bg_two,
.specification_bg_three,
.specification_bg_four,
.specification_bg_five,
.specification_bg_six {
    float: left;
    width: 100%;
    background: url(../images/specification_bg_one.jpg) no-repeat center top;
    height: 162px;
    margin: 0 0 6px 0;
}
.specification_bg_one p,
.specification_bg_three p,
.specification_bg_five p,
.specification_bg_two p,
.specification_bg_four p,
.specification_bg_six p {
    float: left;
    font-size: 14px;
    color: #000;
    line-height: 17px;
    font-weight: 400;
    padding: 5px 0 0 200px;
}
.specification_bg_one h5,
.specification_bg_three h5,
.specification_bg_five h5,
.specification_bg_two h5,
.specification_bg_four h5,
.specification_bg_six h5 {
    float: left;
    font-size: 26px;
    color: #000;
    line-height: 28px;
    font-weight: 700;
    padding: 15px 0 0 200px;
}
.specification_bg_two p,
.specification_bg_four p,
.specification_bg_six p {
    text-align: right;
    padding: 5px 0 0 0;
    width: 68%;
}
.specification_bg_two h5,
.specification_bg_four h5,
.specification_bg_six h5 {
    padding: 39px 0 0 0;
    text-align: right;
    width: 68%;
}
.specification_bg_three h5 {
    padding-top: 55px;
}
.specification_bg_five h5 {
    padding-top: 42px;
}
.specification_bg_one {
    margin: -69px 0 6px 0;
}
.specification_bg_two {
    background: url(../images/specification_bg_two.jpg) no-repeat top right;
}
.specification_bg_three {
    background: url(../images/specification_bg_three.jpg) no-repeat center top;
}
.specification_bg_four {
    background: url(../images/specification_bg_four.jpg) no-repeat center top;
}
.specification_bg_five {
    background: url(../images/specification_bg_five.jpg) no-repeat center top;
}
.specification_bg_six {
    background: url(../images/specification_bg_six.jpg) no-repeat center top;
}
/* -------------
start section4
-------------- */

#virtual_reality {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.mobile_slider {
    margin: 20px 0 0 0;
    float: left;
    width: 100%;
}
.slide_box_one,
.slide_box_two,
.slide_box_three,
.slide_box_four,
.slide_box_five,
.slide_box_six {
    width: 100%;
    background: url(../images/visit_virtual_tours_of_national_parks.jpg) no-repeat center top;
    height: 442px !important;
}
.slider_one p {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin: 160px 0 0 0;
    text-transform: uppercase;
    color: #fff;
    line-height: 36px;
    background: url(../images/transparent_background.png) repeat-x center top;
    padding: 25px 0 0;
    box-sizing: border-box;
    height: 118px;
}
.slide_box_two {
    background: url(../images/experience_sports_like_never_before.jpg) no-repeat center top;
}
.slide_box_three {
    background: url(../images/visit_outer_space_and_experience_mars.jpg) no-repeat center top;
}
.slide_box_four {
    background: url(../images/play_thrilling_games.jpg) no-repeat center top;
}
.slide_box_five {
    background: url(../images/watch_your_favorite_tv_shows_and_movies.jpg) no-repeat center top;
}
.slide_box_six {
    background: url(../images/thousands_of_virtual_reality_videos_on_youtube.jpg) no-repeat center top;
}
#virtual_reality .how_does_box {
    margin-top: 0;
    padding: 15px 0;
}
/* -------------
start section5
-------------- */

#compatible_section {
    width: 100%;
    background: url(../images/compatible_apps_background.jpg) center top no-repeat;
    position: relative;
    height: auto;
    float: left;
}
.compatible_box {
    background: url(../images/compatible_black_background.png) center top repeat;
    float: left;
    margin: 5% 5%;
    width: 90%;
    padding: 25px 0px;
}
.compatible_heading {
    font-family: 'geomanistbold';
    font-size: 50px;
    text-align: center;
    line-height: 43px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
}
.compatible_section_left,
.compatible_section_right {
    display: inline-block;
    float: left;
    margin: 0;
    width: 50%;
}
.compatible_section_right ul.compatible_section_list {
    padding: 28px 0 0 40px;
}
ul.compatible_section_list {
    width: 100%;
    padding: 28px 0 0 18px;
    float: left;
    box-sizing: border-box;
}
ul.compatible_section_list li {
    background: url(../images/green-tick2.png) left 15px no-repeat;
    list-style: none;
    text-align: left;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.7px;
    color: #fff;
    margin: 0 0 0 0;
    padding: 10px 0 10px 31px;
    box-sizing: border-box;
}
.brands {
    max-width: 100%;
    display: block;
    margin: 25px auto 0;
}
.img_full {
    max-width: 100%;
    display: block;
}
/* -------------
start section6
-------------- */

#say_no_section {
    width: 100%;
    background-color: #fff;
    float: left;
    padding: 25px 12px;
    box-sizing: border-box;
}
.say_no_heading {
    float: left;
    font-family: 'geomanistbold';
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: 0 auto;
    width: 100%;
}
.say_no_heading span {
    color: #ff0000;
}
ul.say_no_list {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 40px 0 0 0;
}
ul.say_no_list li {
    background: url(../images/red-tick.png) left 13px no-repeat;
    list-style: none;
    font-family: 'geomanistbook';
    font-size: 30px;
    line-height: 50px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 0 0;
    padding: 0 0 12px 40px;
}
ul.say_no_list li span {
    font-family: 'geomanistbold';
    color: #ff0000;
}
/* -------------
start section7
-------------- */

#best_secret_section {
    width: 100%;
    background: url(../images/reality_secret_background.jpg) center top no-repeat;
    position: relative;
    height: 717px;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
    background-size: cover;
}
#best_secret_section .specification_heading {
    color: #fff;
}
.best_secret_text_one {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    font-weight: 400;
    color: #fff;
    float: left;
    margin: 20px auto 30px;
    width: 100%;
    text-align: center;
}
.best_secret_text_one span {
    font-weight: 700;
}
.best_secret_text_two {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #91c125;
    letter-spacing: 0.85px;
    margin: 0 auto 25px;
}
/* -------------
start section8
-------------- */

#hottest_section {
    width: 100%;
    background: #91c125;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}
#hottest_section .specification_heading {
    color: #fff;
}
#hottest_section .specification_heading span {
    color: #000;
}
.presi {
    margin: 20px auto 30px;
}
.hottest_right_box_text_two {
    font-size: 24px;
    text-align: left;
    line-height: 35px;
    font-weight: 700;
    color: #fff;
    float: left;
    width: 100%;
    margin-top: 30px;
}
.sec8-list {
    float: left;
    width: 100%;
    margin: 25px 0 25px 0;
}
.sec8-list li {
    float: left;
    width: 50%;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    background: url(../images/blacktik.png) no-repeat left center;
    padding-left: 36px;
    box-sizing: border-box;
    margin: 10px 0;
    text-transform: uppercase;
}
/* -------------
start section9
-------------- */

#section-nine {
    width: 100%;
    background: #fff;
    float: left;
}
.table-text {
    float: left;
    width: 100%;
    background: url(../images/table.jpg) no-repeat center top;
    height: 481px;
    margin-top: 20px;
}
.sec9-txt1 {
    float: left;
    text-transform: uppercase;
    font-family: 'geomanistbold';
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #000;
    margin: 0 auto;
    padding: 24px 0 0 67px;
}
.sec9-txt1 span {
    color: #83b82b;
}
ul.sec9-list {
    padding: 33px 0 0 35px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
ul.sec9-list li {
    float: left;
    list-style: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    height: 73px;
    color: #000;
    text-align: left;
    clear: both;
    padding: 24px 0;
    box-sizing: border-box;
}
/* -------------
start section10
-------------- */

#real_user {
    width: 100%;
    background: #f4ffdb;
    float: left;
}
#real_user .specification_heading {
    margin-bottom: 25px;
}
.view_box,
.view_box1,
.view_box2 {
    width: 100%;
    background-color: #91c125;
    float: left;
    height: 295px;
}
.left_view_box {
    float: left;
    width: 45%;
}
.white_quotation {
    margin: 20px auto 0;
}
.v1 {
    margin: 15px auto 5px;
}
.real_user_text_one {
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #fff;
    margin: 2px auto 18px;
    width: 100%;
}
.right_view_box {
    float: left;
    width: 55%;
    box-sizing: border-box;
    padding: 20px 0;
    border-left: 1px solid #fff;
    height: 295px;
}
.real_user_text_two {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.6px;
    float: left;
    width: 100%;
    color: #fff;
    padding: 12px 8px 12px;
    background-color: #83b319;
    box-sizing: border-box;
}
.real_user_text_three {
    font-size: 24px;
    float: left;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.6px;
    color: #fff;
    width: 100%;
    padding: 20px 20px 0 10px;
    box-sizing: border-box;
}
.view_box1 .real_user_text_two {
    background-color: #141414;
}
.view_box1 {
    background-color: #242424;
}
.view_box2 {
    height: 380px;
}
.view_box2 .right_view_box {
    height: 380px;
}
#real_user .how_does_box {
    margin-top: 0;
}
/* -------------
start section bottom
-------------- */

#bottom_section {
    width: 100%;
    /*background: url(../images/bottom.jpg) center top no-repeat;*/
    
    height: 919px;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}
.bottom_text_one {
    font-family: 'geomanistmedium';
    font-size: 48px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 140px 0 0 0;
    width: 100%;
}
.bottom_text_one span {
    font-family: 'geomanistbold';
    color: #91c125;
    font-size: 78px;
    line-height: 75px;
}
#bottom_section ul {
    float: left;
    width: 100%;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
}
#bottom_section ul li {
    float: left;
    width: 100%;
    background: url(../images/tik.png) left 5px no-repeat;
    padding: 0 0 0 46px;
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    line-height: 30px;
    margin: 10px 0;
    box-sizing: border-box;
}
#bottom_section ul li span {
    font-weight: 300;
    color: #bcbb4a;
    font-size: 24px;
    line-height: 26px;
}
/* ------------ footer ------------- */

.footer {
    width: 100%;
    height: 100px;
    background: #fff;
}
#cta {
    width: 100%;
    padding: 35px 0 30px 0;
    background: #000;
    position: fixed;
    bottom: 0%;
    left: 0px;
    z-index: 99999;
    transition: bottom 1s;
}
.fixed_button {
    display: block;
    padding: 0 0;
    max-width: 100%;
}
.footer_text {
    font-size: 16px;
    line-height: 28px;
    color: #2c2c2c;
    text-align: center;
    margin: 0 auto;
    padding: 4% 0;
}
/*================ END FOOTER=================
pulse animation
==============================================
*/

.pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
}
/*---start-slick themes.css----*/

@font-face {
    font-family: 'slick';
    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    top: 48%;
    display: block;
    width: 37px;
    height: 63px;
    padding: 0;
    margin-top: -20px;
    outline: none;
    border: none;
    z-index: 999;
    cursor: pointer;
}
.slick-prev {
    left: 4%;
    background: url(../images/left_arrow.png) no-repeat left center;
}
.slick-next {
    right: 4%;
    background: url(../images/right_arrow.png) no-repeat left center;
}
/*---end of slickthemes.css----*/

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite_black_tick {
    width: 26px;
    height: 21px;
    background-position: -5px -5px;
}
.sprite_bottom {
    width: 640px;
    height: 945px;
    background-position: -5px -36px;
}
.sprite_brands {
    width: 587px;
    height: 132px;
    background-position: -5px -991px;
}
.sprite_green_tick_two {
    width: 23px;
    height: 17px;
    background-position: -5px -1133px;
}
.sprite_hurry {
    width: 167px;
    height: 168px;
    background-position: -5px -1160px;
}
.sprite_logo {
    width: 248px;
    height: 30px;
    background-position: -5px -1338px;
}
.sprite_not {
    width: 561px;
    height: 183px;
    background-position: -5px -1378px;
}
.sprite_product {
    width: 440px;
    height: 214px;
    background-position: -5px -1571px;
}
.sprite_red_tick {
    width: 29px;
    height: 22px;
    background-position: -5px -1795px;
}
.sprite_how_does_img_one {
    width: 229px;
    height: 219px;
    background-position: -5px -1827px;
}
.sprite_how_does_img_two {
    width: 319px;
    height: 219px;
    background-position: -5px -2056px;
}
.sprite_how_does_img_three {
    width: 253px;
    height: 252px;
    background-position: -5px -2285px;
}
.sprite_specification_bg_one {
    width: 607px;
    height: 162px;
    background-position: -5px -2547px;
}
.sprite_specification_bg_two {
    width: 614px;
    height: 162px;
    background-position: -5px -2719px;
}
.sprite_specification_bg_three {
    width: 609px;
    height: 162px;
    background-position: -5px -2891px;
}
.sprite_specification_bg_four {
    width: 614px;
    height: 162px;
    background-position: -5px -3063px;
}
.sprite_specification_bg_five {
    width: 606px;
    height: 162px;
    background-position: -5px -3235px;
}
.sprite_specification_bg_six {
    width: 615px;
    height: 162px;
    background-position: -5px -3407px;
}
.sprite_specification_pro {
    width: 587px;
    height: 510px;
    background-position: -5px -3579px;
}
.sprite_stars {
    width: 79px;
    height: 21px;
    background-position: -5px -4099px;
}
.sprite_tick {
    width: 36px;
    height: 28px;
    background-position: -5px -4130px;
}
.sprite_v1 {
    width: 142px;
    height: 143px;
    background-position: -5px -4168px;
}
.sprite_v2 {
    width: 142px;
    height: 143px;
    background-position: -5px -4321px;
}
.sprite_v3 {
    width: 142px;
    height: 143px;
    background-position: -5px -4474px;
}
ul.bullet_point li {
    background: none;
    padding-left: 0px;
}
ul.bullet_point li i {
    float: left;
    margin-right: 10px;
}
ul.bullet_point li .bullet_right {
    float: left;
    width: 90%;
}
ul.compatible_section_list li {
    background: none;
    padding-left: 0px;
}
ul.compatible_section_list li .sprite_green_tick_two {
    display: inline-block;
    margin-right: 5px;
}
.brands {
    max-width: 100%;
    display: block;
    margin: 25px auto 0;
    float: none;
}
#compatible_section center {
    float: left;
    width: 100%;
    display: block;
    text-align: center;
}
ul.say_no_list li {
    background: none;
    padding-left: 0px;
}
ul.say_no_list li i {
    display: inline-block;
}
#say_no_section center {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}
.sprite_not {
    margin: 0 auto;
}
.sec8-list li i {
    display: inline-block;
    margin-right: 5px;
}
.sec8-list li {
    background: none;
    padding-left: 0px;
}
#bottom_section ul li {
    background: none;
    padding-left: 0px;
}
#bottom_section ul li i {
    display: inline-block;
    margin-right: 5px;
}
#bottom_section ul li span {
    padding-left: 46px;
}
#bottom_popup {
    background: #fff;
    box-shadow: 0 0 7px 2px #333;
    font-size: 15px;
    line-height: 20px;
    position: fixed;
    padding: 7px;
    max-width: 320px;
    height: 60px;
    z-index: 11111;
    left: 15px;
    bottom: -80px;
    overflow: hidden;
    text-align: left;
    z-index: 999999;
}
#bottom_popup span {
    text-transform: capitalize;
}
#bottom_popup a {
    color: #000;
}
.popup_image>img {
    padding-top: 6px;
    width: 72px;
}
.popup_image {
    float: left;
}
.footer_popup_text p {
    font-family: "Cambria", sans-serif;
}