body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

a {
    color: hsl(0, 0%, 20%);
    outline: medium none;
    text-decoration: none;
}
p {
    margin: 0;
}
section {
    float: left;
    width: 100%;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    border: 0 !important;
    background: none !important;
}
.close:hover,
.close:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}
.input-validation {
    position: relative;
}
.ui-dialog {
    position: fixed !important;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    overflow: visible !important;
}
.ui-widget-overlay {
    background: rgba(255, 255, 255, 0.8) !important;
    opacity: .9 !important;
}
.ui-widget-header {
    border: none !important;
    background: none !important;
}
.ui-widget-content {
    border: 1px solid #ffffff !important;
    background: #ffffff !important;
    color: #333333;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.ui-widget-header .ui-icon {
    background-image: url("../img/closebutton.png") !important;
}
.ui-icon-closethick {
    background-position: 0 -2px !important;
    width: 26px !important;
    height: 29px !important;
}
.ui-dialog .ui-dialog-titlebar-close span {
    position: absolute;
    top: -10px;
    z-index: 9;
    right: -18px;
}
.ui-draggable .ui-dialog-titlebar {
    padding: 0;
    height: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    z-index: 999999;
}
.ui-resizable-handle {
    display: none !important;
}

.error
{
 border-color:red;
 border-style:solid;
 border-width:1px;
}
input.error,
select.error {
    background: #ffffff url(../img/error-input.png) no-repeat 99.5% 50%;
    border: 1px solid #ffa500;
}
input.valid,
select.valid {
    background: #ffffff url(../img/tick-input.png) no-repeat 99.5% 50%;
    border: 1px solid #008000;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background: hsl(340, 67%, 93%) none repeat scroll 0 0;
		border-color: hsl(340, 67%, 93%);
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}


.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: hsl(340, 77%, 47%);
    text-decoration: none;
    background-color: transparent;
}
.sidebar-nav li a.active {
    color: hsl(340, 77%, 47%);
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}


/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    border: 1px solid hsl(339, 77%, 47%);
    border-radius: 3px;
    display: block;
    height: 28px;
    margin-left: 15px;
    position: fixed;
    right: 28px;
    top: 28px;
    width: 32px;
    z-index: 999;
}

.close_btn_menu {
    position: relative;
    right: 0;
    top: -39px;
}
.close_btn_menu .hamburger {
    position: absolute;
    top: 0;
}
.close_btn .hamburger.is-closed {
    display: none;
}
.hamburger.is-open {
    border: medium none;
    margin: 0;
    padding: 0;
    position: unset;
    width: 100%;
}
.hamburger.is-open span {
    left: 15px;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
/* .hamburger.is-closed:before { */
  /* content: ''; */
  /* display: block; */
  /* width: 100px; */
  /* font-size: 14px; */
  /* color: #fff; */
  /* line-height: 32px; */
  /* text-align: center; */
  /* opacity: 0; */
  /* -webkit-transform: translate3d(0,0,0); */
  /* -webkit-transition: all .35s ease-in-out; */
/* } */

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    height: 3px;
    position: absolute;
    right: 1.6px;
    width: 26px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #D51C5C;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}


.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    background-color: #D51C5C;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(0, 0%, 0%, 0.79) none repeat scroll 0 0;
    z-index: 1;
}

.logo {
    position: relative;
}
.logo img {
    position: absolute;
    top: -17px;
    width: 100px;
}


.sidebar-nav li.close_btn {
    display: block;
    padding: 15px;
}
@media (min-width: 1003px)
{
	#sidebar-wrapper {
		background: hsl(340, 67%, 93%) none repeat scroll 0 0;
		border: none;
		height: auto;
		left: 0;
		margin-left: 0;
		overflow: hidden;
		position: unset;
		transition: all 0.5s ease 0s;
		width: 100%;
		z-index: 1000;
		 min-height: auto;
		 margin-bottom: 0;
	}
	.sidebar-nav {
		list-style: outside none none;
		margin: 0;
		padding: 0;
		position: relative;
		top: 0;
		width: 100%;

	}
	.sidebar-nav li {
		border-right: 1px solid hsl(338, 40%, 84%);
		color: hsl(0, 0%, 7%);
		display: inline-block;
		float: left;
		line-height: 16px;
		padding: 0;
		position: relative;
		text-transform: uppercase;
		width: auto;
	}
	.hamburger {
		display: none;
	}
	.sidebar-nav li.close_btn {
		display: none;
	}
	.sidebar-nav li a {
		color: hsl(0, 0%, 0%);
		display: block;
		padding: 13px 63px;
		text-decoration: none;
		font-family: "Source Sans Pro",sans-serif;
		font-size: 16px;
		font-weight: 400;
	}
	.sidebar-nav li:nth-child(2) a {
		padding-left: 0;
	}
	.sidebar-nav li:last-child  a {
		padding-right: 0;
	}
	.sidebar-nav li:last-child {
		border: medium none;
	}
}



.header_top {
    padding: 25px 0;
}
.contact_left {
    display: inline-block;
    padding: 0 0 0 20px;
}

.header_contact span {
    border-right: 1px solid hsl(0, 0%, 40%);
    color: hsl(0, 0%, 40%);
    display: block;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.1px;
    line-height: 11px;
    margin-top: 10px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
}
.header_contact .contact_left:last-child span {
    border-right: medium none;
    margin-left: -12px;
    padding: 0;
}
.email.contact_left a {
    color: hsl(0, 0%, 40%);
}
.email.contact_left a:hover {
    color: hsl(0, 0%, 40%);
	text-decoration: none;
}


.banner {
    background: hsl(340, 100%, 98%) url("../img/bg-bnr.jpg") no-repeat scroll center top;
    height: 393px;
}

.bnr-lft {
    float: left;
    width: 50%;
}


.bnr-lft h2 {
    color: hsl(0, 0%, 35%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
	margin: 0;
}

.bnr-lft h1 {
    color: hsl(0, 0%, 35%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 66px;
    font-weight: 400;
    line-height: 66px;
    padding: 5px 0 15px;
    text-align: center;
    text-transform: uppercase;
	margin: 0;
}

.bnr-lft p {
    color: hsl(0, 0%, 35%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}


.bnr-btn {
    background: hsl(339, 77%, 47%) none repeat scroll 0 0;
    border-radius: 22px;
    margin: 45px auto 0;
    width: 155px;
    color: hsl(0, 0%, 100%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 13px 30px;
    text-align: center;
    text-transform: uppercase;
	display: block;
}


.quick_info {
    background: hsl(328, 42%, 94%) none repeat scroll 0 0;
}


.quick_info-inner {
    border-right: 1px solid hsl(0, 0%, 84%);
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin: 10px 0;
}


.quick_infoin-lft {
    display: inline-block;
    float: left;
    margin-left: 4%;
    width: 20%;
}

.quick_infoin-rgt {
    display: inline-block;
    float: left;
    margin-left: 3%;
    width: 71%;
}
.quick_infoin-lft img {
    max-width: 100%;
	 margin-top: 7px;
}

.txt5 {
    color: hsl(0, 0%, 30%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding-top: 6px;
    text-transform: uppercase;
}

.txt5 span {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    text-transform: none;
}

.quick_info-inner:first-child {
    width: 18.11%;
}

.quick_info-inner:nth-child(2) {
    width: 25.19%;
}

.quick_info-inner:nth-child(3) {
    width: 31.99%;
}

.quick_info-inner:last-child {
    border-right: medium none;
	width: 24.4%;
}


.hnf {
    margin: 50px 0 0;
}


.hnf-sec {
    display: table;
    margin: 0 auto;
    padding-bottom: 0;
    width: auto;
}
.brdr-hnf {
    float: left;
    padding-top: 22px;
}
.for-desk {
    display: block;
}

.hnf-sec h5 {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    color: hsl(0, 0%, 32%);
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 36px;
    font-weight: 300;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
	margin: 0;
}

.clearall {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 1px;
}

.hnf-sec h6 {
    color: hsl(0, 0%, 62%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 13px;
    line-height: 16px;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
	margin: 0;
}

.hnf h6 {
    box-sizing: border-box;
    color: hsl(300, 1%, 31%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
	margin: 0;
}

.hnfpoints {
    float: left;
    margin: 55px 1% 0;
    width: 98%;
}

.hnf-point1, .hnf-point2, .hnf-point3 {
    background: hsla(0, 0%, 0%, 0) radial-gradient(ellipse at center center , hsl(340, 100%, 99%) 0%, hsl(340, 100%, 99%) 48%, hsl(339, 78%, 96%) 87%, hsl(339, 78%, 96%) 100%) repeat scroll 0 0;
    box-sizing: border-box;
    float: left;
    height: 230px;
    padding: 0 25px;
    width: 100%;
}


.hnf-icon {
    padding: 25px 0 15px;
}


.hnfpoints h5 {
    box-sizing: border-box;
    color: hsl(339, 77%, 47%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
	margin: 0;
}

.hnfpoints h6 {
    color: hsl(0, 0%, 32%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 22px;
    text-align: center;
	margin: 0;
}


.power {
    background: hsl(0, 0%, 96%) url("../img/bg-strip2.jpg") no-repeat scroll center top;
    float: left;
    height: 185px;
    margin: 55px 0 0;
    width: 100%;
}


.power-lft {
    box-sizing: border-box;
    float: left;
    margin: 48px 0 0;
    padding-left: 5px;
    position: relative;
    width: auto;
}

.gray1-power {
    background: hsl(0, 0%, 86%) none repeat scroll 0 0;
    float: left;
    width: 100%;
}

.txt11, .txt13 {
    
}

.power-lft h2 {
    background: hsl(0, 0%, 96%) url("../img/strip2-brdrt.jpg") no-repeat scroll right top / contain ;
    display: table;
    padding: 0 13px 0 0;
    text-align: left;
    width: auto;
	color: hsl(0, 0%, 32%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;
	margin: 0;
}

.power-lft h1 {
    color: hsl(340, 77%, 47%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 35px;
    padding: 5px 0;
    text-align: left;
    text-transform: uppercase;
	margin: 0;
}


.gray1-power {
    background: hsl(0, 0%, 86%) none repeat scroll 0 0;
    float: left;
    width: 100%;
}


.power-lft h3 {
    background: hsl(0, 0%, 96%) url("../img/strip2-brdrb.jpg") no-repeat scroll left top / contain ;
    display: table;
    float: right;
    padding: 0 0 0 13px;
    text-align: right;
    width: auto;
	color: hsl(0, 0%, 32%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;
	margin: 0;
}

.power-rgt {
    box-sizing: border-box;
    padding-left: 30px;
    width: 41%;
}

.power-rgt p {
    color: hsl(300, 1%, 31%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 20px;
    padding: 40px 0 0;
    text-align: left;
}


.our_product {
    margin: 50px 0 0;
}

.hdng-sec {
    display: table;
    margin: 0 auto;
    padding-bottom: 0;
    width: auto;
}

.brdr-hdng {
    float: left;
    padding-top: 22px;
}
.hdng-sec h5 {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    color: hsl(0, 0%, 32%);
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 36px;
    font-weight: 300;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
	margin: 0;
}

.hdng-sec h6 {
    color: hsl(0, 0%, 62%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 13px;
    line-height: 16px;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
	margin: 0;
}

.opr-products {
    float: left;
    margin-top: 0;
    width: 100%;
}

.oprpro-l, .oprpro-r {
    background: hsl(0, 0%, 96%) url("../img/sec2-probg.jpg") no-repeat scroll center center / cover ;
    border: 1px solid hsl(340, 71%, 93%);
    box-sizing: border-box;
    float: left;
    height: 260px;
    margin-bottom: 15px;
    width: 100%;
}
.oprpro-r {
    margin-left: 4%;
}
.opr-products .col-md-6 {
    padding: 0;
}
.oprpro-btl {
    float: left;
    width: 50%;
}


.pro-opr {
    padding: 50px 0 0;
    width: 82%;
}


.oprpro-txt {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 0 0;
    width: 50%;
}

.oprpro-txt h4 {
    box-sizing: border-box;
    color: hsl(339, 77%, 47%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    padding: 50px 0 15px;
    text-align: center;
	margin:0;
}

.oprpro-txt h6 {
    color: hsl(339, 18%, 33%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 60px;
    padding-bottom: 79px;
    text-align: center;
	margin: 0;
}

.btn-opr {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    border: 1px solid hsl(0, 0%, 23%);
    border-radius: 22px;
    color: hsl(0, 0%, 23%);
    display: block;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin: 5px auto 10px;
    padding: 13px 26px;
    text-align: center;
    text-transform: uppercase;
    width: 155px;
}

.btn-opr2 {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    border: 1px solid hsl(0, 0%, 23%);
    border-radius: 22px;
    color: hsl(0, 0%, 23%);
    display: block;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin: 5px auto 10px;
    padding: 13px 23px;
    text-align: center;
    text-transform: uppercase;
    width: 219px;
}

footer {
    border-top: 1px solid hsl(0, 0%, 91%);
    float: left;
    margin-top: 20px;
    padding: 40px 0;
    width: 100%;
}

.footer ul {
    display: table;
    margin: 0 auto;
    width: auto;
	list-style: none;
}

.footer ul li {
    border-right: 1px solid hsl(202, 15%, 49%);
    color: hsl(0, 0%, 48%);
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    padding: 0 8px;
    text-align: center;
}

.footer ul li:last-child {
    border-right: medium none;
}


.footer ul li a {
    color: hsl(0, 0%, 48%);
}


.copyright {
    color: hsl(0, 0%, 48%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 3px 0 0;
    text-align: center;
}
.modal-dialog.full-screen {
    position:fixed;
     width: 600px;
    margin:auto;                        
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
.modal-backdrop {
   background: hsla(0, 0%, 100%, 0.8) none repeat scroll 0 0;
}
.modal-dialog.full-screen .modal-content {
      position:absolute;
      left:10px;
      right:10px;
      top:200px;
      bottom:200px;
	   border-radius: 0;
}

.modal-dialog.full-screen .modal-content .modal-header {
        height:55px;.
}

.modal-dialog.full-screen .modal-content .modal-body {
    border: 1px solid;
    bottom: 0;
    left: 0;
    margin: 55px auto 80px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;
}
.modal-body iframe {
    height: 102%;
    margin-left: -2px;
    margin-right: auto;
    margin-top: -2px;
    padding-top: 15px;
    width: 105%;
}

.modal-dialog.full-screen .modal-content .modal-footer {
        height:80px;
        position:absolute;
        bottom:0;
        left:0;
        right:0;
}
.modal-header {
    border-bottom: medium none;
    padding: 15px;
}
.modal-footer {
    border-top: medium none;
    padding: 15px;
    text-align: right;
}

button.close {
    background-color: hsl(0, 0%, 20%);
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: bold;
    height: 33px;
    line-height: 30px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: -10px;
    text-align: center;
    text-decoration: none;
    top: -7px;
    width: 32px;
}
button.close:hover {
    opacity: 1;
	color: hsl(0, 0%, 100%);
}

.about_banner {
    background: hsl(336, 100%, 98%) url("../img/bg-bnr-abt.jpg") no-repeat scroll center top;
    border-bottom: 1px solid hsl(340, 65%, 95%);
    float: left;
    height: 188px;
    width: 100%;
}
.abnr-content {
    display: table;
    margin: 0 auto;
    width: auto;
}

.abnr-content h1 {
    color: hsl(0, 0%, 35%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
	margin: 0;
}

.abnr-content h1 img{
    padding: 0 15px;
    vertical-align: middle;
}

.abnr-content h5 {
    color: hsl(0, 0%, 35%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    width: 53%;
	
}

.about_banner_img {
    display: none;
}
.abt_power {
    float: left;
    margin: 40px 0 0;
    width: 100%;
}

.pwr-abt-rgt {
    float: right;
    position: relative;
    width: 50%;
}
.desk {
    display: block;
}

.pwr-abt-img {
    float: right;
}
.for-desk {
    display: block;
}
.pwr-abt-rgt-dtl {
    left: 33px;
    position: absolute;
    top: 140px;
}

.txt4-abt {
    color: hsl(0, 0%, 32%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 16px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.pwr-abt-lft {
    float: left;
    width: 50%;
}

.txt3-abt {
    color: hsl(300, 1%, 31%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 25px;
    text-align: left;
}
.txt3-abt span {
    color: hsl(339, 69%, 53%);
    text-transform: uppercase;
}

.pwr-abt-rgt {
    float: right;
    position: relative;
    width: 50%;
}
.mob {
    display: none;
}
.pwr-abt-img {
    float: right;
    width: 100%;
}
.for-desk {
    display: block;
}

.pwr-abt-rgt-dtl {
    left: 33px;
    position: absolute;
    top: 140px;
}

.txt4-abt {
    color: hsl(0, 0%, 32%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 16px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.txt4-abt span {
    color: hsl(340, 77%, 47%);
    font-size: 33px;
    line-height: 35px;
    padding: 5px 0;
}

.txt3-abt {
    color: hsl(300, 1%, 31%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 25px;
    text-align: left;
}

.txt3-abt span {
    color: hsl(339, 69%, 53%);
    text-transform: uppercase;
}

.abt_repair {
    float: left;
    margin: 50px 0 0;
    width: 100%;
}


.abt_repair-dtl {
    background: hsla(0, 0%, 0%, 0) url("../img/sec2-abt-desk.jpg") no-repeat scroll center top;
    box-sizing: border-box;
    height: 685px;
    padding: 0 15px;
    width: 100%;
}


.abt_repair-dtl1, .abt_repair-dtl2, .abt_repair-dtl3 {
    box-sizing: border-box;
    float: left;
    padding: 0;
    width: 32.5%;
}


.abt_repair-dtl h1 {
    color: hsl(0, 0%, 12%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    padding: 190px 0 0;
    text-align: center;
    text-transform: uppercase;
	margin: 0;
}
.abt_repair-dtl h5 {
    color: hsl(0, 0%, 31%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 22px;
    margin: 0 auto;
    padding: 40px 0 0;
    text-align: center;
    width: 95%;
}

.abt_repair-dtl2 {
    margin: 0 1.2%;
}


.product_main {
    float: left;
    margin: 40px 0 0;
    width: 100%;
}


.product_inner {
    border-bottom: 1px solid hsl(340, 14%, 91%);
    float: left;
    padding-bottom: 25px;
    width: 100%;
}

.prod_item-lft {
    background: hsl(338, 85%, 97%) none repeat scroll 0 0;
    border: 1px solid hsl(338, 35%, 94%);
    float: left;
    width: 25%;
}
.for-desk {
    display: block;
}

.pro-products {
    padding: 20px 0;
}

.prod_item-rgt {
    float: left;
    margin-left: 3.5%;
    width: 70.5%;
}

.prod_item-rgt-top {
    border-bottom: 1px solid hsl(340, 14%, 91%);
    float: left;
    width: 100%;
}

.prod_item-rgt-top1 {
    float: left;
    width: 45%;
}

.prod_item-rgt-top1 h1 {
    color: hsl(339, 77%, 47%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.prod_item-rgt-top1 h4 {
    color: hsl(0, 0%, 35%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.prod_item-rgt-top2 {
    float: left;
    width: 55%;
}
.for-desk {
    display: block;
}

.product_price {
    color: hsl(300, 1%, 31%);
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 33px;
    font-weight: 300;
    margin: 10px 0;
}

.prod_detail {
    color: hsl(300, 1%, 31%);
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
}

ul.txtlist {
    float: left;
    list-style: outside none none;
    padding: 20px 0 0;
    width: 100%;
}

ul.txtlist li {
    background: hsla(0, 0%, 0%, 0) url("../img/bullet.png") no-repeat scroll left center;
    color: hsl(300, 1%, 31%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    text-align: left;
}
.for-mob {
    display: none;
}

.btn-prod {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    border: 1px solid hsl(0, 0%, 23%);
    border-radius: 22px;
    color: hsl(0, 0%, 23%);
    display: table;
    float: left;
    margin: 30px auto 5px;
    width: auto;
}
.btn-prod:hover, .btn-prod:focus {
    background: hsl(339, 77%, 47%) none repeat scroll 0 0;
    border: 1px solid hsl(339, 77%, 47%);
    color: hsl(0, 0%, 100%);
}
.txt7-prod {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}


.shpping-cart1 {
    float: left;
    padding-left: 3%;
    padding-top: 3%;
}
.prod_out_lable {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 13px 30px;
    text-align: center;
    text-transform: uppercase;
}

.disabler, .disabler:hover {
    background: hsl(0, 0%, 68%) none repeat scroll 0 0 !important;
    border: 1px solid hsl(0, 0%, 68%) !important;
    color: hsl(0, 0%, 100%) !important;
}


.quality{
    margin: 40px 0 0;
}

.quality_item {
    background: hsl(340, 43%, 97%) none repeat scroll 0 0;
    box-sizing: border-box;
    float: left;
    margin: 0 1.5% 30px;
    width: 100%;
}

.quality_item_top {
    background: hsl(340, 67%, 93%) none repeat scroll 0 0;
    box-sizing: border-box;
    height: 65px;
    padding: 0 20px;
    width: 100%;
}

.quaity-logo {
    float: left;
    padding-top: 5px;
    width: 98px;
}

.quality_item_top h4 {
    color: hsl(300, 1%, 31%);
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 11px 0 0 15px;
    text-align: left;
    text-transform: uppercase;
	margin: 0;
}

.quality_item_top h4 span {
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    text-transform: none;
}

.quality_item_bottom {
    box-sizing: border-box;
    float: left;
    height: auto;
    padding: 0 25px;
    width: 100%;
}

.quality_item_bottom h6 {
    color: hsl(300, 1%, 31%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 22px;
    padding: 10px 0 20px;
    text-align: left;
}
.quality_list .col-md-6 {
    padding: 0 12px;
}

.cart {
    border: 1px solid hsl(340, 26%, 82%);
    border-radius: 5px;
    float: left;
    position: relative;
    width: 100%;
}

.cart_cs_btn {
    background: hsl(340, 67%, 93%) none repeat scroll 0 0;
    border: 1px solid hsl(0, 9%, 81%);
    color: hsl(0, 24%, 7%);
    float: right;
    font-weight: bold;
    margin-right: 10px;
    padding: 7px 23px;
	display: block;
}

.cart_title {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 1%;
}


.free-shipping {
    left: 36%;
    position: absolute;
    top: 1%;
}

.confi-img {
    float: left;
    padding: 0 0 0 15px;
}

.cart_product_table {
    border-spacing: 0;
    font-size: 0.8em;
    margin: 0 auto 15px;
    width: 100%;
}

.cart_product_table_row {
    background-color: hsl(0, 0%, 97%);
    font-weight: bold;
}

.cart_product_table_row td {
    border-top: 1px solid hsl(0, 0%, 80%);
    font-size: 1em;
    line-height: 60px;
}
.cart_product_table td {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    padding: 6px 10px;

}
.cart_product_item_title {
    color: hsl(339, 77%, 47%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.cart_product_qminbtn {
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    vertical-align: -1px;
    width: 20px;
}

.cart_product_itemQty {
    display: inline-block;
    text-align: center;
    width: 30px;
}

.cart_product_qplusbtn {
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 20px;
}

.cart_product_remove {
    font-size: 10px;
    padding: 2px 1px;
}

.cart_form {
    border-top: 1px solid hsl(0, 0%, 91%);
    float: left;
    margin-top: 20px;
    padding-bottom: 15px;
    width: 100%;
}

.confidence {
    box-sizing: border-box;
    float: left;
    padding: 10px 0 10px 45px;
    width: 100%;
}

.txtconfi {
    color: hsl(339, 77%, 47%);
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.confi-img {
    float: left;
    padding: 0 0 0 15px;
}

.cart_form_form {
    font-family: Arial,sans-serif;
    font-size: 1em;
    position: relative;
}

.cart_formlft, .cart_formrgt {
    float: left;
    margin: 0 2%;
    width: 46%;
}


.form-container {
    background: hsl(340, 43%, 97%) none repeat scroll 0 0;
    border: 1px solid hsl(340, 26%, 82%);
    border-radius: 3px;
    float: left;
    height: 751px;
    width: 100%;
}
.form-container {
    height: auto;
}

.form-top {
    background: hsl(340, 67%, 93%) none repeat scroll 0 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 60px;
    width: 100%;
}
.form-toplft {
    float: left;
    height: 100%;
    width: 18%;
}

.hdng-icon {
    padding-top: 10px;
}

.form-toprgt {
    float: left;
    width: 80%;
}

.txt2-chk {
    color: hsl(0, 0%, 22%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0 14px;
    text-transform: uppercase;
}


.form-content1, .form-content2 {
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 100%;
}


.frmelements {
    float: left;
    margin: 0 0 10px;
    width: 100%;
}
.frmelements {
    width: 100% !important;
}


.cart_form_form label {
    display: inline-block;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

.frmelements label {
    color: hsl(0, 0%, 24%);
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 8px;
    text-align: left;
}

.modal-content {
    margin: 100px auto;
    min-width: 400px;
    max-width: 600px;
    min-height: 400px;
    color: #333;
    padding: 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
}
.modal-content iframe {
    min-height: 400px;
    width: 100%;
    border: 1px solid rgb(213, 214, 239);
}
/* The Close Button */

.close {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #FFF;
    background-color: #333;
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 24px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    border: 0 !important;
    background: none !important;
}
.close:hover,
.close:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}


.field {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    border: 1px solid hsl(227, 13%, 86%);
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 100%;
}

.icon-box {
    bottom: 0;
    box-sizing: border-box;
    float: left;
    padding: 6px 5px 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 12%;
}

.icon-box img {
    vertical-align: middle;
}



.ft-input, .frmelements select {
    border: medium none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    color: hsl(0, 0%, 45%);
    float: right;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    height: 40px;
    padding: 3px 5px;
    width: 90%;
}
.cart_form_form input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    padding: 0.5em 2.5em;
    width: 98%;
}
.cart_form_form input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    padding: 0.5em 2.5em;
    width: 97%;
}


.short1, .short2 {
    float: left;
    width: 48.5%;
}

.cart_form_form select {
    padding: 0.5em;
    width: 100%;
}

.ft-input, .frmelements select {
    border: medium none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    color: hsl(0, 0%, 45%);
    float: right;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    height: 40px;
    padding: 3px 5px;
    width: 90%;
}
.frmelements select {
    background: hsla(0, 0%, 0%, 0) url("../img/arrow-input.png") no-repeat scroll right center;
}
.frmelements select {
    -moz-appearance: none;
}
.short1 .ft-input, .short1 .frmelements select, .short2 .ft-input, .short2 .frmelements select {
    width: 85%;
}

.noicon {
    width: 97% !important;
}

.short2 {
    margin-left: 3%;
}

.txt4-chk {
    color: hsl(339, 77%, 47%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 30px 0 0 10px;
}

.full-wth {
    width: 100% !important;
}
.btn-element {
    border-radius: 5px;
    float: left;
    margin: 10px 0 0;
    width: auto;
}

.cart_form_form_submitBtn {
    background-color: hsl(125, 35%, 30%);
    border: thin outset hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 2em;
    font-weight: bold;
    height: 3em;
    width: 100%;
}

.postal-crt {
    padding-top: 3px;
}

.postal-crt1 {
    padding-top: 20px;
}
.cart_detail {
    margin-top: 20px;
}

.contact {
    margin: 40px 0 0;
}

.contact-lft {
    margin-top: 70px;
}

.contact-rgt {
    margin-top: 30px;
}
.contact-lft, .contact-rgt {
    float: left;
    width: 100%;
}
.contact_detail {
    float: left;
    margin-bottom: 25px;
    width: 100%;
}
.contact_detail_icon {
    float: left;
    width: 7%;
}

.icon-cont {
    float: left;
}

.contact_detail_text {
    float: left;
    width: 90%;
}

.contact_detail_text h3 {
    color: hsl(339, 77%, 47%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 7px;
    text-align: left;
    text-transform: uppercase;
	margin-top: 0;
}
.contact_detail_text h5 {
    color: hsl(300, 1%, 31%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
    text-align: left;
	margin-top: 0;
}

@media (max-width: 1003px)
{
	.header_contact {
		display: none;
	}
		
	.logo img {
		position: unset;
		width: 75px;
	}
	.header_top {
		padding: 14px 0;
	}
	header {
		border-bottom: 1px solid hsl(340, 67%, 93%);
	}
	.sidebar-nav li a {
		border-top: 1px solid hsl(339, 40%, 84%);
		color: hsl(339, 77%, 47%);
		float: left;
		font-family: "Source Sans Pro",sans-serif;
		font-size: 16px;
		font-weight: 400;
		padding: 20px;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;
		display: block;
	}
	.navbar .container {
		padding: 0;
	}
	.sidebar-nav li a:hover {
		background: hsl(0, 0%, 100%) none repeat scroll 0 0;
		color: hsl(339, 77%, 47%);
	}
	.sidebar-nav li {
		margin-bottom: -4px;
	}
	.bnr-lft h2 {
		color: hsl(0, 0%, 35%);
		font-family: "Source Sans Pro",sans-serif;
		font-size: 35px;
		font-weight: 300;
		line-height: 20px;
		margin: 0;
		padding-top: 25px;
		text-align: center;
		text-transform: uppercase;
	}
	.bnr-lft h1 {
		color: hsl(0, 0%, 35%);
		font-family: "Source Sans Pro",sans-serif;
		font-size: 44px;
		font-weight: 400;
		line-height: 40px;
		margin: 0;
		padding: 10px 0 15px;
		text-align: center;
		text-transform: uppercase;
	}
	.bnr-lft p {
		color: hsl(0, 0%, 35%);
		font-family: "Source Sans Pro",sans-serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
		margin: 0 auto;
		text-align: center;
		width: 90%;
	}
	.banner {
		background-size: cover ;
		height: auto;
	}
	.bnr-btn {
		margin: 25px auto;
	}
	.txt5 span {
		font-family: "Source Sans Pro",sans-serif;
		font-size: 11px;
		font-weight: 400;
		letter-spacing: 0;
		text-transform: none;
	}
	.txt5 {
		color: hsl(0, 0%, 30%);
		font-family: "Source Sans Pro",sans-serif;
		font-size: 14px;
		font-weight: 700;
		line-height: 14px;
		padding-top: 3px;
		text-transform: uppercase;
	}
	.hnf-point1, .hnf-point2, .hnf-point3 {
		background: hsla(0, 0%, 0%, 0) radial-gradient(ellipse at center center , hsl(340, 100%, 99%) 0%, hsl(340, 100%, 99%) 48%, hsl(338, 73%, 96%) 87%, hsl(338, 73%, 96%) 100%) repeat scroll 0 0;
		box-sizing: border-box;
		float: left;
		height: 315px;
		padding: 0 25px;
		width: 100%;
	}
	.about_banner_img {
		height: 143px;
		left: -10px;
		position: absolute;
		top: 0;
		display: block;
	}
		
	.about_banner {
		background: hsl(336, 100%, 98%) url("../img/bg-bnr-abt-tab.jpg") no-repeat scroll center top / cover ;
		height: 143px;
	}
		
	.about_banner_inr {
		position: relative;
	}
		
	.abnr-content h1 {
		font-size: 35px;
		line-height: 20px;
		padding-top: 35px;
	}
		
	.abnr-content h5 {
		font-size: 16px;
	}
		
	.pwr-abt-rgt {
		margin-top: 30px;
	}
	.pwr-abt-img {
		width: 97%;
	}

	.pwr-abt-rgt-dtl {
		left: 25px;
		top: 93px;
	}

	.txt4-abt {
		font-size: 20px;
	}

	.txt4-abt span {
		font-size: 27px;
		line-height: 29px;
	}

	.txt3-abt {
		padding-top: 0;
	}

	.pwr-abt-rgt {
		margin-top: 30px;
	}
	.quality_list .col-md-6 {
		padding: 0 12px;
		width: 100%;
	}

}

@media (max-width: 767px)
{	
	.banner {
		background: hsl(338, 100%, 98%) url("../img/bg-bnr.jpg") no-repeat scroll center top / cover ;
		height: auto;
	}
	
	.txt1-brdr.hid414 {
		display: none;
	}
	.quick_info-inner {
		height: 70px;
		padding-left: 0;
		text-align: center;
		width: 50% !important;
	}
	.quick_info-inner:nth-child(2) {
		border: medium none;
	}
		
	.quick_infoin-lft {
		width: 100%;
	}
	.quick_infoin-lft img {
		width: 40px;
	}
	.quick_infoin-rgt {
		width: 100%;
	}
	.for-desk {
		display: none;
	}
	.hnf-point1, .hnf-point2, .hnf-point3 {
		background: hsla(0, 0%, 0%, 0) radial-gradient(ellipse at center center , hsl(340, 100%, 99%) 0%, hsl(340, 100%, 99%) 48%, hsl(340, 71%, 96%) 87%, hsl(340, 71%, 96%) 100%) repeat scroll 0 0;
		box-sizing: border-box;
		float: left;
		height: auto;
		margin-bottom: 15px;
		padding: 0 25px;
		width: 100%;
	}
	.power {
		background: hsl(0, 0%, 96%) none repeat scroll 0 0;
		float: left;
		height: auto;
		margin: 55px 0 0;
		width: 100%;
	}
	.power-lft {
		box-sizing: border-box;
		display: table;
		float: none;
		margin: 20px auto 0;
		padding-left: 0;
		position: relative;
		width: auto;
	}
	.power-rgt {
		box-sizing: border-box;
		margin: 0 auto;
		padding-left: 0;
		text-align: center;
		width: 94%;
	}
	.power-rgt p {
		text-align: center;
	}
	.oprpro-r {
		margin-left: 0;
	}
	.modal-dialog.full-screen {
		bottom: 0;
		left: 0;
		margin: auto;
		position: fixed;
		right: 0;
		top: 0;
		width: 90%;
	}
	.modal-dialog.full-screen .modal-content {
		border-radius: 0;
		bottom: 20px;
		left: 10px;
		position: absolute;
		right: 10px;
		top: 20px;
	}
	.about_banner_img {
		display: none;
	}
	.abnr-content h5 {
		width: 100%;
	}
		
		
	.desk {
		display: none;
	}

	.pwr-abt-lft, .pwr-abt-rgt {
		float: left;
		width: 100%;
	}

	.txt3-abt {
		text-align: center;
	}
	.txt3-abt {
		padding-top: 0;
	}

	.mob {
		display: block;
		margin: 30px auto 0;
	}
	.for-desk {
		display: none;
	}

	.pwr-abt-rgt-dtl {
		padding: 27% 0;
		position: static;
		width: 70%;
	}
	.pwr-abt-rgt-dtl {
		left: 25px;
		top: 93px;
	}

	.txt3-abt {
		text-align: center;
	}
	.txt3-abt {
		padding-top: 0;
	}
	.pwr-abt-rgt {
		background: hsla(0, 0%, 0%, 0) url("../img/sec1abt-img.jpg") no-repeat scroll center top / 100% auto;
		float: none;
		height: auto;
		margin: 0 auto;
		max-width: 415px;
	}
	.prod_item-rgt {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 90%;
	}
	.prod_item-rgt-top {
		border-bottom: medium none;
		float: left;
		width: 100%;
	}
	.prod_item-rgt-top1 {
		float: left;
		width: 100%;
	}

	.pro-products {
		padding: 20px 0 10px;
	}
	.pro-products {
		max-width: 200px;
	}
	.for-mob {
		display: inline-block;
	}
	.pro-products {
		width: 100%;
	}
	.product_price {
		float: none;
		margin: 10px auto;
	}
	.btn-prod {
		float: none;
	}

	.free-shipping1 {
		padding-left: 0;
		text-align: center;
		width: 100%;
	}

	ul.txtlist {
		display: table;
		float: none;
		margin: 0 auto;
		width: auto;
	}
	.cart_formlft, .cart_formrgt {
		float: left;
		margin: 0 auto 20px;
		padding: 0 20px;
		width: 100%;
	}
	.confi-img {
		display: none;
	}
	.pro-opr {
		margin: 0 !important;
		padding: 25px 0 0;
		width: 50px !important;
	}
	.pro-opr.prod1 {
		padding: 30px 0 0 !important;
		width: 100px !important;
	}
}

@media (max-width: 420px)
{
	.abnr-content h1 img {
		display: none;
	}
	.about_banner {
		background: hsl(338, 100%, 98%) url("../img/bg-bnr-abt-tab.jpg") no-repeat scroll center top / cover ;
		height: auto;
		padding-bottom: 10px;
	}
	.contact_detail_text {
		float: left;
		margin: -2px 0 0 11px;
		width: 88%;
	}
	.footer ul {
		padding: 0;
	}
	.footer ul li {
		border-right: 1px solid hsl(203, 15%, 49%);
		color: hsl(0, 0%, 48%);
		float: left;
		font-family: "Source Sans Pro",sans-serif;
		font-size: 13px;
		font-weight: 400;
		line-height: 13px;
		padding: 0 8px;
		text-align: center;
	}
	.bnr-lft {
		float: left;
		width: 100%;
	}
	.power {
		padding-bottom: 10px;
	}
	.pro-opr {
		padding: 5px 0;
		width: 95%;
	}
	.oprpro-btl {
		float: left;
		width: 43%;
	}
	.oprpro-txt {
		box-sizing: border-box;
		float: left;
		padding: 0 10px 0 0;
		width: 57%;
	}
	.oprpro-txt h4 {
		font-size: 18px;
		padding: 18px 0 5px;
	}
	.oprpro-txt h6{
		font-size: 15px;
		line-height: 17px;
		padding-bottom: 8px;
	}
	.btn-opr {
		background: hsl(0, 0%, 100%) none repeat scroll 0 0;
		border: 1px solid hsl(0, 0%, 23%);
		border-radius: 22px;
		color: hsl(0, 0%, 23%);
		display: inline-block;
		font-family: "Source Sans Pro",sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		margin: 22px 0 10px 28px;
		padding: 4px 12px;
		text-align: center;
		text-transform: uppercase;
		width: auto;
	}	
	.btn-opr2 {
		background: hsl(0, 0%, 100%) none repeat scroll 0 0;
		border: 1px solid hsl(0, 0%, 23%);
		border-radius: 22px;
		color: hsl(0, 0%, 23%);
		display: block;
		font-family: "Source Sans Pro",sans-serif;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		margin: 22px auto 10px;
		padding: 4px 24px;
		text-align: center;
		text-transform: uppercase;
		width: auto;
	}
	.oprpro-l, .oprpro-r {
		height: auto;
	}
	.abt_repair-dtl {
		background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
		box-sizing: border-box;
		height: 685px;
		padding: 0 15px;
		width: 100%;
	}
	.abt_repair-dtl1, .abt_repair-dtl2, .abt_repair-dtl3 {
		box-sizing: border-box;
		float: left;
		padding: 0;
		width: 100%;
		margin: 0;
	}
	.quaity-logo {
		float: none;
		width: 75px;
	}
	.quality_item_top h4 {
		color: hsl(300, 1%, 31%);
		float: left;
		font-family: "Source Sans Pro",sans-serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		margin: 0;
		padding: 5px 0 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
	.quality_item_bottom h6 {
		color: hsl(300, 1%, 31%);
		font-family: "Source Sans Pro",sans-serif;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: -0.5px;
		line-height: 20px;
		padding: 10px 0 15px;
		text-align: center;
	}
	.quality_list .col-md-6 {
		padding: 0;
		width: 100%;
	}
	.txt2-chk {
		color: hsl(0, 0%, 22%);
		font-family: "Source Sans Pro",sans-serif;
		font-size: 18px;
		font-weight: 400;
		padding: 3px 0 14px 22px;
		text-transform: uppercase;
	}
	.cart_form_form_submitBtn {
		font-size: 1em;
	}
	.postal-crt {
		padding-top: 3px;
		width: 100%;
	}
	.postal-crt1 {
		padding-top: 20px;
		width: 100%;
	}
	.banner {
		background: hsl(338, 100%, 98%) none no-repeat scroll center top / cover ;
		height: auto;
	}
}

.bodycolour {
    /*background:#fff9a5; */
    
    overflow: hidden;
}
a {
    text-decoration: none !important;
}
p {
    font-size: 14px;
    line-height: 23px;
    padding: 0%;
    margin: 0%;
}
strong {
    font-weight: bold;
}
.logo_wrapper {
    margin: 15px 0;
}
.logopart {
    padding: 0%;
    margin: 0%;
}
.whitepart {
    border: 4px double #FAE2EA;
    box-shadow: 0px 0px 10px #888888;
    border-radius: 28px;
    background: #FFF;
    padding: 2% !important;
}

.textone {
    color: hsl(0, 0%, 35%);
    font-family: "Source Sans Pro",sans-serif;
    font-size: 37px;
    font-weight: 400;
    line-height: 44px;
    padding: 5px 0 15px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.thankyou {} .greenbackground {
    padding: 1% 1%;
    margin: 0%;
    background: hsl(340, 67%, 93%) none repeat scroll 0 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #000;
	border: 1px solid hsl(338, 40%, 84%);
}
.tableborder_one {
    border-bottom: 1px solid hsl(338, 40%, 84%);
    border-right: 1px solid hsl(338, 40%, 84%);
    border-left: 1px solid hsl(338, 40%, 84%);
}
.tableborder_two {
    border-bottom: 1px solid hsl(338, 40%, 84%);
    border-right: 1px solid hsl(338, 40%, 84%);
}
.tabletext {
    padding-top: 9%;
}
.tabletext_one {
    padding: 2% 0 2% 6%;
    margin: 0%;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #000000;
}
.tableimg {
    float: left;
    width: 39%;
}
.tabletext_two {
    padding: 0%;
    margin: 0%;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #000000;
}
.tabletext_three {
    padding: 0%;
    margin: 0%;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #000000;
}
.tabletext_three span {
    font-size: 18px;
    color: #F00;
}
.textcenter {
    text-align: center;
}
.tabletext_four {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: center;
}
.tabletext_five {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #f00;
    text-align: left;
    padding: 5px 10px;
    max-width: 475px;
}
.padd19 {
    padding-top: 19%;
}
.fontsize14 {
    font-size: 14px;
    padding: 1% 0 1% 6%;
}
.fontsize15 {
    font-size: 15px;
    padding: 3% 0 3% 6%;
    text-align: left;
    margin: 0 0 0 28%;
}
.margin_two {
    margin-top: 4%;
}
.margin_three {
    margin-top: 1%;
}
.margin_four {
    margin-top: 2%;
}
.paddingleft {
    padding-left: 0px;
}
.support_section {
    border-bottom: 1px solid hsl(338, 40%, 84%);
    border-right: 1px solid hsl(338, 40%, 84%);
    border-left: 1px solid hsl(338, 40%, 84%);
    overflow: hidden;
    background-color: #FFF6F9 !important;
}
.phonegirlimg {
    float: left;
    width: 40%;
    margin: 2% 0 0 0;
}
.support_info {
    float: left;
    width: 60%;
    margin-top: 5%;
}
.support_info_text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #000000;
    width: 100%;
    float: left;
    margin: 1% 0;
}
.support_info_text img {
    float: left;
    margin: 0 2% 0 0;
}
.support_info_text span {
    padding: 0 0 0 2.2%;
}
.support_info_text a {
    padding: 0 0 0 2.2%;
    float: left;
    line-height: 12px;
}
.couponimg {
    background-position: center center;
    background-size: cover;
    padding: 9.1% 4%;
}
.coupontext {
    padding: 0%;
    margin: 0%;
	    text-align: center;
}
.discount {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: hsl(0, 0%, 35%);
    font-size: 27px;
    margin: 0 0 0 4%;
}
.discount span {
    font-size: 35px;
}
.purchasetext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    margin: 0 0 2% 0;
    font-size: 23px;
    line-height: 22px;
}
.couponbutton {
    padding: 0%;
    margin: 1% 0 0 5%;
}
.couponbutton a {
    padding: 0.5% 4%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 21px;
    background: #000000;
}
.couponbutton {
    padding: 0.5% 4%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 21px;
    background: hsl(339, 77%, 47%) none repeat scroll 0 0;
    display: inline-block;
}
.couponbutton a:hover {
    background: #1d4a03;
}
.important {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    color: #429418;
    margin-bottom: 2%;
}
.share {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #000000;
    margin: 0.5% 0 0 0;
}
.tick {
    margin-right: 2%;
}
.shareicon {
    margin-left: 2%
}
.lightyellowpart {
    border: 1px double #403f29;
    border-radius: 8px;
    background: #fffeec;
    padding: 2% !important;
    margin: 0 6.5%;
    overflow: hidden;
}
.ptext {
    font-family: Arial;
    color: #000000;
    font-size: 19px;
    line-height: 22px;
    margin: 2% 0%;
    width: 100%;
    float: left;
}
.ptextimg {
    margin: 0 1% 0 0;
    float: left;
    width: 14px;
}
.ptextpara {
    float: left;
    width: 96%;
    font-size: 16px;
}
.footertext {
    font-family: Arial;
    font-size: 13px;
    color: #000000;
    text-align: center;
    margin-bottom: 2%;
}
.container {
    max-width: 990px;
}
.coverpic {
    width: 200px;
}
table {
    background-color: #FFF6F9 !important;
}
.dwbtn {
    border: 2px solid #4d688d;
    padding: 8px 20px;
    border-radius: 5px;
    background: #ffebb9;
    background: -webkit-linear-gradient(#ffebb9, #fcc43f, #c2962e);
    background: -o-linear-gradient(#ffebb9, #fcc43f, #c2962e);
    background: -moz-linear-gradient(#ffebb9, #fcc43f, #c2962e);
    background: linear-gradient(#ffebb9, #fcc43f, #c2962e);
    text-decoration: none;
    color: #000000;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
}
.footer-txt {
    text-align: center;
    padding: 0 0 40px 0;
}

.foot-cont p {
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    .whitepart {
        border-radius: 14px;
        width: 94%;
    }
    .textone {
        padding-top: 7%;
        margin: 0px;
        font-size: 32px;
        line-height: 35px;
    }
    .greenbackground {
        font-size: 25px;
    }
    .tabletext_one {
        padding: 2% 6% 2% 6%;
        font-size: 19px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext_two {
        font-size: 16px;
    }
    .tabletext_three {
        font-size: 16px;
    }
    .tabletext_three span {
        font-size: 18px;
    }
    .tabletext {
        padding-top: 4%;
    }
    .tabletext_four {
        padding: 14% 6% 14% 6%;
        font-size: 15px;
    }
    tabletext_five {
        padding: 14% 6% 14% 6%;
        font-size: 15px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 37%;
    }
    .support_info_text {
        font-size: 18px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .message {
        width: 7%;
        margin: 0 !important;
    }
    .support_info_text a {
        font-size: 14px;
        padding: 0% 0 0 5%;
    }
    .phonegirltext {
        float: right;
        width: 48%;
        margin-top: 11%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 25px;
    }
    .discount span {
        font-size: 35px;
    }
    .purchasetext {
        font-size: 22px;
        margin: 0 0 4% 0;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 17px;
    }
    .couponbutton {
        margin: 0% 0 0 10%;
    }
    .important {
        font-size: 24.5px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 16px;
    }
    .facebook {
        width: 3%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 13px;
        line-height: 23px;
        width: 96%;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 11px;
        padding: 0 10px;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    img.girlimg {
        width: 100%;
    }
    .tweet {
        width: 68px;
    }
    .coverpic {
        width: 153px;
        margin: 6% 0 0 0;
    }
    .ptext {
        font-size: 9px;
        line-height: 14px;
        margin: 1% 0;
    }
    .couponimg {
        padding: 9% 4% 9% 4%;
        background-size: 100% 100%;
    }
    .bookpara {
        padding: 6% 0 0 0
    }
    .pdd {
        padding-top: 20px !important;
        padding-bottom: 10px !important;
    }
    .logo_wrapper {
        width: 150px !important;
        margin: 10px auto;
        display: block;
        float: none!important;
    }
}
@media screen and (max-width: 667px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        padding-top: 7%;
        margin: 0px;
        font-size: 28px;
        line-height: 35px;
    }
    .greenbackground {
        font-size: 20px;
    }
    .tabletext_one {
        font-size: 16px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext_two {
        font-size: 10px;
    }
    .tabletext_three {
        font-size: 10px;
    }
    .tabletext_three span {
        font-size: 12px;
    }
    .tabletext {
        padding-top: 4%;
    }
    .tabletext_four,
    .tabletext_five {
        padding: 14% 6% 14% 6%;
        font-size: 13px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 37%;
    }
    .support_info_text {
        font-size: 18px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 12px;
        padding: 0% 0 0 5%;
    }
    .phonegirltext {
        float: right;
        width: 48%;
        margin-top: 11%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 20px;
    }
    .discount span {
        font-size: 30px;
    }
    .purchasetext {
        font-size: 20px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 14px;
    }
    .couponbutton {
        margin: 0% 0 0 12%;
    }
    .important {
        font-size: 21.5px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 13px;
    }
    .facebook {
        width: 3%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 11.5px;
        line-height: 16px;
        width: 93%;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 9px;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    .coverpic {
        width: 138px;
        margin: 6% 0 0 0;
    }
    .ptext {
        font-size: 9px;
        line-height: 14px;
        margin: 1% 0;
    }
    .couponimg {
        padding: 9% 4% 9% 4%;
    }
    .bookpara {
        padding: 6% 0 0 0
    }
}
@media screen and (max-width: 568px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        font-size: 25px;
        line-height: 30px;
        padding-top: 7%;
        margin: 0px;
    }
    .greenbackground {
        font-size: 15px;
    }
    .tabletext_one {
        font-size: 12px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext {
        padding-top: 4%;
    }
    .tabletext_four,
    .tabletext_five {
        font-size: 10px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 40%;
    }
    .support_info_text {
        font-size: 18px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 10px;
        padding: 0% 0 0 5%;
    }
    .phonegirltext {
        float: right;
        width: 48%;
        margin-top: 16%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 17px;
    }
    .discount span {
        font-size: 27px;
    }
    .purchasetext {
        font-size: 17px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 12px;
    }
    .couponbutton {
        margin: 0% 0 0 12%;
    }
    .important {
        font-size: 17.5px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 10px;
    }
    .facebook {
        width: 3%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 9.5px;
        line-height: 16px;
        width: 93%;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 8px;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    .coverpic {
        width: 116px;
        margin: 6% 0 0 0;
    }
    .ptext {
        font-size: 9px;
        line-height: 14px;
        margin: 1% 0;
    }
    .couponimg {
        padding: 9% 4% 9% 4%;
    }
    .bookpara {
        padding: 6% 0 0 0
    }
}
@media screen and (max-width: 480px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        font-size: 21px;
        line-height: 25px;
        padding-top: 7%;
        margin: 0px;
    }
    .greenbackground {
        font-size: 15px;
    }
    .tabletext_one {
        font-size: 12px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext {
        padding-top: 4%;
    }
    .tabletext_four,
    .tabletext_five {
        font-size: 9px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 40%;
    }
    .support_info_text {
        font-size: 18px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 10px;
        padding: 0% 0 0 2.2%;
    }
    .phonegirltext {
        float: right;
        width: 48%;
        margin-top: 16%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 14px;
    }
    .discount span {
        font-size: 24px;
    }
    .purchasetext {
        font-size: 14px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 10px;
    }
    .couponbutton {
        margin: 0% 0 0 12%;
    }
    .important {
        font-size: 14.5px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 9px;
    }
    .facebook {
        width: 3%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 8.1px;
        line-height: 13px;
        width: 93%;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 9px;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    .coverpic {
        width: 106px;
        margin: 6% 0 0 0;
    }
    .ptext {
        font-size: 9px;
        line-height: 14px;
        margin: 1% 0;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    .bookpara {
        padding: 6% 0 0 0
    }
}
@media screen and (max-width: 414px) {
    .phonegirltext {
        float: right;
        width: 41%;
        margin-top: 16%;
    }
    .support_info {
        margin-left: 22px;
    }
    .phonegirlimg {
        width: 32%;
    }
    .phonegirltext {
        width: 50%;
        margin-top: 10%;
    }
    .support_info_text {
        font-size: 16px;
    }
    .support_info_text a {
        font-size: 9px;
    }
    .purchasetext {
        font-size: 12px;
    }
    .discount span {
        font-size: 20px;
    }
    .textone {
        font-size: 19px;
    }
}
@media screen and (max-width: 375px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        font-size: 16px;
        line-height: 21px;
        padding-top: 9%;
        margin: 0px;
    }
    .greenbackground {
        font-size: 13px;
    }
    .tabletext_one {
        font-size: 9px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext_three {
        font-size: 10px;
    }
    .tabletext_three span {
        font-size: 9px;
    }
    .tabletext {
        padding-top: 3%;
    }
    .tabletext_four,
    .tabletext_five {
        font-size: 7px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 32%;
    }
    .support_info_text {
        font-size: 12px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 8px;
    }
    .phonegirltext {
        float: right;
        width: 59%;
        margin-top: 2%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 13px;
    }
    .discount span {
        font-size: 16px;
    }
    .purchasetext {
        font-size: 11px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 9px;
    }
    .couponbutton {
        margin: 0% 0 0 8%;
    }
    .important {
        font-size: 12px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 7px;
    }
    .facebook {
        width: 4%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 8px;
        width: 91%;
        line-height: 13px;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 9px;
    }
    img.girlimg {
        width: 112px;
    }
    .coverpic {
        width: 70px;
    }
    .ptext {
        font-size: 19px;
        line-height: 14px;
        margin: 0%;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
}
@media screen and (max-width: 320px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        font-size: 13px;
        line-height: 18px;
        padding-top: 7%;
        margin: 0px;
    }
    .greenbackground {
        font-size: 13px;
    }
    .tabletext_one {
        font-size: 8px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext_two {
        font-size: 7px;
    }
    .tabletext_three {
        font-size: 7px;
    }
    .tabletext_three span {
        font-size: 8px;
    }
    .tabletext {
        padding-top: 3%;
    }
    .tabletext_four,
    .tabletext_five {
        font-size: 6px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 32%;
    }
    .support_info_text {
        font-size: 12px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 8px;
    }
    .phonegirltext {
        float: right;
        width: 59%;
        margin-top: 2%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 11px;
    }
    .discount span {
        font-size: 14px;
    }
    .purchasetext {
        font-size: 9px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 8px;
    }
    .couponbutton {
        margin: 0% 0 0 8%;
    }
    .important {
        font-size: 10.3px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 7px;
    }
    .facebook {
        width: 4%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 8px;
        width: 91%;
        line-height: 13px;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 9px;
    }
    img.girlimg {
        width: 112px;
    }
    .coverpic {
        width: 70px;
    }
    .ptext {
        font-size: 19px;
        line-height: 14px;
        margin: 0%;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
}