.tac {
    text-align: center;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 9999;
    clear: none;
    background-color: rgba(0, 0, 0, 0.5);
}
#popupmain {
    width: 640px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding-top: 90px;
}
div#popupmain p {
    margin-bottom: 20px;
}
#policy_popupmain {
    width: 640px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding-top: 90px;
}
div#policy_popupmain p {
    margin-bottom: 20px;
}

#contact_popupmain {
    width: 640px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding-top: 90px;
}
div#contact_popupmain p {
    margin-bottom: 20px;
}

#popupcontent {
    height: 67%;
    overflow-x: hidden;
    padding: 45px;
    font-size: 18px;
    color: white;
    width: 86%;
}
#popupcontent a {
    color: white;
}

#policy_popupcontent {
    height: 67%;
    overflow-x: hidden;
    padding: 45px;
    font-size: 18px;
    color: white;
    width: 86%;
}
#policy_popupcontent a {
    color: white;
}

#contact_popupcontent {
    height: 67%;
    overflow-x: hidden;
    padding: 45px;
    font-size: 18px;
    color: white;
    width: 86%;
}
#contact_popupcontent a {
    color: white;
}


#popupclose {
    width: 640px;
    height: 30px;
    padding-top: 10px;
    cursor: pointer;
}
.header {
    color: #C00;
    font-size: 30px;
    font-weight: bold;
}
#popupclose {
    width: 640px;
    height: 30px;
    padding-top: 15px;
    position: absolute;
    top: 0;
}
div#closebutton {
    float: right;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 7px;
    text-align: center;
    margin-right: 40px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
div#close {
    text-align: center;
    border-radius: 4px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 30px;
    padding: 0;
    margin: 0;
    line-height: 30px;
}


/*popup*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.policy_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.contact_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal_content {
    width: 640px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0,0,0,.7);
    color: white;
   }

/* The Close Button */
.modal{diplay:none;}
.modal_policy{diplay:none;}
.close_wrap {
    float: right;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 7px;
    text-align: center;
    margin-right: 40px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
	position:relative;
	z-index:999999;
}
.close {
    text-align: center;
    border-radius: 4px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 30px;
    padding: 0;
    margin: 0;
    line-height: 30px;
}

.close_two {
	position:relative;
	z-index:999999;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 30px;
    padding: 0;
    margin: 0;
    line-height: 30px;
}
.close_three {
	position:relative;
	z-index:999999;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 30px;
    padding: 0;
    margin: 0;
    line-height: 30px;
}



div.footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    width: 640px;
    color: white;
}
.footerlinkwrap {}a.footerlink {
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: .9em;
}
.footer h2 {
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.1em;
}
div#indexFooter {
    display: none;
    background-color: black;
    padding: 6px 0px;
}