@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page_wrap {
    width: 640px;
    margin: 0 auto;
    position: relative;
}
.sections .content {
    position: relative;
}
.ib {
    display: inline-block;
    vertical-align: top;
}
.bold {
    font-weight: bold;
}
.medium {
    font-weight: 500;
}
.normal {
    font-weight: normal;
}
.left-side {
    display: inline-block;
    vertical-align: top;
}
.right-side {
    display: inline-block;
    vertical-align: top;
}
.left {
    display: inline-block;
    vertical-align: top;
}
.right {
    display: inline-block;
    vertical-align: top;
}
.teal {
    color: #339999;
}
p,
h1,
h2,
h3 {
    margin: 0;
}
p {
    font-size: 18px;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: #fa3664;
    font-weight: 500;
    font-size: 28px;
}
.pink {
    color: #fa3664;
}
.section_one .steps_wrap {
    position: relative;
}
.section_one .header {
    color: #41aaad;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
    padding-top: 20px;
}
.section_one .header span {
    text-transform: none;
}
.section_one .circle-wrap {
    width: 40px;
    height: 40px;
    background-color: #b6b9b2;
    border-radius: 50px;
    position: absolute;
    padding: 5px;
}
.circle.active {
    background-color: #ff3261;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin: 0 auto;
}
.circle span {
    display: block;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
    font-size: 28px;
    text-align: center;
    padding-top: 3px;
}
.section_one .bar {
    width: 450px;
    margin: 0 auto;
    margin-top: 40px;
    height: 8px;
    background-color: #b6b9b2;
    position: relative;
}
.circle_wrap.left {
    left: -20px;
    top: -20px;
}
.circle_wrap.middle {
    left: 45%;
    top: -20px;
}
.section_one .circle_wrap {
    width: 40px;
    height: 40px;
    background-color: #b6b9b2;
    border-radius: 50px;
    position: absolute;
    padding: 5px;
}
.circle_wrap.right {
    right: -20px;
    top: -20px;
}
.step_name {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: #e3e3e3;
}
.steps {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}
.step_one {
    padding-left: 30px;
    width: 170px;
}
.step_two {
    text-align: center;
    padding-left: 15px;
    width: 200px;
}
.steps.step_three {
    text-align: right;
    width: 160px;
}
.steps.active {
    color: #525357;
}
.review_product {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 540px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 2px solid lightgrey;
}
.bottle_wrap {
    width: 240px;
    text-align: center;
}
.bottle_wrap img {
    width: 170px;
    margin-top: 5px;
}
.info_wrap {
    margin-top: 5px;
}
.info {
    font-size: 22px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid lightgrey;
}
span.review_label {
    display: inline-block;
    vertical-align: top;
    width: 130px;
}
.info.line_one {
    font-weight: bold;
    padding: 0;
    border: none;
}
.info.sline_six span.orange_text {
    margin-left: -6px;
}
.info.sub {
    font-size: 20px;
    padding: 0;
    border: none;
}
.info.line_three.sub {
    margin-bottom: 10px;
}
.info.line_seven {
    border-bottom: none;
}
.section_two .content {
    background-color: #f0f7ea;
}
.section_two .top_header {
    background-color: #41aaad;
    padding: 10px 0;
    text-align: center;
    margin: 25px 0;
}
.section_two .top_header .header {
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.section_two .top_header .sub_header {
    color: white;
    font-size: 20px;
    font-weight: 500;
}
img.cards {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.form_wrap {
    padding: 0 35px;
}
.footer_wrap h1.privacy {
    color: grey;
    text-align: center;
    margin-bottom: 10px;
}
.footer_wrap img.secure {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.footer_wrap .footer {
    color: black;
    padding-bottom: 60px;
    font-size: 20px;
    width: auto;
}
.footer_wrap .footer a.footerlink {
    color: black;
    display: inline-block;
    font-size: 22px;
    margin: 10px 0;
}
label {
    color: #505257;
    font-weight: 500;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 2px;
}
.half_split.right {
    margin-left: 0.5%;
}
.half_split {
    width: 49%;
}
input[type=text],
input[type=tel],
input[type=email],
select {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 24px;
    background-color: white;
}
select {
    -webkit-appearance: none;
    background: url(../images/arrows.jpg) right top no-repeat;
    background-color: white;
}
input#submit {
    display: block;
    margin: 20px auto;
    outline: none;
}
.billing_fields h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: underline;
    color: #505257;
}
center.billing_checkbox {
    font-size: 22px;
    margin-bottom: 20px;
}
center.billing_checkbox span {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}
input.checkbox {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}
img.cvv {
    margin-left: 20px;
    margin-top: -2px;
}
span.help-block.form-error {
    color: red;
    font-weight: 500;
    margin-top: -8px;
    display: block;
}
#card_number input {
    padding-left: 80px;
}
#card_number #card_image {
    background-image: url(../images/cards.png);
    background-position: 1px -177px;
    background-size: 175px;
    background-repeat: no-repeat;
    height: 50px;
    width: 80px;
    position: absolute;
    top: 7px;
    left: 7px;
}
#card_number #card-status {
    background-image: url(images/cards.png);
    background-size: 170px 510px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    background-position: 8px -90px;
    position: absolute;
    top: 10px;
    right: 0;
}
div#card_number {
    position: relative;
}
#card_number.is-valid #card-status {
    background-position: 8px -127px;
}
#card_number.master #card_image {
    background-position: 1px -362px;
}
#card_number.visa #card_image {
    background-position: 1px -239px;
}
span.help-block.form-error {
    color: red;
    font-size: 17px;
    display: block;
    vertical-align: top;
    margin-top: -20px;
}
span.help-block.form-error {
    display: none;
}
.has-error input,
.has-error select,
input.has-error,
select.has-error {
    border: 1px solid #ff5e45!important;
    background-image: url(../images/icon_validation.png);
    background-size: 40px;
    background-position: 515px -45px;
    background-repeat: no-repeat;
}
.has_success input,
.has_success select,
input.has-success,
select.has-success {
    border: 1px solid #9acb5f!important;
    background-image: url(../images/icon_validation.png);
    background-size: 40px;
    background-position: 515px 11px;
    background-repeat: no-repeat;
}
.half_split.has-error input,
.half_split.has-error select,
.half_split input.has-error,
.half_split select.has-error {
    background-position: 223px -45px;
}
.half_split.has_success input,
.half_split.has_success select,
.half_split input.has-success,
.half_split select.has-success {
    background-position: 223px 11px;
}
/*#cvv.has-error {
    background-position: 97% -45px;
}*/

.pac-icon {
    margin-top: 20px;
}
.pac-item {
    height: 60px;
}
.pac-item-query {
    padding-right: 10px;
}
.pac-item,
.pac-item-query {
    font-size: 26px;
    line-height: 60px;
}
div#eshipwrap {
    text-align: center;
    color: black;
    font-size: 18px;
    line-height: 20px;
    margin: 30px 0;
    margin-top: 0;
}
#eshipwrap .lblue {
    color: #0097d5;
    font-size: 16px;
}
img#iconship {
    width: 145px;
    margin-top: -7px;
    margin-right: 3px;
}
div#eshipwrap p {
    margin-top: 10px;
}
div#escopy {
    width: 170px;
}
p#insure_terms {
    width: 100%;
    font-size: 15px;
}