body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page_wrap {
    width: 640px;
    margin: 0 auto;
    position: relative;
}
.sections .content {
    position: relative;
}
.ib {
    display: inline-block;
    vertical-align: top;
}
.bold {
    font-weight: bold;
}
.medium {
    font-weight: 500;
}
.normal {
    font-weight: normal;
}
.left-side {
    display: inline-block;
    vertical-align: top;
}
.right-side {
    display: inline-block;
    vertical-align: top;
}
.left {
    display: inline-block;
    vertical-align: top;
}
.right {
    display: inline-block;
    vertical-align: top;
}
.teal {
    color: #339999;
}
p,
h1,
h2,
h3 {
    margin: 0;
}
p {
    font-size: 18px;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: #fa3664;
    font-weight: 500;
    font-size: 28px;
}
.pink {
    color: #fa3664;
}
.section_one .steps_wrap {
    position: relative;
}
.section_one .header {
    color: #41aaad;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 45px;
    padding-top: 20px;
}
.section_one .header span {
    font-size: 35px;
    display: block;
    text-transform: none;
}
.section_one .circle_wrap {
    width: 40px;
    height: 40px;
    background-color: #b6b9b2;
    border-radius: 50px;
    position: absolute;
    padding: 5px;
}
.circle.active {
    background-color: #ff3261;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin: 0 auto;
}
.circle span {
    display: block;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
    font-size: 28px;
    text-align: center;
    padding-top: 3px;
}
.section_one .bar {
    width: 450px;
    margin: 0 auto;
    margin-top: 40px;
    height: 8px;
    background-color: #b6b9b2;
    position: relative;
}
.circle_wrap.left {
    left: -20px;
    top: -20px;
}
.circle_wrap.middle {
    left: 45%;
    top: -20px;
}
.circle_wrap.right {
    right: -20px;
    top: -20px;
}
.step_name {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: #e3e3e3;
}
.steps {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}
.step_one {
    padding-left: 30px;
    width: 170px;
}
.step_two {
    text-align: center;
    padding-left: 15px;
    width: 200px;
}
.steps.step_three {
    text-align: right;
    width: 160px;
}
.steps.active {
    color: #525357;
}
.section_two .content {
    background-color: #f0f7ea;
}
.section_two .top_header {
    background-color: #41aaad;
    padding: 10px 0;
    text-align: center;
    margin: 25px 0;
}
.section_two .top_header .header {
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.section_two .top_header .sub_header {
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.form_wrap {
    padding: 0 35px;
}
.footer_wrap h1.privacy {
    color: grey;
    text-align: center;
    margin-bottom: 10px;
}
.footer_wrap img.secure {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.footer_wrap .footer {
    color: black;
    padding-bottom: 60px;
    font-size: 20px;
    margin-bottom: 0;
}
.footer_wrap .footer a.footerlink {
    color: black;
    display: inline-block;
    font-size: 22px;
    margin: 10px 0;
}
label {
    color: #505257;
    font-weight: 500;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 2px;
}
.half_split.right {
    margin-left: 0.5%;
}
.half_split {
    width: 49%;
}
input[type=text],
input[type=tel],
input[type=email],
select {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 24px;
    background-color: white;
}
select {
    -webkit-appearance: none;
    background: url(../images/arrows.jpg) right top no-repeat;
    background-color: white;
}
input#submit {
    display: block;
    margin: 20px auto;
    outline: none;
}
span.help-block.form-error {
    color: red;
    font-weight: 500;
    margin-top: -8px;
    display: block;
}
span.help-block.form-error {
    display: none;
}
.has-error input[type=email],
.has-error input[type=text],
.has-error input[type=tel],
input.has-error,
select.has-error,
.has-error input,
.has-error select {
    border: 1px solid #ff5e45!important;
    background-image: url(../images/icon_validation.png);
    background-image: url(../images/icon_validation.png);
    background-size: 40px;
    background-position: 515px -45px;
    background-repeat: no-repeat;
}
.has-success input[type=email],
.has-success input[type=text],
.has-success input[type=tel],
input.has-success,
select.has-success,
.has_success input,
.has_success select {
    border: 1px solid #9acb5f!important;
    background-image: url(../images/icon_validation.png);
    background-size: 40px;
    background-position: 515px 11px;
    background-repeat: no-repeat;
}
.half_split.has-error input,
.half_split input.has-error,
.half_split.has-error select,
.half_split select.has-error {
    background-position: 225px -45px;
}
.half_split.has_success input,
.half_split input.has-success,
.half_split.has_success select,
.half_split select.has-success {
    background-position: 225px 10px;
}
.pac-icon {
    margin-top: 20px;
}
.pac-item {
    height: 60px;
}
.pac-item-query {
    padding-right: 10px;
}
.pac-item,
.pac-item-query {
    font-size: 26px;
    line-height: 60px;
}