body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
ul, li {
    list-style-type: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.alignRright {
    float: right;
    margin: 0 0 12px 15px;
}
.alignLeft {
    float: left;
    margin: 0 15px 12px 0;
}
.alignCenter {
    float: none !important;
    margin: 0 auto;
    display: block;
}
img, a img {
    /*max-width: 100%;*/
    height: auto;
    border: 0;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
img{
    /*max-width:100%;*/
    height:auto;
}
.config-errors h3 {
    padding: 10px 0;
    margin: 5px;
}
.config-errors ul {
    padding: 0;
    margin: 0;
}
.config-errors li {
    padding: 10px;
    margin: 5px;
    background-color: #FCC;
    border: 1px solid #C00;
    color: #333;
    font: 15px/20px arial, sans-serif;
}
.config-errors li strong {
    float: right;
}

input[type="text"], input[type="search"], input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="email"], textarea, select {
    background: #FFF;
    border: 1px solid #a7abad;
    color: #222222;
    height: 32px;
    line-height:22px;
    width: 100%;
    font-size: 14px;
    padding: 3px 8px;
    outline: 0px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
textarea{padding:6px; height:150px;}
select {
    line-height:24px;
    padding:4px;
    height:32px;
}
input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="email"]:focus, textarea:focus, select:focus{
    background:#fff;
    box-shadow: 0 0 5px #51cbee;
    border: 1px solid #51cbee;
}
input.has-error , select.has-error {
    background: #ffffff url("../images/error-input.png") no-repeat  99.5% 50%;
    border: 1px solid #ffa500;
}
input.no-error , select.no-error {
    background: #ffffff url("../images/tick-input.png") no-repeat 99.5% 50%;
    border: 1px solid #008000;
}
.app-benchmark {
    position: fixed;
    width: 98%;
    left: 0;
    bottom: 0;
    padding: 5px 1%;
    background-color: #CCC;
    color: #333;
    text-align: right;
    display: none;
}
#error_handler_overlay, #app_common_modal {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    background:#333;
    background: rgba(255,255,255,0.8);
    display: none;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
#error_handler_overlay  .error_handler_body {
    margin: 100px auto;
    width: 95%;
    max-width: 600px;
    color: #333;
    padding: 20px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
    box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

#error_handler_overlay_close, #app_common_modal_close {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #FFF;
    background-color: #333;
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
    padding: 0;
    margin: 0;
}
/*#error_handler_overlay  .error_handler_body ul {
margin: 0;
padding: 0 0 0px 20px;
}*/
/*#error_handler_overlay .error_handler_body ul li{
    list-style-type: disc;
}*/

#app_common_modal  .app_modal_body {
    margin: 100px auto;
    min-width: inherit;
    width:95%;
    max-width: 600px;
    min-height: 400px;
    color: #333;
    padding: 2.5%;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
#app_common_modal  .app_modal_body iframe {
    min-height: 400px;
    width: 100%;
    border: 1px solid rgb(213, 214, 239);
}
.exitpop-content {
    position: fixed;
    height: 400px;
    width: 708px;
    margin: -200px 0px 0px -354px;
    top: 50%;
    left: 50%;
    text-align: left;
    padding: 0px;
    border: none;
    z-index: 2147483647;
}
.exitpopup-overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483647;
    display: none;
}
.exitpop-content img {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;
}
.exitpop-discountbar {
    background-color: red;
    border-bottom: 4px dashed white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}
.app-load-spinner {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: #333;
    border-radius: 100%;
    /*-webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;*/
}
.float-left {
    float: left;
}
.clear {
    clear: both;
    line-height: 0;
    height: 0;
}
input[type="button"], input[type="submit"], button, .button {
    border: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    outline: 0;
    padding: 20px 30px;
    background: #2288D0;
    color: #fff;
    font-size: 20px;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover, .button:hover{
     background: #2791E4;
}

.defult {
    padding:10px 15px;
}
.defult form label {
    width: 175px;
    display: inline-block;
}
.defult input[type="text"], .defult input[type="search"], .defult input[type="text"], .defult input[type="number"], .defult input[type="password"], .defult input[type="tel"], .defult input[type="email"], .defult textarea, .defult select{max-width:275px;}
.defult input[type="button"], .defult input[type="submit"], .defult button, .defult .button{max-width:450px;}

.all-card-types li {
    float: left;
    margin-right: 20px;
}
#loading-indicator {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    box-sizing: border-box;
    font-size: 1px;
    height: 100%;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index:2147483646;
}
#loading-indicator::before {
    background: rgba(0, 0, 0, 0) url("../images/loading.gif") no-repeat scroll center center;
    box-sizing: border-box;
    content: "";
    height: 70px;
    left: 50%;
    margin-left: -35px;
    margin-top: -70px;
    position: absolute;
    top: 50%;
    width: 70px;
    z-index: 2;
}
#loading-indicator::after {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000000;
    content: "Processing, one moment please... ";
    font-family: arial;
    font-size: 17px;
    height: 110px;
    left: 50%;
    line-height: 98px;
    margin-left: -150px;
    margin-top: -75px;
    padding-top: 35px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
    z-index: 1;
}

@-webkit-keyframes scaleout {
0% { -webkit-transform: scale(0.0) }
100% {
-webkit-transform: scale(1.0);
opacity: 0;
}
}
@keyframes scaleout {
0% {
transform: scale(0.0);
-webkit-transform: scale(0.0);
} 100% {
transform: scale(1.0);
-webkit-transform: scale(1.0);
opacity: 0;
}
}


span.cb-inline-error {
    margin-top: 10px;
    font-weight: 100;
    color: #c00;
    display: block;
}

form {
    padding: 10px;
}
#loading-indicator {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 1px;
    z-index: 9999;
}
#loading-indicator:before {
    background: url("../images/loader2.GIF") no-repeat center center;
    box-sizing: border-box;
    content: "";
    height: 70px;
    left: 50%;
    margin-left: -35px;
    margin-top: -70px;
    position: absolute;
    top: 50%;
    width: 70px;
    z-index: 2;
}
#loading-indicator:after {
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    content: "Processing, one moment please... ";
    font-family: arial;
    font-size: 17px;
    height: 110px;
    left: 50%;
    line-height: 98px;
    margin-left: -150px;
    margin-top: -75px;
    padding-top: 35px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
    z-index: 1;
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
   input[type="button"], input[type="submit"], button, .button {
    border: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    outline: 0;
    padding: 20px 50px;
    background: #2288D0;
    color: #fff;
    font-size: 20px;

}
}