@media screen {

	html {
	}
	body {
		font-family: 'Open Sans', 'Sans Serif';
	}
	h1, h2, h3, h4, h5, h6 {
    	font-family: 'Oswald', 'Sans Serif';
	}
	p {
		font-family: 'Open Sans', 'Sans Serif';
		font-size: 14px;
		color: #fff;
	}
	a,
	a:hover {
		/*font-family: 'Open Sans', 'Sans Serif';*/
		/*display: inline-block;*/
		text-decoration: none;
	}
	.transition {
		-webkit-transition: all 0.7s ease;
		-moz-transition: all 0.7s ease;
		-ms-transition: all 0.7s ease;
		-o-transition: all 0.7s ease;
		transition: all 0.7s ease;
	}
	.stop-scrolling {
		height: 100%;
		overflow: hidden;
	}

	/* POSITION */
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	.text-mid {
		text-align: center;
	}

	/* IMAGES */
	.full-width {
		width: 100%;
	}

	/* BUTTONS */
	.default-btn {
		color: #fff;
		font-family: 'Open Sans', 'Sans Serif';
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 10px 30px;
		border-top: 4px solid #2387c1;
		background-color: #2dabf5;
		cursor: pointer;
		text-decoration: none;
	}
	.default-btn:hover {
		text-decoration: none;
		color: #fff;
		border-top: 4px solid #2dabf5;
		background-color: #2387c1;
	}

	/* 404 & THANK YOU */
	.page-404,
	.page-ty {
		text-align: center;
		padding: 40px;
		background-image: url(img/404-bg.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.page-404 img {
		margin: 0 auto;
	}
	.page-ty i {
	    color: #27B95C;
	    font-size: 90px;
	}
	.page-404 h2,
	.page-ty h2 {
		font-family: 'Open Sans', 'Sans Serif';
		font-weight: bold;
	}
	.page-404 h4,
	.page-ty h4 {
    	font-family: 'Open Sans', 'Sans Serif';
		font-weight: 600;
	}

	/* SIDEPANEL */
	.navbar-header {
		padding: 15px 0;
			background: rgb(140,140,140); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(140,140,140,1) 1%, rgba(22,22,22,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(140,140,140,1) 1%,rgba(22,22,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(140,140,140,1) 1%,rgba(22,22,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#161616',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-bottom: 2px solid #ff7901;
	}
	.navbar-toggle {
		margin: 0;
		padding: 0;
		position: relative;
		height: 40px;
		width: 40px;
		background: rgba(0,0,0,0.5);
		cursor: pointer;
		border-radius: 3px;
		padding: 6px 8px;
		z-index: 1000;
	}
	.navbar-toggle .icon-bar {
	    margin: 5px 0;
		background-color: #fff;
	}
	#sidepanel .menu > ul:last-child {
		display: none !important;
	}
	#sidepanel{
		background-color: #2d363e;
		height: 100%;
		position: fixed;
		width: 280px;
		z-index:1033;
		left:-280px;
		top: 0;
		box-shadow: -3px -2px 6px #FF9E9E;
	}
	#sidepanel header{
		padding: 15px;
		color: #545454;
		font-size: 20px;
		line-height: 1.9em;
		background: #fff;
		border-bottom: 1px solid #08516d;
		position: relative;
		background-color: #185f7d;
	}

	#sidepanel header img {
		max-width: 200px;
	}

	#sidepanel .exit{
		cursor:pointer;
		line-height: 1.4em;
		color: #fff;
		top: -60px;
		right: 5%;
	    border-radius: 50%;
	    border: 3px #fff solid;
	    padding: 4px 9px 6px;
	}

	#sidepanel .menu {
		padding: 0;
	}

	#sidepanel .menu ul{
		margin:0;
		padding:0;
		list-style-type:none;
	}

	#sidepanel .menu ul li{
		font-size:16px;
	}

	#sidepanel .menu ul li a{
		padding:10px 15px;
		color:#ffffff;
		display:block;
		text-decoration:none;
		border-top: 1px solid rgba(255, 255, 255, 0.05);
		border-bottom: 1px solid rgba(255, 255, 255, 0);
	}

	#sidepanel .menu ul li a:hover,
	#sidepanel .menu ul li a:active,
	#sidepanel .menu ul li a:focus,
	#sidepanel .menu ul li.current_page_item a {
		color: #28BBF2;
	}

	#sidepanel .header-menu {
	  width: 100%;
	  margin: 0;
	}

	#sidepanel .header-menu .menu-item {
	  display: block;
	}

	.sidepanel-bottom {
	  padding: 0 20px;
	}

	.sidepanel-social .links {
	  list-style: none;
	  margin-bottom: 20px;
	}

	.sidepanel-social .links li {
	  margin-bottom: 10px;
	}

	.sidepanel-social .links li a {
	  font-size: 12px;
	  color: #b2b0b0;
	}

	.sidepanel-login .social li {
	  display: inline-block;
	  margin-left: 3px;
	}
	#sidepanel .menu-item-has-children .fa-minus,
	#sidepanel .menu-item-has-children .fa-plus {
		position: absolute;
    	right: 0;
		color: #fff;
		padding: 14px;
		background-color: #bf1e2d;
		cursor: pointer;
	}
	.menu-button {
		position: absolute;
		right: 15px;
		top: 24px;
		padding: 6px 5px;
		border: 2px solid #fff;
		border-radius: 6px;
		opacity: .5;
	}

	.mobile-logo {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	a.logo img {
		/*max-width: 100px;*/
    	width: 100%;
	}
}

