<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Receipt</title>
        <link rel="stylesheet" type="text/css" href="css/receipt.css">
        <script src="js/jquery.min.js"></script>
    </head>
    <body>
        <div id="receiptWrap" class="pageWrap">
            <h1 id="rthanks" class="tac">Thank You For Your Order!</h1>
            <div id="processed" class="tac">
                <p class="m0">Your orders are currently being processed and will ship promptly.</p>
            </div>
            <div id="rcontent" class="shade">
                <div class="order_date">
                    <p class="m0">Orders Placed: </p>
                </div>
                <div class="btop"></div>
                <div id="receiptL" class="ib">
                    <div id="shippingandbilling">
                        <div id="shipping" class="sandb">
                            <p class="infotitle">Shipping Info:</p>
                            <p class="info"> </p>
                            <p class="info"></p>
                            <p class="info"></p>
                            <p class="info">, </p>
                        </div>
                        <div id="billing" class="sandb">
                            <p class="infotitle">Billing Info:<br>
                            </p>
                            <p class="info"> </p>
                            <p class="info"></p>
                            <p class="info"></p>
                            <p class="info">, </p>
                        </div>
                    </div>
                </div>
                <div id="receiptR" class="ib">
                    <div class="bottleanddescription step_one">
                        <div id="rbottles" class="ib bottlewrap">
                            <img class="imagebox" src="images/five_bottles.png" id="product_bottle">
                        </div>
                        <div class="descriptioncontain ib">
                            <div class="shipmentnumber">Shipment #1 - Order# <span></span></div>
                            {{ order.0.product }}
                            <p class="description">Total Garcinia Cambogia</p>
                            <p class="details">5 BOTTLE MONSTER PACKAGE</p>
                            <p class="details">3 Bottle + Get 2 Bottles (FREE)</p>
                            <p class="details">Customer Support: 888-703-3262</p>
                            <div class="totalamounts">
                                <p>$29.6</p>
                            </div>
                        </div>
                    </div>
                    <div class="upsell_container">
                        <div class="upsell_wrap">
                            <div class="bottle_wrap ib"><img src="images/garcinia_cleanse.png"></div>
                            <div class="bottle_info ib">
                                <div class="shipmentnumber">Shipment #2 - Order# <span></span></div>
                                <p class="line_two">TOTAL CLEANSE</p>
                                <p class="line_three">Total Cleanse</p>
                                <p class="line_five">$59</p>
                            </div>
                        </div>
                    </div>
                    <div class="btop"></div>
                    <div id="subtotal">
                        <p class="description totals">Item(s) Subtotal:</p>
                        <p class="rprice totals">$88.6</p>
                        <p class="description totals">Shipping &amp; Handling:</p>
                        <p class="rprice totals">$0.00</p>
                        <p class="description totals">&nbsp;&nbsp;</p>
                        <p class="rprice totals">----</p>
                        <p class="description totals">Total:</p>
                        <p class="rprice totals">$88.6</p>
                    </div>
                </div>
            </div>
            <p id="insureship_legal">
                <img src="images/insureship_logo_blue_bg.png" id="insureship_logo"><span>Your package is now covered by InsureShip. InsureShip provides shipping insurance to customers for the full retail value of your purchase if the shipment is lost, damaged, or stolen, providing total peace of mind with your purchase. InsureShip is billed separately from your main transaction.</span>
            </p>
        </div>
        <script type="text/javascript">/*
            * Usage
            *    This function fires custom events at different scroll depth milestones.
            */
            
            // Variables to prevent continuous firing of custom events
            
            var scrollTwentyFive = true;
            var scrollFifty = true;
            var scrollSeventyFive = true;
            var scrollOneHundred = true;
            
            // Create the scrollPercentage
            
            $(window).bind('scroll', function() {
                window.scrollPercent = ($(window).scrollTop() / ($(document).height() - $(window).height())) * 100;
            
                // Conditional code we'll use to fire events based on scrollPercentage.
            
                if (window.scrollPercent >= 25 && scrollTwentyFive) {
                  window['optimizely'] = window['optimizely'] || [];
                  window.optimizely.push(['trackEvent', 'scroll25']);
                  scrollTwentyFive = false;
                }
            
                if (window.scrollPercent >= 50 && scrollFifty) {
                  window['optimizely'] = window['optimizely'] || [];
                  window.optimizely.push(['trackEvent', 'scroll50']);
                  scrollFifty = false;
                }
            
                if (window.scrollPercent >= 75 && scrollSeventyFive) {
                  window['optimizely'] = window['optimizely'] || [];
                  window.optimizely.push(['trackEvent', 'scroll75']);
                  scrollSeventyFive = false;
                }
            
                if (window.scrollPercent >= 100 && scrollOneHundred) {
                  window['optimizely'] = window['optimizely'] || [];
                  window.optimizely.push(['trackEvent', 'scroll100']);
                  scrollOneHundred = false;
                }
            
            });
        </script>
    </body>
</html>