div.footer {
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
}
p#these {
    font-size: 13px;
}
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
    clear: none;
    background-color: rgba(0, 0, 0, 0.5);
}
#popupcontent span.header {
    color: #C00;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}
#policy_popupcontent span.header {
    color: #C00;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}
#contact_popupcontent span.header {
    color: #C00;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}
#cvv_popupcontent span.header {
    color: #C00;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}
#popupmain {
    border: 3px solid #d6d6d6;
    background-color: white;
    width: 760px;
    height: 440px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -240px 0 0 -400px;
    padding: 20px;
}
#popupcontent {
    width: 760px;
    height: 400px;
    overflow-x: hidden;
    text-align: justify;
    font-size: 16px;
}
div#popupcontent p {
    display: block;
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
}
#policy_popupcontent {
    width: 760px;
    height: 400px;
    overflow-x: hidden;
    text-align: justify;
    font-size: 16px;
}
div#policy_popupcontent p {
    display: block;
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
}
#contact_popupcontent {
    width: 760px;
    height: 400px;
    overflow-x: hidden;
    text-align: justify;
    font-size: 16px;
}
div#contact_popupcontent p {
    display: block;
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
}
#cvv_popupcontent {
    width: 760px;
    height: 400px;
    overflow-x: hidden;
    text-align: justify;
    font-size: 16px;
}
div#cvv_popupcontent p {
    display: block;
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
}
.close_wrap_outer {
    width: 760px;
    height: 30px;
    padding-top: 10px;
    text-align: right;
    cursor: pointer;
}
.close_wrap {
    float: right;
    height: 30px;
    width: 140px;
    background: -webkit-linear-gradient(#78c44c, #427422);
    background: -o-linear-gradient(#78c44c, #427422);
    background: -moz-linear-gradient(#78c44c, #427422);
    background: linear-gradient(#78c44c, #427422);
    border-radius: 5px;
    border: 1px solid #78c44c;
    box-shadow: 0px 2px 4px black;
}
.close {
    width: 138px;
    text-align: center;
    border-radius: 4px;
    border-top: 1px solid white;
    color: white;
    padding-top: 5px;
    font-size: 14px;
    margin-left: 1px;
    text-transform: uppercase;
}
.close_two {
    width: 138px;
    text-align: center;
    border-radius: 4px;
    border-top: 1px solid white;
    color: white;
    padding-top: 5px;
    font-size: 14px;
    margin-left: 1px;
    text-transform: uppercase;
}
.close_three {
    width: 138px;
    text-align: center;
    border-radius: 4px;
    border-top: 1px solid white;
    color: white;
    padding-top: 5px;
    font-size: 14px;
    margin-left: 1px;
    text-transform: uppercase;
}
.cvv_close {
    width: 138px;
    text-align: center;
    border-radius: 4px;
    border-top: 1px solid white;
    color: white;
    padding-top: 5px;
    font-size: 14px;
    margin-left: 1px;
    text-transform: uppercase;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
    clear: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal_content {
    border: 3px solid #d6d6d6;
    background-color: white;
    width: 760px;
    height: 440px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -240px 0 0 -400px;
    padding: 20px;
}
.policy_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
    clear: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.contact_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
    clear: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.cvv_info_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
    clear: none;
    background-color: rgba(0, 0, 0, 0.5);
}
a.footerlink {
    cursor: pointer;
}
.footer p {
    display: inline-block;
    margin: 0 15px;
}