@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page_wrap {
    min-width: 1060px;
}
.sections .content {
    width: 1060px;
    margin: 0 auto;
}
.ib {
    display: inline-block;
    vertical-align: top;
}
.bold {
    font-weight: bold;
}
.medium {
    font-weight: 500;
}
.normal {
    font-weight: normal;
}
.left_side {
    display: inline-block;
    vertical-align: top;
}
.right-side {
    display: inline-block;
    vertical-align: top;
}
.left {
    display: inline-block;
    vertical-align: top;
}
.right {
    display: inline-block;
    vertical-align: top;
}
.teal {
    color: #339999;
}
.tac {}p,
h1,
h2,
h3 {
    margin: 0;
}
p {
    font-size: 18px;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: #fa3664;
    font-weight: 500;
    font-size: 28px;
}
.pink {
    color: #fa3664;
}
.sep {
    margin-top: 20px;
}
.red {
    color: red;
}
input.button_active:active {
    -ms-transform: scale(.95);
    -webkit-transform: scale(.95);
    transform: scale(.95);
}
.left {
    width: 710px;
}
.section_one {
    background: url(../images/gradient_bg.jpg) center top repeat-x;
}
.order_summary {
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15px;
    width: 665px;
    border: 6px solid #3AAFAE;
}
.order_summary h1 {
    color: #3bafae;
    font-size: 28px;
    padding-top: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}
.order_summary h2 {
    color: #3bafae;
    text-align: center;
    font-size: 22px;
}
img.progress_bar {
    display: block;
    margin: 10px auto;
    margin-top: 0px;
}
img.seal_one {
    width: 110px;
    margin-top: -5px;
}
.bottle_wrap img {
    width: 150px;
    margin-top: 10px;
}
.bottle_wrap {
    margin-left: -40px;
}
p.price_label {
    display: inline-block;
    vertical-align: top;
    width: 340px;
}
p.prices {
    display: inline-block;
    vertical-align: top;
}
.price_breakdown {
    width: 430px;
    padding-top: 30px;
}
.price_breakdown p {
    font-size: 16px;
    font-weight: 500;
}
p.normal.price_label {
    font-weight: normal;
    font-size: 14px;
}
p.prices.red.discount {
    margin-left: -5px;
}
.shipping_info {
    background-color: #def7fc;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.shipping_info img {
    width: 160px;
    margin-bottom: -2px;
}
.shipping_date {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
    width: 435px;
}
img#seals {
    margin-left: 10px;
}
.arrow {
    background: url(../images/pink_band.png) center top no-repeat;
    height: 55px;
    width: 460px;
    margin-left: 20px;
    position: absolute;
}
.arrow span {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 21px;
    padding-top: 15px;
    display: block;
    padding-left: 30px;
}
.terms {
    font-size: 13px;
    color: #afafaf;
    padding: 15px;
}
img.benefits {
    display: block;
    margin: 0 auto;
}
img.footer_logos {
    width: 675px;
    margin-left: 32px;
    display: block;
}
#these {
    display: none;
}
.footer-wrap div.footer {
    text-align: center;
    font-size: 12px;
    margin: 20px auto;
    margin-left: 25px;
}
div#exclusive {
    width: 320px;
    margin-left: 5px;
    margin-top: 23px;
}
.form_top {
    background: url(../images/payment_form_top_bg.png) center top no-repeat;
    height: 180px;
    width: 100%;
}
.form_middle {
    background: url(../images/payment_form_middle_bg.png) center top repeat-y;
    width: 100%;
}
.form_bottom {
    background: url(../images/payment_form_bottom_bg.png) center top no-repeat;
    height: 114px;
    width: 100%;
}
img.benefits {
    display: block;
    margin-left: 37px;
    margin-top: 15px;
    margin-bottom: 10px;
}
div.loading_wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    top: 0;
    left: 0;
}
div.loading_window {
    width: 420px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin-top: 15%;
}
.loading_window .line_one {
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.loading_window .sline_two {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.loading_window .line_three {
    font-size: 24px;
    margin-top: 0px;
    color: red;
}
.form_fields {
    width: 280px;
    margin: 0 auto;
}
.form_fields p {
    margin: 0;
}
input[type=text],
input[type=tel],
input[type=email],
select {
    background-color: #f3f3f3;
    border: 1px solid #b1b1b1;
    display: inline-block;
    width: 185px;
    height: 25px;
    padding-left: 8px;
    margin-bottom: 7px;
    box-sizing: border-box;
}
label {
    color: black;
    font-size: 13px;
    text-align: right;
    width: 75px;
    height: 20px;
    display: inline-block;
    padding-top: 4px;
    padding-right: 5px;
    margin-bottom: 3px;
}
.pricing_totals {
    padding-top: 20px;
    text-align: center;
}
.pricing_totals img {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin-top: -8px;
}
.billing_info_radio {
    text-align: center;
    font-size: 15px;
    margin: 10px auto;
}
.billing_info_radio p {
    font-size: 15px;
    padding-bottom: 5px;
}
.form_title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: bold;
}
select#exp_month {
    width: 100px;
}
select#exp_year {
    width: 81px;
}
input#cvv {
    width: 70px;
}
div#whats_this {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
div#whats_this a {
    text-decoration: underline;
    color: green;
    font-size: 13px;
}
input#submit_button {
    margin-top: 15px;
    outline: none;
}
input#card_number_mask {
    padding-left: 33px;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
select:focus {
    border: 1px solid grey;
    border-bottom: 2px solid #1e90ff;
    outline: none;
}
span.help-block.form-error {
    display: none;
}
.has-error input[type=email],
.has-error input[type=text],
.has-error input[type=tel],
input[type=tel].has-error,
input[type=email].has-error,
input[type=text].has-error,
select.has-error {
    border: 1px solid grey!important;
    border-bottom: 2px solid #ff5e45!important;
    background-image: url(../images/icon-validation.png);
    background-size: 16px;
    background-position: 97% -18px;
    background-repeat: no-repeat;
}
.has-error select {
    border: 1px solid grey!important;
    border-bottom: 2px solid #ff5e45!important;
    background-image: url(../images/icon-validation.png);
    background-size: 16px;
    background-position: 165px -18px;
    background-repeat: no-repeat;
}
.has-error select#exp_month {
    background-position: 70px -18px;
}
.has-error select#exp_year {
    background-position: 50px -18px;
}
.has-error input#cvv {
    background-position: 50px -18px;
}
.form_title.payment_title {
    margin-top: 0;
}
.fields {
    padding: 10px 0;
}
.input_fields {
    position: relative;
}
.input_fields.split_fields {
    display: inline-block;
    vertical-align: top;
}
.has-success input[type=email],
.has-success input[type=text],
.has-success input[type=tel],
input[type=tel].has-success,
input[type=email].has-success,
input[type=text].has-success,
select.has-success {
    border: 1px solid grey!important;
    background-image: url(../images/icon-validation.png);
    background-size: 16px;
    background-position: 97% 4px;
    background-repeat: no-repeat;
}
.has-success select {
    border: 1px solid grey!important;
    background-image: url(../images/icon-validation.png);
    background-size: 16px;
    background-position: 165px 4px;
    background-repeat: no-repeat;
}
.has-success select#exp_month {
    background-position: 70px 4px;
}
.has-success select#exp_year {
    background-position: 50px 4px;
}
.has-success input#cvv {
    background-position: 50px 4px;
}
.address_field {}.pac-container {
    width: 300px!important;
}
.pac-item {
    height: 46px;
}
.pac-item,
.pac-item-query {
    font-size: 16px;
    line-height: 46px;
}
.pac-item-query {
    padding-right: 7px;
}
.pac-icon {
    margin-top: 10px;
}
.card-background {
    display: inline-block;
    vertical-align: top;
    background-color: #f3f3f3;
    border-radius: 3px;
    margin-bottom: 5px;
}
input#card_number_mask {
    padding-left: 34px;
    background-color: transparent;
    margin-bottom: 2px;
    position: relative;
    z-index: 2;
}
#card-image {
    background-image: url(../images/cards.png);
    background-position: 0 -75px;
    background-size: 75px;
    background-repeat: no-repeat;
    height: 23px;
    width: 32px;
    position: absolute;
    top: 1px;
    left: 88px;
    z-index: 1;
}
#card-number #card-status {
    background-image: url(../images/cards.png);
    background-size: 150px 490px;
    background-repeat: no-repeat;
    height: 35px;
    width: 40px;
    background-position: 10px -87px;
    position: absolute;
    top: 0;
    right: 0;
}
#card-number.is-valid #card-status {
    background-position: 10px -123px;
}
.card-background.master #card-image {
    background-position: 0 -154px;
}
.card-background.visa #card-image {
    background-position: 0 -101px;
}
img#iconship {
    width: 110px;
    margin-top: -5px;
    margin-right: 3px;
    vertical-align: top;
}
div#eshipwrap {
    color: black;
    font-size: 14px;
    text-align: center;
    width: 270px;
    margin: 0 auto;
    padding: 10px;
}
div#eshipwrap p {
    margin-bottom: 2px;
}
#eshipwrap .lblue {
    color: #0097d5;
    font-size: 13px;
}
input#declinecb {
    width: 15px;
    height: 14px;
    -webkit-appearance: checkbox;
    margin-top: -1px;
}
.ib {
    display: inline-block;
    vertical-align: top;
}
p#is_terms {
    font-size: 12px;
    margin-top: 10px;
}