@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
.ib {
    display: inline-block;
    vertical-align: top;
}
.tac {
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', Helvetica, sans-serif;
}
.btop {
    border-top: 1px solid lightgrey;
}
h1#rthanks {
    font-style: italic;
    margin-top: 0;
    padding-top: 20px;
}
#rcontent {
    width: 960px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.order_date {
    font-size: 24px;
    margin-bottom: 10px;
}
.shipmentnumber {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: underline;
}
.bottleanddescription {
    width: 100%;
    margin: 0 auto;
}
img.imagebox {
    width: 200px;
    margin: 10px 0;
}
.descriptioncontain p {
    margin: 0;
    line-height: 30px;
}
.descriptioncontain.ib {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 30px;
    width: 365px;
}
.descriptioncontain p.description {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
#subtotal p.totals {
    display: inline-block;
    margin: 0;
}
.totalamounts {
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px;
}
div#subtotal {
    width: 400px;
    margin: 20px 0;
    margin-left: 235px;
}
#subtotal p.description.totals {
    width: 270px;
    font-weight: bold;
    font-size: 20px;
}
p.rprice.totals {
    font-size: 18px;
}
div.sandb {
    margin-left: 20px;
    font-size: 16px;
}
p.infotitle {
    font-weight: bold;
}
div#receiptL {
    width: 310px;
    margin-top: 20px;
    margin-right: 40px;
    border: 1px solid lightgrey;
}
div#receiptR {
    width: 600px;
}
div.bottlewrap {
    width: 200px;
    text-align: center;
}
p#insureship_legal {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}
img#insureship_logo {
    width: 160px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
p#insureship_legal span {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 830px;
    line-height: 20px;
}