@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page_wrap {
    width: 640px;
    margin: 0 auto;
    position: relative;
}
.sections .content {
    position: relative;
}
.ib {
    display: inline-block;
    vertical-align: top;
}
.bold {
    font-weight: 700;
}
.medium {
    font-weight: 500;
}
.normal {
    font-weight: normal;
}
.left-side {
    display: inline-block;
    vertical-align: top;
}
.right-side {
    display: inline-block;
    vertical-align: top;
}
.left {
    display: inline-block;
    vertical-align: top;
}
.right {
    display: inline-block;
    vertical-align: top;
}
.teal {
    color: #339999;
}
p,
h1,
h2,
h3 {
    margin: 0;
}
p {
    font-size: 18px;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: #fa3664;
    font-weight: 500;
    font-size: 28px;
}
.pink {
    color: #fa3664;
}
div.benefit_bottom {
    display: none;
}
.section_one h1 {
    color: #41aaad;
    text-transform: uppercase;
    font-size: 58px;
    line-height: 57px;
    letter-spacing: -2px;
    padding-top: 20px;
    margin-left: 20px;
}
.section_one .sub_head {
    background-color: #41aaad;
    padding: 7px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 20px;
    width: 450px;
    margin-top: 10px;
}
.section_one .sub_head span {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.section_one .check_benefits {
    background-color: #f1f1f1;
    padding-bottom: 50px;
    padding-top: 20px;
    width: 475px;
}
.section_one .checks {
    background: url(../images/green-check.png) left top no-repeat;
    padding-left: 40px;
    background-position: 0 5px;
    margin-left: 20px;
    height: 50px;
}
.section_one .checks h3 {
    color: #ff295f;
    font-size: 30px;
}
.section_one .hero-overlay {
    position: absolute;
    top: 0;
    width: 100%;
}
.section_one .offer {
    background: url(../images/yellow-top-triangle.png) top right no-repeat;
    height: 180px;
    width: 240px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.section_one .offer span {
    display: block;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}
.section_one .offer img {
    margin-right: 10px;
    margin-top: 10px;
}
.section_one img.hero {
    margin-top: 105px;
    margin-left: 120px;
    top: 0;
    position: absolute;
}
.section_one .try {
    margin-top: 35px;
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    font-size: 22px;
    position: relative;
}
.section_one .try span {
    font-weight: 500;
}
.section_one .badges {
    position: relative;
    margin: 20px;
    width: 260px;
}
.section_one img.badge-1 {
    margin-left: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.section_one img.badge_four {
    margin-left: 2px;
}
.section_title {
    background-color: #3aaeae;
    text-align: center;
    padding: 20px;
}
.section_title h1 {
    color: white;
    font-size: 54px;
}
.section_title h3 {
    color: #9ffbfc;
    font-size: 32px;
}
.section_two .section_bg {
    background: url(../images/belly.jpg) center top no-repeat;
    height: 500px;
}
.section_two .section_copy {
    padding: 30px;
    padding-top: 0;
}
.section_two .section_bg img {
    margin-top: 255px;
}
.section_two .section_copy h3 {
    font-size: 36px;
    color: #3aaeae;
    font-weight: 500;
}
.section_two .section_copy p {
    font-size: 30px;
    margin-top: 30px;
    line-height: 40px;
    margin-bottom: 40px;
}
.section_three .benefit_top {
    background-color: #f0f8eb;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid white;
}
.section_three .benefit_top img.benefit_image {
    margin: 50px 35px;
}
.section_three .benefit_top .copy_wrap {
    width: 330px;
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
}
.section_three .benefit_top .copy_wrap h1.header {
    color: #3aaeae;
    font-size: 36px;
}
.section_three .benefit_top .copy_wrap p.sub_header {
    font-size: 30px;
    margin: 10px 0;
}
.section_three .benefit_top .copy_wrap a.learn_more {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
}
.section_three .benefit_bottom .triangle {
    text-align: center;
}
.section_three .benefit_bottom h1.header {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: #3aaeae;
}
.section_three .benefit_bottom h3.sub_header {
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.section_three .benefit_bottom .copy_wrap {
    width: 530px;
    margin: 20px auto;
}
.section_three .benefit_bottom .copy_wrap p {
    font-size: 24px;
}
.section_three .benefit_bottom .copy_wrap a.learn_more {
    color: black;
    font-weight: 500;
    text-decoration: none;
    font-size: 27px;
    margin: 20px 0px;
    display: block;
    margin-bottom: 50px;
}
.section_four .image_bg {
    background: url(../images/trees_bg.jpg) center top repeat-y;
}
.section_four .benefits {
    text-align: center;
    height: 225px;
}
.section_four .benefits h2 {
    font-size: 44px;
    font-weight: 700;
    color: white;
    line-height: 45px;
    padding-top: 40px;
}
.section_four .benefits h3 {
    color: #fef200;
    font-size: 32px;
}
.section_four .benefit_two {
    margin-top: 10px;
}
.section_four .benefit_three {
    margin-top: 30px;
}
.section_four .benefit_four {
    margin-top: 15px;
}
.section_five .content {
    background-color: #f0f8eb;
    border-bottom: 5px solid #3aaeae;
}
.section_five .steps {
    margin: 60px 0px;
}
.section_five .step_number {
    border: 5px solid #3aaeae;
    height: 100px;
    width: 100px;
    border-radius: 60px;
    background-color: #fff000;
    color: #f73469;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    margin-right: 20px;
}
.section_five .step_number span {
    font-size: 66px;
    font-weight: 700;
    display: block;
    margin-top: 10px;
}
.section_five .step_copy {
    display: inline-block;
    vertical-align: top;
    width: 440px;
}
.section_five .step_copy h3 {
    font-size: 36px;
    color: #3aaeae;
}
.section_five .step_copy p {
    font-size: 28px;
}
.section_five .content img {
    display: block;
    margin: 0 auto;
    margin-bottom: -280px;
    width: 500px;
    margin-right: 10px;
}
.sections.section_six {
    padding-bottom: 265px;
}
.section_six h1 {
    margin-top: 170px;
    text-align: center;
    color: #41aaad;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 20px;
}
.section_six .sub_head {
    background-color: #41aaad;
    padding: 7px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 20px;
    width: 450px;
    margin-top: 10px;
}
.section_six .sub_head span {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.section_six .check_benefits {
    background-color: #f1f1f1;
    padding-bottom: 50px;
    padding-top: 20px;
    width: 475px;
}
.section_six .checks {
    background: url(../images/green-check.png) left top no-repeat;
    padding-left: 40px;
    background-position: 0 5px;
    margin-left: 20px;
    height: 50px;
}
.section_six .checks h3 {
    color: #ff295f;
    font-size: 30px;
}
.section_six .badges {
    position: relative;
    margin: 20px;
    width: 260px;
    margin-left: 80px;
}
.section_six img.badge_one {
    margin-left: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.section_six img.badge_four {
    margin-left: 2px;
}
.section_six .try {
    margin-top: 35px;
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    font-size: 22px;
    position: relative;
}
.section_six .try span {
    font-weight: 500;
}
.section_six img.hero {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 170px;
}
.sections.sticky_button_wrap {
    position: fixed;
    bottom: 0;
}
.sticky_button {
    background: url(../images/sticky_bg.png) center top no-repeat;
    height: 207px;
    width: 640px;
    display: block;
}
.sticky_button img.bottle {
    width: 170px;
    margin-top: -22px;
    margin-left: 20px;
}
.index_footer {
    background-color: black;
    padding: 10px 0;
    display: none;
}