{% if messages %}
<style>
/* Modal Content/Box */


</style>
    <div class="modal" style="display:block; z-index:5000;">
                <!-- Modal content -->
                <div class="modal_content">
                    <div id="contact_popupcontent">
                        <div class="legal_terms">
                            <div style="color:red;font-size:24px;font-weight:bold;text-align:center;">OOPS!</div>
                            <div style="color:red;font-size:26px;font-weight:bold;text-align:center;">There Seems To Be
                                A
                                Problem!
                            </div>
                            <br/>
                            Error Message:<br/>
                            <strong>
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %}
                                            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </strong>
                            <b></b><br/><br/>
                            Please close this message and try again.<br/>
                            If you continue to have problems please call 1-888-894-8568<br/>
                        </div>
                    </div>
                    <div class="close_wrap_outer">
                        <div class="close_wrap">
                            <div class="close" onclick="$('.modal').hide();">Close</div>
                        </div>
                    </div>
                </div>
            </div>
{% endif %}