{% if messages %}

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" tabindex="-1" role="dialog"
     style="display: block; z-index: 1002; outline: 0px; position: fixed; height: auto; width: 600px; top: 206px; left: 340px;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span class="ui-dialog-title"
                                                                                            >&nbsp;</span><a
            href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button" onclick="$('.ui-dialog').hide(); return false;"><span
            class="ui-icon ui-icon-closethick">close</span></a></div>
    <div class="ui-dialog-content ui-widget-content"
         style="width: auto; min-height: 0px; height: auto;">
        <div class="legal_terms">
                            <div style="color:red;font-size:24px;font-weight:bold;text-align:center;">OOPS!</div>
                            <div style="color:red;font-size:26px;font-weight:bold;text-align:center;">There Seems To Be
                                A
                                Problem!
                            </div>
                            <br/>
                            Error Message:<br/>
                            <strong>
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %}
                                            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </strong>
                            <b></b><br/><br/>
                            Please close this message and try again.<br/>
                            If you continue to have problems please call 1-888-894-8568<br/>
                        </div>
    </div>
    <div class="ui-resizable-handle ui-resizable-n" style="display: block;"></div>
    <div class="ui-resizable-handle ui-resizable-e" style="display: block;"></div>
    <div class="ui-resizable-handle ui-resizable-s" style="display: block;"></div>
    <div class="ui-resizable-handle ui-resizable-w" style="display: block;"></div>
    <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se ui-icon-grip-diagonal-se"
         style="z-index: 1001; display: block;"></div>
    <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 1002; display: block;"></div>
    <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 1003; display: block;"></div>
    <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 1004; display: block;"></div>
</div>
{% endif %}