/*----------------
RESET CSS
-----------------*/

body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}
div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
    margin: 0;
    padding: 0;
}
table,
tr,
td {
    border: 0;
}
a {
    outline: none;
    color: #333;
    text-decoration: none;
}
a:hover {
    outline: none;
    color: #000;
    text-decoration: none;
}
img {
    border: none;
}
li {
    list-style: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}
.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
}
/*-------------------
END RESET
---------------------*/

.top-bar {
    float: left;
    width: 100%;
    background: #000;
}
.container {
    margin: 0 auto;
    position: relative;
    display: table;
    width: 1170px;
}
.top_logo {
    margin: 20px 0 15px 0;
}
.upsell_box {
    float: left;
    width: 100%;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 1px 1px #E8E8E8;
    box-shadow: 0 0 1px 1px #E8E8E8;
    padding: 15px;
    box-sizing: border-box;
}
.steps {
    float: left;
    width: 100%;
    background: #e8e8e8;
    border: 1px solid #adadad;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.inner_steps {
    float: left;
    width: 33.33%;
    text-align: center;
    color: #575656;
    font-size: 24px;
    line-height: 24px;
    padding: 14px 0 16px 0;
}
.inner_steps.selected {
    background: #90c23e;
    font-weight: bold;
    color: #fff;
}
.upsell_heading_one {
    float: left;
    width: 100%;
    color: #464646;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
}
.upsell_heading_one span {
    color: #ff0000;
}
.footer {
    float: left;
    width: 100%;
    border-top: 4px solid #eaeaea;
    margin-top: 30px;
    padding: 20px 0;
}
.footer_text {
    font-size: 16px;
    line-height: 24px;
    color: #2c2c2c;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 0 0;
}
.footer_text a,
.footer_text a:hover {
    text-decoration: none;
    color: #2c2c2c;
}
.left_column {
    width: 45%;
    float: left;
    padding: 20px;
}
.right_column {
    width: 45%;
    float: left;
    padding: 20px;
    text-align: left;
}
hr {
    border: 1px solid #ccc;
    width: 100%;
}
.left_column p {
    font-size: 20px;
    line-height: 22px;
}
.right_column p {
    font-size: 20px;
    text-align: left;
    line-height: 22px;
}
.panel_heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #464646;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
.thankyou_left {
    width: 90%;
    float: left;
    padding-top: 15px;
}
.thankyou_right {
    width: 10%;
    float: right;
    padding-top: 15px;
}
.right_column p {
    padding-top: 13px;
}
.clear {
    clear: both;
}
.footer_popup_text p {
    font-family: "Cambria", sans-serif;
}