#discountholder {
    display: none;
}
.discountsection {
    z-index: 9999;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: red;
    border-bottom: white dashed 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.discountoffset {
    position: relative;
    width: 100%;
    height: 22px;
    padding: 15px;
}
#exit_pop {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 9999;
    clear: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.exit_pop_content {
    cursor: pointer;
    background: url(../images/exit.jpg) center top no-repeat;
    width: 700px;
    height: 415px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -204px 0 0 -344px;
}
.bottle_exit_1 {
    position: absolute;
    top: 200px;
    left: 35px;
    width: 150px;
}
.shipping_perc_off {
    color: #ff5f01;
    position: absolute;
    top: 80px;
    left: 205px;
    font-size:100px;
    font-weight: bold;
    letter-spacing: -2px;
    width: 450px;
    text-align: center;
}
.shipping_lo {
    color: white;
    position: absolute;
    top: 24px;
    left: 347px;
    font-size: 22px;
    width: 302px;
}
.shipping_pay_only {
    color: white;
    position: absolute;
    top: 85px;
    left: 37px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 614px;
}