@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page_wrap {
    min-width: 1150px;
}
.sections .content {
    width: 980px;
    margin: 0 auto;
}
.ib {
    display: inline-block;
    vertical-align: top;
}
.bold {
    font-weight: bold;
}
.medium {
    font-weight: 500;
}
.normal {
    font-weight: normal;
}
.left_side {
    display: inline-block;
    vertical-align: top;
}
.right_side {
    display: inline-block;
    vertical-align: top;
}
.left {
    display: inline-block;
    vertical-align: top;
}
.right {
    display: inline-block;
    vertical-align: top;
}
.teal {
    color: #339999;
}
p,
h1,
h2,
h3 {
    margin: 0;
}
p {
    font-size: 18px;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: #fa3664;
    font-weight: 500;
    font-size: 28px;
}
.pink {
    color: #fa3664;
}
input.button_active:active {
    -ms-transform: scale(.95);
    -webkit-transform: scale(.95);
    transform: scale(.95);
}
a.toTop.button_active {
    display: inline-block;
}
a.toTop.button_active:active {
    -ms-transform: scale(.95);
    -webkit-transform: scale(.95);
    transform: scale(.95);
}
.section_one .content {
    width: 1150px;
}
.section_one .left {
    background: url(../images/banner_girl.jpg) left top no-repeat;
}
.section_one .bottle img {
    width: 153px;
    margin-top: 275px;
    margin-left: 175px;
}
.section_one .left_side {
    width: 310px;
    text-align: center;
}
.section_one .right_side {
    width: 450px;
}
.section_one .right_side h1 {
    color: #41aaad;
    text-transform: uppercase;
    font-size: 58px;
    line-height: 57px;
    letter-spacing: -2px;
    margin-top: 25px;
    margin-left: 18px;
}
.section_one .right_side p.sub_head {
    color: #fa3664;
    font-weight: 500;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 26px;
    margin-bottom: 25px;
}
.section_one .right_side .check_benefits {
    background-color: #f1f1f1;
    padding: 15px 0px;
}
.section_one .right_side .check_benefits .checks p {
    font-size: 16px;
}
.section_one .right_side .check_benefits .checks {
    background: url(../images/checkmark_green.png) left top no-repeat;
    padding-left: 70px;
    background-position: 30px 10px;
    margin-bottom: 10px;
}
.section_one .right_side .check_benefits .checks h3 {
    color: #fa3664;
    font-size: 23px;
    font-weight: 500;
}
.section_one .right_side .arrow {
    background: url(../images/pink_band.png) center top no-repeat;
    height: 55px;
    width: 460px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}
.section_one .right_side .arrow span {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    padding-top: 15px;
    display: block;
    padding-left: 30px;
}
.section_one .bottom_side {
    margin-top: 10px;
    text-align: center;
}
.section_one .exlusive_offer {
    text-align: right;
    margin-top: 15px;
    margin-right: 32px;
    font-size: 14px;
}
.section_one img.usa_one {
    margin-top: -5px;
    margin-right: 10px;
}
.section_one img.benefits_one {
    padding-left: 35px;
}
.section_one .icons.seals_one img {
    padding-left: 60px;
}
.section_one .right {
    background: url(../images/garcinia_fruit_group.png) right top no-repeat;
    width: 405px;
    background-position: right 10px;
    margin-left: -30px;
}
#exclusive {
    background: url(../images/shipping_form.png) center top no-repeat;
    height: 605px;
    width: 320px;
    margin-left: 20px;
    margin-top: 60px;
    position: relative;
}
#exclusive .form_fields {
    width: 300px;
    margin: 0 auto;
    padding-top: 180px;
}
input#submit {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    outline: 0;
    padding-right: 5px;
}
.section_one img.logos_one {
    display: block;
    margin: 20px auto;
}
img.pink_arrow_top {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    position: absolute;
    top: 80px;
    right: -35px;
    opacity: 0;
}
#exclusive:hover .pink_arrow_top {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
.section_two .reason_one {
    background-color: #f0f8eb;
    padding: 30px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}
.section_two .reason_one .left_side h2 {
    margin-top: -5px;
}
.section_two .reason_one .left_side p {
    font-size: 18px;
    line-height: 25px;
    color: #5d5d5d;
}
.section_two .reason_one .left_side p strong {
    margin: 10px 0;
    display: block;
    font-weight: 500;
}
.section_two .reason_one .left_side p.teal.bold {
    margin-top: 10px;
    color: #3fb1b2;
    font-weight: 500;
}
.section_two .reason_one .left_side {
    width: 460px;
    margin-right: 20px;
}
.section_two .reason_one .right_side img {
    margin-top: 5px;
}
.section_three .right_side {
    background-color: #f8f8f8;
    padding: 30px;
    margin-left: 0px;
    line-height: 25px;
    padding-bottom: 20px;
    padding-right: 25px;
    width: 535px;
}
.section_three .right_side p {
    margin: 10px 0;
}
.section_three .left_side img {
    margin-top: 30px;
}
.sections.section_four .content {
    margin-top: 60px;
}
.section_four .left_side {
    width: 415px;
}
.section_four .left_side p {}.section_four .content p {
    line-height: 25px;
}
.section_four .left_side p {
    margin: 10px 0;
}
.section_four .right_side .checks_benefits {
    background-color: #edf7f9;
    padding: 30px;
    margin-left: 25px;
}
.section_four .right_side .checks_benefits h2 {
    text-transform: uppercase;
}
.section_four .right_side .checks_benefits .checks {
    background: url(../images/tick.png) left top no-repeat;
    padding-left: 60px;
    background-position: 25px 0px;
    margin-bottom: 20px;
}
.ssection_four .right_side .checks_benefits p.subhead {
    margin-bottom: 20px;
}
.section_five_wrap {
    background-color: #eeedf5;
    margin-top: 50px;
}
.section_five_wrap .left_side img {
    margin-left: -90px;
    margin-top: -37px;
}
.section_five_wrap .right_side {
    padding: 15px;
    width: 730px;
    margin-left: -25px;
    margin-top: 10px;
    padding-right: 0px;
}
.section_five_wrap .right_side p {
    line-height: 25px;
    margin: 10px 0;
}
.section_five_wrap .right_side p.subtext {
    font-size: 16px;
}
.section_six .left {
    position: relative;
}
.section_six h1 {
    color: #41aaad;
    text-transform: uppercase;
    font-size: 58px;
    line-height: 57px;
    letter-spacing: -2px;
    margin-top: 25px;
}
.section_six p.subtext {
    font-size: 20px;
    margin: 15px 0px;
}
.section_six .checks_benefits {
    background-color: #f1f1f1;
    padding: 15px;
    padding-bottom: 10px;
    width: 540px;
}
.section_six .checks_benefits h2 {
    font-size: 24px;
}
.section_six .checks_benefits p {
    font-size: 17px;
}
.section_six .checks {
    background: url(../images/checkmark_green.png) left top no-repeat;
    background-position: 12px 5px;
    margin-bottom: 13px;
    padding-left: 50px;
}
.section_six .teal_arrow {
    background: url(../images/green_arrow.png) left top no-repeat;
    height: 55px;
    width: 620px;
}
.section_six .teal_arrow span {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    padding-top: 15px;
    display: block;
    padding-left: 24px;
    font-size: 23px;
}
.section_six .icons_wrap {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 100px;
    overflow: hidden;
    height: 210px;
}
.section_six .icons_wrap .icons {
    background: url(../images/seals.png) center top no-repeat;
    height: 65px;
    width: 65px;
    margin: 0 auto;
}
.section_six .icons_wrap .icons.icon_two {
    background-position: -149px 0;
    margin: 4px auto;
}
.section_six .icons_wrap .icons.icon_three {
    background-position: 5px 0;
    margin: 4px auto;
}
.section_six .hero {
    background: url(../images/bottom_model.png) center top no-repeat;
    height: 470px;
    width: 460px;
    margin-left: -60px;
    position: relative;
    margin-right: -70px;
    background-position: -23px -9px;
}
.section_six .hero img {
    width: 180px;
    display: block;
    padding-top: 230px;
    margin-left: 90px;
}
.sections.footer {
    padding-bottom: 50px;
    margin-top: 30px;
}
.section_six .usa {
    text-align: center;
    margin-top: 10px;
}
.section_six .usa img {
    margin-top: -5px;
    margin-right: 15px;
}
.section_six img.footer_logo {
    display: block;
    margin: 0 auto;
}
.section_six img.pink_arrow_bottom {
    margin-top: -80px;
    position: absolute;
    margin-left: 10px;
}
div.loading_wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    top: 0;
    left: 0;
}
div.loading_window {
    width: 420px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin-top: 15%;
}
.loading_window .line_one {
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.loading_window .line_two {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.loading_window .line_three {
    font-size: 24px;
    margin-top: 0px;
    color: red;
}
.form_fields {
    width: 280px;
    margin: 0 auto;
}
.form_fields p {
    margin: 0;
}
input[type=text],
input[type=tel],
input[type=email],
select {
    background-color: #f1f1f1;
    border: 1px solid #999999;
    display: inline-block;
    width: 170px;
    height: 25px;
    padding-left: 8px;
    margin-bottom: 3px;
    box-sizing: border-box;
}
label {
    color: black;
    font-size: 13px;
    text-align: right;
    width: 95px;
    height: 20px;
    display: inline-block;
    padding-top: 4px;
    padding-right: 5px;
    margin-bottom: 3px;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
select:focus {
    border: 1px solid grey;
    border-bottom: 2px solid #1e90ff;
    outline: none;
}
span.help-block.form-error {
    display: none;
}
.has-error input[type=email],
.has-error input[type=text],
.has-error input[type=tel],
input[type=email].has-error,
input[type=text].has-error,
input[type=tel].has-error,
select.has-error {
    border: 1px solid grey!important;
    border-bottom: 2px solid #ff5e45!important;
    background-image: url(../images/icon_validation.png);
    background-size: 16px;
    background-position: 148px -18px;
    background-repeat: no-repeat;
}
.has-error select {
    border: 1px solid grey!important;
    border-bottom: 2px solid #ff5e45!important;
    background-image: url(../images/icon_validation.png);
    background-size: 16px;
    background-position: 140px -18px;
    background-repeat: no-repeat;
}
.has-success input[type=email],
.has-success input[type=text],
.has-success input[type=tel],
input[type=email].has-success,
input[type=text].has-success,
input[type=tel].has-success,
select.has-success
 {
    border: 1px solid grey!important;
    background-image: url(../images/icon_validation.png);
    background-size: 16px;
    background-position: 148px 4px;
    background-repeat: no-repeat;
}
.has-success select {
    border: 1px solid grey!important;
    background-image: url(../images/icon_validation.png);
    background-size: 16px;
    background-position: 148px 4px;
    background-repeat: no-repeat;
}
.address_field {}.pac-container {
    width: 300px!important;
}
.pac-item {
    height: 46px;
}
.pac-item,
.pac-item-query {
    font-size: 16px;
    line-height: 46px;
}
.pac-item-query {
    padding-right: 7px;
}
.pac-icon {
    margin-top: 10px;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}