@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page_wrap {
    min-width: 900px;
}
.sections .content {
    width: 900px;
    margin: 0 auto;
}
.ib {
    display: inline-block;
    vertical-align: top;
}
.bold {
    font-weight: bold;
}
.medium {
    font-weight: 500;
}
.normal {
    font-weight: normal;
}
.left_side {
    display: inline-block;
    vertical-align: top;
}
.right_side {
    display: inline-block;
    vertical-align: top;
}
.left {
    display: inline-block;
    vertical-align: top;
}
.right {
    display: inline-block;
    vertical-align: top;
}
.teal {
    color: #41aaad;
}
.tac {
    text-align: center;
}
p,
h1,
h2,
h3,
h4 {
    margin: 0;
}
p {
    font-size: 18px;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: #fa3664;
    font-weight: 500;
    font-size: 28px;
}
.pink {
    color: #fa3664;
}
.sep {
    margin-top: 20px;
}
.red {
    color: red;
}
.honeydew {
    color: #f1f7eb;
}
.center {
    display: block;
    margin: 0 auto;
}
input.button_active:active {
    -ms-transform: scale(.95);
    -webkit-transform: scale(.95);
    transform: scale(.95);
}
.section_one {
    background: url(../images/gradient_bg.jpg) center top repeat-x;
}
.section_one .content {
    background: url(../images/garcinia_fruit_group.png) right 90px no-repeat;
}
.section_one .header {
    padding-top: 10px;
    height: 140px;
    padding-left: 25px;
    color: #41aaad;
}
.section_one .header .top_header {
    font-size: 47px;
}
.section_one .header h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 55px;
}
.section_one img.seals {
    width: 190px;
    margin-left: 15px;
    margin-top: 10px;
}
.container {
    width: 720px;
    margin: 0 auto;
}
.coupon_wrap {
    width: 720px;
    margin: 0 auto;
    border: 6px solid #41aaad;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}
img.progress_bar {
    margin: 20px auto;
    margin-bottom: 0;
}
.thankyou_title {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.thankyou_title h4 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
}
.thankyou_title p {
    font-size: 16px;
}
.wait_title {
    width: 600px;
    margin: 0 auto;
    padding: 30px 0;
}
.wait_title h3 {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    color: red;
    margin-bottom: 5px;
}
.wait_title p {
    font-size: 20px;
    text-align: center;
}
.coupon_container {
    margin: 0 auto;
    width: 600px;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
}
.coupon {
    background-color: #eaf7fd;
    border: 5px dashed black;
}
.bottle_wrap {
    text-align: center;
    width: 250px;
}
.bottle_wrap img {
    width: 190px;
    margin: 25px 0;
}
.bottle_info {
    width: 375px;
    margin-left: -40px;
    text-align: center;
	margin-top:50px;
}
.bottle_info p {
    color: #17668e;
	font-weight: 900;
}
p.we_secure {
    text-align: center;
    font-weight: bold;
    color: #757575;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}
p.line_one {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
p.line-2 {
    color: red;
    font-weight: 300;
    font-size: 26px;
}
p.line_three {
    font-size: 22px;
    line-height: 25px;
    height: 70px;
}
p.line_three span {
    text-transform: uppercase;
    font-size: 18px;
}
p.line_four span {
    font-weight: 700;
    text-transform: uppercase;
}
p.line_five {
    margin-top: 10px;
    font-weight: 700;
    font-size: 50px;
}
div.scissors_wrap {
    width: 100%;
    text-align: right;
}
.scissors_wrap img {
    width: 70px;
    margin-right: 30px;
}
a.nothankyou {
    margin: 30px auto;
    color: grey;
    font-size: 12px;
}
img.footer_logos {
    width: 680px;
    margin: 10px auto;
}
.submitbutton {
    outline: none;
}